<div class="row">
    <div class="col-md-4">
        <div ng-include="'/views/logo.html'"></div>
    </div>
    <div class="col-md-8 text-right">
        <h2 style="margin-top: 50px;">
            <i class="fa fa-lock"></i> Entrar no sistema
        </h2>
    </div>

    <div ng-show="isBeforeJuly25" class="col-md-12">
        <div class="row">
            <div class="col-md-8 center-block" style="float: none">
                <div class="panel panel-default">
                    <div class="panel-heading">Acesso Suspenso</div>
                    <div class="panel-body text-center">
                        <p>Com objetivo de realizar melhorias técnicas, a Plataforma Busca Ativa Escolar ficará fora do ar entre sexta-feira, 21/07, às 14h e segunda-feira 24/07, às 8h.</p>
                        <p>Ao retornar ao ar, a Plataforma já contará com as novas funcionalidades que preparamos para aprimorar a implementação pelos municípios e estados.</p>
                        <p>Agradecemos a compreensão!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <form ng-show="!isBeforeJuly25" name="userLogin" class="col-md-12" ng-submit="login()">
        <div class="row">
            <div class="col-md-8 center-block" style="float: none">
                <div class="panel panel-default">
                    <div class="panel-heading">Acessar</div>
                    <div class="panel-body">
                        <p>Bem-vindo(a) à Busca Ativa Escolar.</p>
                        <p>
                            Preencha os campos a seguir com seu e-mail cadastrado e senha.
                        </p>

                        <div class="form-group">
                            <label for="fld-email" class="control-label"><i class="fa fa-envelope"></i> E-mail:</label>
                            <input id="fld-email" class="form-control" type="email" name="email" ng-model="email" />
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <label for="fld-password" class="control-label"><i class="fa fa-key"></i> Senha:</label>
                                <input id="fld-password" class="form-control" type="password" name="password" ng-model="password" />
                                <span class="input-group-btn" uib-tooltip="Exibir a senha">
                                    <button type="button" class="btn btn-fab btn-fab-mini" ng-click="showPassowrd()" style="margin-top: 20px;">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a type="button" class="btn btn-primary" ui-sref="tenant_signup"><i class="fa fa-edit"></i> Adesão/Readesão de município</a>
                                <a type="button" class="btn btn-primary" href="{{endpoints.readesaoURL}}"><i class="fa fa-edit"></i> Adesão/Readesão de estado</a>
                            </div>
                            <div class="col-lg-6 text-right">
                                <a type="button" class="btn btn-primary" ui-sref="forgot_password"><i class="fa fa-question-circle"></i> Esqueci minha senha</a>
                                <button ng-show="!isLoading" type="submit" class="btn btn-primary btn-raised pull-right">
                                    <i class="fa fa-sign-in"></i> Entrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="false" class="panel panel-default">
                    <div class="panel-heading">Acessar</div>
                    <div class="panel-body">
                        <p>Bem-vindo(a) à Busca Ativa Escolar.</p>
                        <p>
                            Preencha os campos a seguir com seu e-mail cadastrado e senha.
                        </p>

                        <div class="form-group">
                            <label for="fld-email" class="control-label"><i class="fa fa-envelope"></i> E-mail:</label>
                            <input id="fld-email" class="form-control" type="email" name="email" ng-model="email" />
                        </div>

                        <div class="form-group">
                            <div class="input-group">
                                <label for="fld-password" class="control-label"><i class="fa fa-key"></i> Senha:</label>
                                <input id="fld-password" class="form-control" type="password" name="password" ng-model="password" />
                                <span class="input-group-btn" uib-tooltip="Exibir a senha">
                                    <button type="button" class="btn btn-fab btn-fab-mini" ng-click="showPassowrd()" style="margin-top: 20px;">
                                        <i class="fa fa-eye"></i>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix">
                        <div class="row">
                            <div class="col-lg-6">
                                <a type="button" class="btn btn-primary" ui-sref="tenant_signup"><i class="fa fa-edit"></i> Adesão/Readesão de município</a>
                                <a type="button" class="btn btn-primary" href="{{endpoints.readesaoURL}}"><i class="fa fa-edit"></i> Adesão/Readesão de estado</a>
                            </div>
                            <div class="col-lg-6 text-right">
                                <a type="button" class="btn btn-primary" ui-sref="forgot_password"><i class="fa fa-question-circle"></i> Esqueci minha senha</a>
                                <button ng-show="!isLoading" type="submit" class="btn btn-primary btn-raised pull-right">
                                    <i class="fa fa-sign-in"></i> Entrar
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 center-block" style="float: none">
                <div class="text-center">
                    <a type="button" class="btn btn-warning" ng-click="showAdvanced = true">Opções avançadas</a>
                </div>
                <div class="panel panel-default" ng-show="showAdvanced">
                    <div class="panel-heading">
                        API
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Endpoint</th>
                                    <th>Opções</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(endpointID, endpoint) in endpoints.list" ng-show="endpoints.allowed.indexOf(endpointID) !== -1">
                                    <td>
                                        {{endpoint.label}}<br /><small>{{endpoint.api}}</small>
                                    </td>
                                    <td>
                                        <a ng-show="config.CURRENT_ENDPOINT !== endpointID" ng-click="setAPIEndpoint(endpointID)" class="btn btn-xs btn-raised btn-primary">Usar</a>
                                        <div ng-show="config.CURRENT_ENDPOINT === endpointID" class="btn btn-xs btn-raised btn-success">
                                            Atual
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </form>

</div>