<div class="panel panel-default">

    <div class="panel-heading">
        <h3><strong ng-show="!$parent.isEditing">{{getCurrentStep()}}.</strong> <i class="fa fa-users"></i> Cadastre os grupos de trabalho</h3>
    </div>

    <form name="$parent.$parent.groupsEdit" class="panel-body">

        <p ng-if="identity.getCurrentTenant()">
            Os grupos de trabalho respondem por diferentes motivos de evasão escolar. Os grupos que você cadastrar aqui poderão ser personalizados para receber um ou mais alertas e casos, de acordo com o motivo. O ideal é que façam parte dos grupos as secretarias municipais ou órgãos da administração pública, pois são eles que irão agir, junto com a secretaria de educação, na (re)matrícula das crianças e dos adolescentes.
        </p>
        <p ng-if="!identity.getCurrentTenant()">
            Os grupos de trabalho deverão ser criados com base na organização da secretaria estadual de educação no território. Ou seja, cada grupo deverá corresponder às coordenadorias/regionais/diretorias estaduais de ensino, as quais serão responsáveis pela (re)matrícula das crianças e adolescentes, cujos casos lhes foram atribuídos pelos municípios de determinada região.
        </p>

        <style>
            .selectgroup {
                height: 300px;
                overflow-y: scroll;
                overflow-x: hidden;
                margin-left: 20px;
                scrollbar-width: thin;
                scrollbar-color: #666666 transparent;
            }
            /* chrome */
            .selectgroup::-webkit-scrollbar {
                width: 8px;
            }
            .selectgroup::-webkit-scrollbar-track {
                background: #ffffff;
            }
            .selectgroup::-webkit-scrollbar-thumb {
                background-color: #666666;
                border-radius: 20px;
                border: 3px solid #666666;
            }

        </style>

        <div class="row">

            <div class="col-md-4">

                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input ng-model="$parent.searchGroupTwo" ng-keyup="filterGroups('two')" type="text" class="form-control" placeholder="Filtrar">
                </div>
                <div class="selectgroup">
                    <a href="#!"
                       ng-repeat="group in mirrorGroupsTwo track by group.name"
                       class="list-group-item list-group-item-action"
                       ng-class="{'active': group.id == selectedTabTwo}"
                       ng-click="selectGroup(2, group)">
                        {{group.name}}
                        <span class="badge label label-primary" ng-click="editGroup(group)"><i class="fa fa-edit"></i></span>
                        <span class="badge label label-danger" ng-click="editGroup(group)"><i class="fa fa-close"></i></span>
                    </a>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-circle"></i></span>
                    <input type="text" class="form-control" placeholder="Novo">
                </div>

            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input ng-model="$parent.searchGroupThree" ng-keyup="filterGroups('three')" type="text" class="form-control" placeholder="Filtrar">
                </div>
                <div class="selectgroup">
                    <a href="#!"
                       ng-repeat="group in mirrorGroupsThree track by group.name"
                       class="list-group-item list-group-item-action"
                       ng-class="{'active': group.id == selectedTabThree}"
                       ng-click="selectGroup(3, group)">
                        {{group.name}}</a>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-circle"></i></span>
                    <input type="text" class="form-control" placeholder="Novo">
                </div>
            </div>

            <div class="col-md-4">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input ng-model="$parent.searchGroupFour" ng-keyup="filterGroups('four')" type="text" class="form-control" placeholder="Filtrar">
                </div>
                <div class="selectgroup">
                    <a href="#!"
                       ng-repeat="group in mirrorGroupsFour track by group.name"
                       class="list-group-item list-group-item-action"
                       ng-class="{'active': group.id == selectedTabFour}"
                       ng-click="selectGroup(4, group)">
                        {{group.name}}</a>
                </div>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-plus-circle"></i></span>
                    <input type="text" class="form-control" placeholder="Novo">
                </div>
            </div>

        </div>


    </form>

</div>