<div class="panel panel-default">

	<div class="panel-heading">
		<h3><strong ng-show="!$parent.isEditing">{{getCurrentStep()}}.</strong> <i class="fa fa-users"></i> Cadastre os grupos de trabalho</h3>
	</div>

	<form name="$parent.$parent.groupsEdit" class="panel-body">

		<p ng-if="identity.getCurrentTenant()">
			Os grupos de trabalho respondem por diferentes motivos de evasão escolar. Os grupos que você cadastrar aqui poderão ser personalizados para receber um ou mais alertas e casos, de acordo com o motivo. O ideal é que façam parte dos grupos as secretarias municipais ou órgãos da administração pública, pois são eles que irão agir, junto com a secretaria de educação, na (re)matrícula das crianças e dos adolescentes.
		</p>
		<p ng-if="!identity.getCurrentTenant()">
			Os grupos de trabalho deverão ser criados com base na organização da secretaria estadual de educação no território. Ou seja, cada grupo deverá corresponder às coordenadorias/regionais/diretorias estaduais de ensino, as quais serão responsáveis pela (re)matrícula das crianças e adolescentes, cujos casos lhes foram atribuídos pelos municípios de determinada região.
		</p>

		<table class="table sign-up-groups">
			<thead>
			<tr>
				<th width="90%">Nome</th>
				<th width="10%">Opções</th>
			</tr>
			</thead>

			<tbody>

			<tr ng-repeat="(i, group) in getGroups() track by i">

				<td>

					<input
							id="id_{{i}}"
							type="text"
							ng-model="group.name"
							name="group_{{i}}"
							class="form-control"
							ng-enter="updateGroup(group.name, group.id)"
							ng-blur="updateGroup(group.name, group.id)"/>

					<div ng-repeat="(j, group2) in group.children track by j" style="margin-left: 30px;">

						<div class="row">
							<div class="col-md-9">
								<input
										id="id_{{j}}"
										type="text"
										ng-model="group2.name"
										class="form-control"
										ng-enter="updateGroup(group2.name, group2.id)"
										ng-blur="updateGroup(group2.name, group2.id)"/>
							</div>
							<div class="col-md-3">
								<a ng-if="group2.children.length == 0" class="btn btn-raised btn-danger" ng-click="removeGroup(group2);" uib-tooltip="Remover grupo"><i class="fa fa-times"></i></a>
								<a class="btn btn-raised btn-info" ng-click="moveGroup(group2);" uib-tooltip="Mover grupo"><i class="fa fa-arrows"></i></a>
							</div>
						</div>

						<div ng-repeat="(k, group3) in group2.children track by k" style="margin-left: 30px;">

							<div class="row">
								<div class="col-md-9">
									<input
											id="id_{{k}}"
											type="text"
											ng-model="group3.name"
											class="form-control"
											ng-enter="updateGroup(group3.name, group3.id)"
											ng-blur="updateGroup(group3.name, group3.id)"/>
								</div>
								<div class="col-md-3">
									<a ng-if="group3.children.length == 0" class="btn btn-raised btn-danger" ng-click="removeGroup(group3);" uib-tooltip="Remover grupo"><i class="fa fa-times"></i></a>
									<a class="btn btn-raised btn-info" ng-click="moveGroup(group3);" uib-tooltip="Mover grupo"><i class="fa fa-arrows"></i></a>
								</div>
							</div>

							<div ng-repeat="(l, group4) in group3.children track by l" style="margin-left: 30px;">

								<div class="row">
									<div class="col-md-9">
										<input
											id="id_{{l}}"
											type="text"
											ng-model="group4.name"
											name="group4_{{l}}"
											class="form-control"
											ng-enter="updateGroup(group4.name, group4.id)"
											ng-blur="updateGroup(group4.name, group4.id)"/>
									</div>
									<div class="col-md-3">
										<a class="btn btn-raised btn-danger" ng-click="removeGroup(group4);" uib-tooltip="Remover grupo"><i class="fa fa-times"></i></a>
										<a class="btn btn-raised btn-info" ng-click="moveGroup(group4);" uib-tooltip="Mover grupo"><i class="fa fa-arrows"></i></a>
									</div>
								</div>

							</div>

							<input
									type="text"
									ng-model="$parent.newSubgroupGroupNames[i][j][k+1]"
									ng-blur="addSubGroup($parent.newSubgroupGroupNames[i][j][k+1],group3.id)"
									class="form-control"
									placeholder="Novo subgrupo para {{group3.name}} - Exemplo: XXX"
									ng-enter="addSubGroup($parent.newSubgroupGroupNames[i][j][k+1],group3.id)"
									style="margin-left: 30px;"/>

						</div>

						<input
								type="text"
								ng-model="$parent.newSubgroupGroupNames[i][j+1][0]"
								ng-blur="addSubGroup($parent.newSubgroupGroupNames[i][j+1][0],group2.id)"
								class="form-control"
								placeholder="Novo subgrupo para {{group2.name}} - Exemplo: Secretaria de ..."
								ng-enter="addSubGroup($parent.newSubgroupGroupNames[i][j+1][0],group2.id)"
								style="margin-left: 30px;"/>

					</div>

					<input
							type="text"
							ng-model="$parent.newSubgroupGroupNames[i][0][0]"
							ng-blur="addSubGroup($parent.newSubgroupGroupNames[i][0][0],group.id)"
							class="form-control"
							placeholder="Novo subgrupo para {{group.name}} - Exemplo: DRE/ CRE"
							ng-enter="addSubGroup($parent.newSubgroupGroupNames[i][0][0],group.id)"
							style="margin-left: 30px;"/>

				</td>

				<td>
					<span class="btn btn-raised btn-default" ng-show="!group.is_deleting && group.is_primary" uib-tooltip="Esse grupo é responsável pelas atividades de (re)matrícula e observação, e não pode ser apagado ou editado.">Obrigatório</span>
					<a class="btn btn-raised btn-danger" ng-show="!group.is_deleting && !group.is_primary && group.children.length == 0" ng-click="removeGroup(group);" uib-tooltip="Remover grupo"><i class="fa fa-times"></i></a>
				</td>

			</tr>

			<!--tr>
				<td>
					<input
							type="text"
							ng-model="$parent.newPrincipalGroupName"
							ng-blur="addPrincipalGroup()"
							class="form-control"
							placeholder="Novo grupo principal..."
							ng-enter="addPrincipalGroup()"/>
				</td>
				<td><a class="btn btn-raised btn-success" ng-click="addPrincipalGroup()" uib-tooltip="Adicionar grupo">Salvar</a></td>
			</tr-->

			</tbody>

		</table>

	</form>

</div>