<div class="row">
  <div class="col-md-4">
    <div ng-include="'/views/logo.html'"></div>
  </div>
  <div class="col-md-8 text-right">
    <h2 style="margin-top: 50px;"><i class="fa fa-cog"></i> Passo a Passo</h2>
  </div>
</div>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>
      <i class="fa fa-file-text-o"></i> PASSO A PASSO PARA ACEITAR O NOVO TERMO
      DE ADES&Atilde;O &Agrave; ESTRAT&Eacute;GIA E COMPROMISSO DE PRIVACIDADE
      DA PLATAFORMA
    </h3>
  </div>
  <div class="panel-body">
    <div
      style="text-align: justify;
  text-justify: inter-word;"
    >
      O(a) prefeito(a), no caso dos munic&iacute;pios, e o(a) gestor(a)
      estadual, no caso dos estados, receber&atilde;o um e-mail informando sobre
      o novo termo. Basta clicar no bot&atilde;o indicado:
      <p style="margin-top:0pt; margin-bottom:8pt; text-align:center;">
        <img
          src="https://myfiles.space/user_files/95540_c4a3ce073843052d/1632915198_passo-a-passo-dr/1632915198_passo-a-passo-dr-1.png"
          width="485"
          height="271"
          alt=""
        />
      </p>
      Ao clicar no bot&atilde;o, o(a) prefeito(a) ou o(a) gestor(a) estadual
      ser&aacute; direcionado(a) &agrave; p&aacute;gina do novo termo:
      <p
        style="margin-top:0pt; margin-bottom:8pt; text-align:center; line-height:108%; font-size:12pt;"
      >
        <img
          src="https://myfiles.space/user_files/95540_c4a3ce073843052d/1632915198_passo-a-passo-dr/1632915198_passo-a-passo-dr-2.jpeg"
          width="567"
          height="423"
          alt=""
        />
      </p>
      Basta ler o termo, clicar no bot&atilde;o &ldquo;SIM&rdquo; e ent&atilde;o
      &ldquo;FINALIZAR&rdquo;.<br />E aten&ccedil;&atilde;o: S&oacute;
      ser&atilde;o validados pela gest&atilde;o nacional os termos de
      ades&atilde;oem que o(a) prefeito(a) ou o(a) gestor(a) estadual realizarem
      o aceite. E lembre-se de clicar em &ldquo;FINALIZAR&rdquo; para salvar a
      opera&ccedil;&atilde;o.
      <br />
      <br />
      <br />
      PASSO A PASSO PARA ACEITAR O AVISO DE PRIVACIDADE DOS USU&Aacute;RIOS.<br />
      Ao logar na plataforma, todos(as) os(as)&nbsp;
      <strong> usu&aacute;rios(as)</strong> , de todos os perfis, ser&atilde;o
      direcionados para uma p&aacute;gina de revis&atilde;o de cadastro e aceite
      do Aviso de Privacidade:<br /><br /><br />
      <p
        style="margin-top:0pt; margin-bottom:8pt; text-align:center; line-height:108%; font-size:12pt;"
      >
        <img
          src="https://myfiles.space/user_files/95540_c4a3ce073843052d/1632915198_passo-a-passo-dr/1632915198_passo-a-passo-dr-3.png"
          width="566"
          height="287"
          alt=""
        />
      </p>
      Os passos s&atilde;o: confirmar os dados pessoais, criar uma nova senha de
      acordo com as orienta&ccedil;&otilde;es indicadas pela plataforma, caso a
      troca de senha seja necess&aacute;ria, ler o aviso de privacidade, clicar
      nas tr&ecirc;s caixinhas declarando o seu aceite e ent&atilde;o, clicar em
      &ldquo;SALVAR&rdquo;. Lembre-se sempre de salvar a opera&ccedil;&atilde;o
      ao terminar.<br />
      E aten&ccedil;&atilde;o: s&oacute; ser&aacute; poss&iacute;vel concluir a
      a&ccedil;&atilde;o e continuar a usar a plataforma normalmente ao marcar
      as TR&Ecirc;S caixinhas declarando concordar com o aviso de privacidade.
    </div>
  </div>
</div>
