<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TERMO DE RESPONSABILIDADE E CONFIDENCIALIDADE
    </title>
</head>
<body>
<div class="col-md-12">
    <br>
    <br>
    <br>
    <!-- #######  YAY, I AM THE SOURCE EDITOR! #########-->
    <h1>TERMO DE RESPONSABILIDADE E CONFIDENCIALIDADE (<span style="color: red">MODELO Retirado da Internet</span>)</h1>
    <p>Eu <b>{{identity.getCurrentUser().name}}</b>, nacionalidade, estado civil, cargo, inscrito (a) no <b>CPF sob o n&ordm;
        {{identity.getCurrentUser().cpf}}</b>, declaro ter ci&ecirc;ncia
        da obrigatoriedade, a partir desta data, quanto ao cumprimento das regulamenta&ccedil;&otilde;es descritas na
        Pol&iacute;tica
        de Seguran&ccedil;a da Informa&ccedil;&atilde;o da Estratégia Busca Ativa Escolar, institu&iacute;da por meio da
        Resolu&ccedil;&atilde;o CONSUNI n&ordm; 32/2014. Comprometo-me ainda a cumprir o dever de agente p&uacute;blico
        em
        salvaguardar a informa&ccedil;&atilde;o sigilosa e a pessoal, bem como assegurar a publicidade da informa&ccedil;&atilde;o
        ostensiva, utilizando-as, exclusivamente, para o exerc&iacute;cio das atribui&ccedil;&otilde;es de cargo,
        emprego ou
        fun&ccedil;&atilde;o p&uacute;blica, sob pena de responsabiliza&ccedil;&atilde;o administrativa, civil e penal.
        (Norma Complementar 20/IN01/DSIC/GSIPR).
    </p>
    <p>Por este termo de responsabilidade e confidencialidade, comprometo-me a:</p>
    <ol>
        <li> N&atilde;o utilizar informa&ccedil;&otilde;es sigilosa (protegida por legisla&ccedil;&atilde;o espec&iacute;fica)
            ou pessoal a que tiver acesso, para lograr benef&iacute;cio pr&oacute;prio exclusivo e/ou unilateral,
            presente
            ou futuro, ou para o uso de terceiros. Estas informa&ccedil;&otilde;es nos diversos formatos (impresso, magn&eacute;tico
            ou digital) devem ser tratadas com absoluta reserva em qualquer condi&ccedil;&atilde;o e n&atilde;o podem
            ser
            divulgadas ou dadas a conhecer a terceiros n&atilde;o autorizados, inclusive aos pr&oacute;prios usu&aacute;rios
            (servidores p&uacute;blicos, estagi&aacute;rios, prestadores de servi&ccedil;o ou terceirizados) da
            Estratégia
            Busca Ativa Escolar, sem a autoriza&ccedil;&atilde;o do propriet&aacute;rio da informa&ccedil;&atilde;o;
        </li>
    </ol>
    <ol start="2">
        <li> N&atilde;o efetuar grava&ccedil;&atilde;o ou c&oacute;pia da documenta&ccedil;&atilde;o sigilosa ou pessoal
            a
            que tiver acesso para fins diversos n&atilde;o relativos &agrave; fun&ccedil;&atilde;o ou cargo;
        </li>
    </ol>
    <ol start="3">
        <li> Manter a necess&aacute;ria cautela quando da exibi&ccedil;&atilde;o de dados em tela, impressora ou na
            grava&ccedil;&atilde;o
            em meios eletr&ocirc;nicos, a fim de evitar que deles venham a tomar ci&ecirc;ncia pessoas n&atilde;o
            autorizadas;
        </li>
    </ol>
    <ol start="4">
        <li> N&atilde;o me ausentar da esta&ccedil;&atilde;o de trabalho sem encerrar a sess&atilde;o de uso do
            navegador,
            bloquear esta&ccedil;&atilde;o de trabalho, garantindo assim a impossibilidade de acesso indevido por
            terceiros;
        </li>
    </ol>
    <ol start="5">
        <li> N&atilde;o revelar minhas senhas a ningu&eacute;m e tomar o m&aacute;ximo de cuidado para que ela permane&ccedil;a
            somente de meu conhecimento;
        </li>
    </ol>
    <ol start="6">
        <li> Alterar minha senha regularmente e sempre que obrigat&oacute;rio ou que tenha suspei&ccedil;&atilde;o de
            descoberta por terceiros, n&atilde;o usando combina&ccedil;&otilde;es simples que possam ser facilmente
            descobertas;
        </li>
    </ol>
    <ol start="7">
        <li> Responder, em todas as inst&acirc;ncias, pelas consequ&ecirc;ncias das a&ccedil;&otilde;es ou omiss&otilde;es
            de minha parte que possam p&ocirc;r em risco ou comprometer a exclusividade de conhecimento de minha senha
            ou
            das transa&ccedil;&otilde;es a que tenha acesso.
        </li>
    </ol>
    <ol start="8">
        <li> N&atilde;o navegar em sites pornogr&aacute;ficos, defensores do uso de drogas, de pedofilia ou sites de
            cunho
            racistas e similares ou realizar qualquer atividade tipificada como crime, bem como n&atilde;o fazer
            download de
            material protegido por direitos autorais ou com conte&uacute;do impr&oacute;prio;
        </li>
    </ol>
    <ol start="9">
        <li> Respeitar as normas de seguran&ccedil;a e restri&ccedil;&otilde;es de sistema impostas pelos sistemas de
            seguran&ccedil;a&nbsp;
        </li>
    </ol>
    <p>implantados na institui&ccedil;&atilde;o;</p>
    <ol start="10">
        <li> Informar imediatamente &agrave; Superintend&ecirc;ncia Tecnologia da Informa&ccedil;&atilde;o (STI) da
            Estratégia Busca Ativa Escolar a respeito de qualquer incidente de seguran&ccedil;a da informa&ccedil;&atilde;o
            ou viola&ccedil;&atilde;o, intencional ou n&atilde;o, das regras descritas na Pol&iacute;tica de Seguran&ccedil;a
            da Informa&ccedil;&atilde;o e normativas correlacionadas.
        </li>
    </ol>
    <p>De acordo com o C&oacute;digo Penal Brasileiro (Decreto-Lei 2.848, de 1940) constitui infra&ccedil;&atilde;o
        inserir
        ou facilitar, o funcion&aacute;rio autorizado, a inser&ccedil;&atilde;o de dados falsos, alterar ou excluir
        indevidamente dados corretos nos sistemas informatizados ou bancos de dados da Administra&ccedil;&atilde;o P&uacute;blica
        com o fim de obter vantagem indevida para si ou para outrem ou para causar dano (Inclu&iacute;do pela Lei n&ordm;
        9.983, de 2000).&nbsp;
    </p>
    <p>O n&atilde;o cumprimento deste Termo implicar&aacute;, para os que estiverem envolvidos na viola&ccedil;&atilde;o
        do
        sigilo e uso das informa&ccedil;&otilde;es da Estratégia Busca Ativa Escolar, sem preju&iacute;zo da
        responsabilidade civil e criminal, nas seguintes san&ccedil;&otilde;es: Para Servidores: san&ccedil;&otilde;es
        internas, variando de simples advert&ecirc;ncia &agrave; demiss&atilde;o por justa causa, conforme Art. 132,
        inciso
        IX da Lei 8112/90. Para parceiros, estagi&aacute;rios, prestadores de servi&ccedil;o ou terceirizados: variando
        de
        advert&ecirc;ncia &agrave; rescis&atilde;o do respectivo contrato de presta&ccedil;&atilde;o de servi&ccedil;o,
        com
        aplica&ccedil;&atilde;o de todas as multas nele previstas por inadimplemento.
    </p>
    <p>Nestes Termos, as seguintes express&otilde;es s&atilde;o assim definidas:</p>
    <p>Agente P&uacute;blico: todo aquele que exerce, ainda que transitoriamente ou sem remunera&ccedil;&atilde;o, por
        elei&ccedil;&atilde;o,
        nomea&ccedil;&atilde;o, designa&ccedil;&atilde;o, contrata&ccedil;&atilde;o ou qualquer outra forma de
        investidura
        ou v&iacute;nculo, mandato, cargo, emprego ou fun&ccedil;&atilde;o nos &oacute;rg&atilde;os e entidades da
        Administra&ccedil;&atilde;o P&uacute;blica Federal.
    </p>
    <p>Informa&ccedil;&atilde;o: dados, processados ou n&atilde;o, que podem ser utilizados para produ&ccedil;&atilde;o
        e
        transmiss&atilde;o de conhecimento, contidos em qualquer meio, suporte ou formato.
    </p>
    <p>Informa&ccedil;&atilde;o pessoal: informa&ccedil;&atilde;o relacionada &agrave; pessoa natural identificada ou
        identific&aacute;vel, relativa &agrave; intimidade, vida privada, honra e imagem, como: resultado de exames m&eacute;dicos;
        lista de nomes, e-mail dos servidores ou colaboradores da Estratégia Busca Ativa Escolar e respectivos dados,
        armazenados sob qualquer forma; Informa&ccedil;&otilde;es referentes a sal&aacute;rios e benef&iacute;cios dos
        servidores.
    </p>
    <p>Informa&ccedil;&atilde;o sigilosa: informa&ccedil;&atilde;o submetida temporariamente &agrave; restri&ccedil;&atilde;o
        de acesso p&uacute;blico em raz&atilde;o de sua imprescindibilidade para a seguran&ccedil;a da sociedade ou do
        Estado, e aquelas abrangidas pelas demais hip&oacute;teses legais de sigilo, tais como: Sigilos Decorrentes de
        Direitos de Personalidade: Sigilo Fiscal, Sigilo Banc&aacute;rio, Comercial, Sigilo Empresarial, Sigilo Cont&aacute;bil;
        Sigilos de Processos e Procedimentos: Acesso a Documento Preparat&oacute;rio, Sigilo do Procedimento
        Administrativo
        Disciplinar em Curso, Sigilo do Inqu&eacute;rito Policial, Segredo de Justi&ccedil;a no Processo Civil, Segredo
        de
        Justi&ccedil;a no Processo Penal; Informa&ccedil;&atilde;o de Natureza Patrimonial: Segredo Industrial,&nbsp;
        Direito Autoral e Propriedade Intelectual de Programa de Computador, Propriedade Industrial.
    </p>
    <p>Incidente de seguran&ccedil;a: qualquer evento ou ocorr&ecirc;ncia que promova uma ou mais a&ccedil;&otilde;es
        que
        comprometam ou que seja amea&ccedil;a &aacute; integridade, autenticidade ou disponibilidade de qualquer ativo
        de TI
        da Estratégia Busca Ativa Escolar.
    </p>
    <p>Propriet&aacute;rio da informa&ccedil;&atilde;o: refere-se &agrave; parte interessada do &oacute;rg&atilde;o ou
        entidade da APF, indiv&iacute;duo legalmente institu&iacute;do por sua posi&ccedil;&atilde;o e/ou cargo, o qual
        &eacute; respons&aacute;vel prim&aacute;rio pela viabilidade e sobreviv&ecirc;ncia da informa&ccedil;&atilde;o.
    </p>
    <div ng-if="!signed">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
      <span class="input-group-addon">
          <input type="checkbox" ng-model="termo" aria-label="..."> Eu li e concordo com esse <b>TERMO DE RESPONSABILIDADE E CONFIDENCIALIDADE</b>
      </span>
                </div>
            </div>
        </div>
        <button ng-click="aceitarTermo()" ng-disabled="!termo" class="btn btn-raised btn-info pull-right">Aceitar Termo
        </button>
    </div>

    <div ng-if="signed" class="text-center">
        <br>
        <p>
            <b>TERMO JÁ ASSINADO</b>
        </p>
        <br>
        <br>
    </div>
</div>


</body>
</html>