/* Checkboxes */
#pending_alerts .span_status{
    margin-top: 15px;
}

#pending_alerts .container_check_alert {
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pending_alerts .container_year_educacenso{
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#pending_alerts .container_check_alert input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#pending_alerts .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
#pending_alerts .container_check_alert:hover input ~ .checkmark {
    background-color: #ccc;
}
#pending_alerts .container_check_alert input:checked ~ .checkmark {
    background-color: #2196F3;
}
#pending_alerts .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
#pending_alerts .container_check_alert input:checked ~ .checkmark:after {
    display: block;
}
#pending_alerts .container_check_alert .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/* Checkbox rejecteds alerts */

#pending_alerts .container_check_alert_rejected {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#pending_alerts .container_check_alert_rejected input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
#pending_alerts .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}
#pending_alerts .container_check_alert_rejected:hover input ~ .checkmark {
    background-color: #ccc;
}
#pending_alerts .container_check_alert_rejected input:checked ~ .checkmark {
    background-color: #2196F3;
}
#pending_alerts .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
#pending_alerts .container_check_alert_rejected input:checked ~ .checkmark:after {
    display: block;
}
#pending_alerts .container_check_alert_rejected .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}