@charset "UTF-8";
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .show-on-mobile {
    display: none !important;
  }
}

.rotate-icon {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* ANIMATION */
/* SHADOWS */
#app-navbar {
  z-index: 800;
}
#app-navbar a {
  padding: 20px 10px;
}
#app-navbar .navbar-brand {
  padding: 0;
  background-image: url('../images/logo_bae_header_v2.png?1562607820');
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 170px;
}
#app-navbar .navbar-brand strong {
  display: none !important;
}
#app-navbar .navbar-brand small {
  display: block;
  height: 18px;
  line-height: 18px;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  font-size: 10px;
  color: white;
  margin-top: 47px;
  text-align: center;
}
#app-navbar .logged-user .dropdown-toggle {
  padding: 12px 15px;
}
#app-navbar .logged-user .user-details {
  display: inline-block;
  vertical-align: middle;
}
#app-navbar .logged-user .user-details strong, #app-navbar .logged-user .user-details small {
  display: block;
}
#app-navbar .dropdown-menu {
  padding-bottom: 0;
}
#app-navbar .notification-center {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  max-height: 250px;
  overflow-y: scroll;
  box-shadow: inset 3px 3px 5px rgba(0, 0, 0, 0.25);
  background: #ddd;
}
#app-navbar .notification-center > span {
  color: #333;
  margin: 10px 0;
  text-align: center;
}
#app-navbar .notification-center .navbar-notification {
  cursor: pointer;
}
#app-navbar .divider.over-split-btn {
  margin-bottom: 0;
}
#app-navbar .split-btn {
  overflow: hidden;
  text-align: center;
  clear: none !important;
  border-right: 1px solid #ccc;
}
#app-navbar .split-btn:last-child {
  border-right: 0;
}

.navbar-chart-filter {
  background-color: #F7F7F9 !important;
  color: #404040 !important;
  border-radius: 2px !important;
  border: 0 !important;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12) !important;
}
.navbar-chart-filter a:hover {
  color: #BABABA !important;
}

.active-nav-chart {
  border-bottom: 1px solid;
}

.case-container .panel-body {
  padding: 0;
}

.step-list {
  display: block;
  position: relative;
}
.step-list .step {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 60px;
  cursor: pointer;
  padding: 10px 10px 10px 55px;
}
.step-list .step strong, .step-list .step small {
  display: block;
  width: 100%;
  height: 20px;
  line-height: 20px;
}
.step-list .step .btn-under {
  margin: 5px 0;
}
.step-list .step.step-pending strong {
  height: 40px;
  line-height: 40px;
}
.step-list .step::before {
  position: absolute;
  left: 35px;
  top: 0;
  width: 1px;
  height: 60px;
  border-left: 1px solid #ccc;
  content: '';
}
.step-list .step::after {
  position: absolute;
  left: 25px;
  top: 20px;
  width: 20px;
  height: 20px;
  border: 3px solid #ccc;
  border-radius: 20px;
  z-index: 10;
  content: '';
}
.step-list .step.step-open {
  background-color: rgba(0, 184, 237, 0.15);
}
.step-list .step.step-open strong {
  color: #00b8ed;
}
.step-list .step .btn-under {
  margin: 2px 0;
}
.step-list .step:first-child::before {
  top: 20px;
  height: 40px;
}
.step-list .step:last-child::before {
  height: 20px;
}
.step-list .step.step-current::after {
  background: dodgerblue;
}
.step-list .step.step-completed::after {
  background: greenyellow;
}
.step-list .step.step-pending::after {
  background: #ddd;
}
.step-list .step .not-allowed-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-image: url('../images/ico_forbidden.png?1562607820');
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

.has-subnav-tabs .nav-tabs {
  background: #00b8ed;
}
.has-subnav-tabs .nav-tabs .uib-tab {
  margin-top: 5px;
  transition: all 0.2s ease;
}
.has-subnav-tabs .nav-tabs .uib-tab.active a {
  background: white !important;
  color: #333 !important;
}

footer.app-footer {
  border-top: 15px solid #0c5e8e;
  padding: 25px 0;
}
footer.app-footer small {
  display: block;
  margin: 15px 0;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 12px;
  font-weight: lighter;
  color: #0c5e8e;
}
footer.app-footer a.credits-btn {
  display: block;
  margin-top: 30px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 10px;
  font-weight: lighter;
  text-align: center;
  color: #0c5e8e;
}

.loading-feedback {
  display: none;
  position: fixed !important;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  vertical-align: middle;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.loading-feedback.feedback-visible {
  display: block;
  z-index: 500 !important;
}
.loading-feedback .feedback-spinner {
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.support-widget {
  position: fixed;
  bottom: 10px;
  right: 20px;
  width: 100%;
  max-width: 100px;
  z-index: 10000;
}
.support-widget .support-widget-button {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border-radius: 40px;
  background-color: #0c5e8e;
  color: white;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
.support-widget .support-widget-button:hover {
  background-color: #00b8ed;
}

.container_check_user_canceled {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 45px;
}

.container_check_user_canceled input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container_check_user_canceled:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_check_user_canceled input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_check_user_canceled input:checked ~ .checkmark:after {
  display: block;
}

.container_check_user_canceled .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container_check_city_canceled {
  display: block;
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: 15px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_check_city_canceled input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

.container_check_city_canceled:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_check_city_canceled input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_check_city_canceled input:checked ~ .checkmark:after {
  display: block;
}

.container_check_city_canceled .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container_check_alert_rejected {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 20px;
}

.container_check_alert_rejected input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container_check_alert_rejected:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_check_alert_rejected input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_check_alert_rejected input:checked ~ .checkmark:after {
  display: block;
}

.container_check_alert_rejected .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.span_status {
  margin-top: 15px;
}

.container_check_school {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 20px;
}

.container_year_educacenso {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 20px;
}

.container_check_school input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.container_check_school:hover input ~ .checkmark {
  background-color: #ccc;
}

.container_check_school input:checked ~ .checkmark {
  background-color: #2196F3;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_check_school input:checked ~ .checkmark:after {
  display: block;
}

.container_check_school .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*
 * Table styles
 */
table.dataTable {
  width: 100%;
  margin: 0 auto;
  clear: both;
  border-collapse: separate;
  border-spacing: 0;
  /*
   * Header and footer styles
   */
  /*
   * Body styles
   */
}

table.dataTable thead th,
table.dataTable tfoot th {
  font-weight: bold;
}

table.dataTable thead th,
table.dataTable thead td {
  padding: 10px 18px;
  border-bottom: 1px solid #111;
}

table.dataTable thead th:active,
table.dataTable thead td:active {
  outline: none;
}

table.dataTable tfoot th,
table.dataTable tfoot td {
  padding: 10px 18px 6px 18px;
  border-top: 1px solid #111;
}

table.dataTable thead .sorting,
table.dataTable thead .sorting_asc,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
  cursor: pointer;
  *cursor: hand;
  background-repeat: no-repeat;
  background-position: center right;
}

table.dataTable thead .sorting {
  background-image: url("../images/sort_both.png");
}

table.dataTable thead .sorting_asc {
  background-image: url("../images/sort_asc.png");
}

table.dataTable thead .sorting_desc {
  background-image: url("../images/sort_desc.png");
}

table.dataTable thead .sorting_asc_disabled {
  background-image: url("../images/sort_asc_disabled.png");
}

table.dataTable thead .sorting_desc_disabled {
  background-image: url("../images/sort_desc_disabled.png");
}

table.dataTable tbody tr {
  background-color: #ffffff;
}

table.dataTable tbody tr.selected {
  background-color: #B0BED9;
}

table.dataTable tbody th,
table.dataTable tbody td {
  padding: 8px 10px;
}

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd;
}

table.dataTable.row-border tbody tr:first-child th,
table.dataTable.row-border tbody tr:first-child td, table.dataTable.display tbody tr:first-child th,
table.dataTable.display tbody tr:first-child td {
  border-top: none;
}

table.dataTable.cell-border tbody th, table.dataTable.cell-border tbody td {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr th:first-child,
table.dataTable.cell-border tbody tr td:first-child {
  border-left: 1px solid #ddd;
}

table.dataTable.cell-border tbody tr:first-child th,
table.dataTable.cell-border tbody tr:first-child td {
  border-top: none;
}

table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
  background-color: #f9f9f9;
}

table.dataTable.stripe tbody tr.odd.selected, table.dataTable.display tbody tr.odd.selected {
  background-color: #acbad4;
}

table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
  background-color: #f6f6f6;
}

table.dataTable.hover tbody tr:hover.selected, table.dataTable.display tbody tr:hover.selected {
  background-color: #aab7d1;
}

table.dataTable.order-column tbody tr > .sorting_1,
table.dataTable.order-column tbody tr > .sorting_2,
table.dataTable.order-column tbody tr > .sorting_3, table.dataTable.display tbody tr > .sorting_1,
table.dataTable.display tbody tr > .sorting_2,
table.dataTable.display tbody tr > .sorting_3 {
  background-color: #fafafa;
}

table.dataTable.order-column tbody tr.selected > .sorting_1,
table.dataTable.order-column tbody tr.selected > .sorting_2,
table.dataTable.order-column tbody tr.selected > .sorting_3, table.dataTable.display tbody tr.selected > .sorting_1,
table.dataTable.display tbody tr.selected > .sorting_2,
table.dataTable.display tbody tr.selected > .sorting_3 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.odd > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd > .sorting_1 {
  background-color: #f1f1f1;
}

table.dataTable.display tbody tr.odd > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd > .sorting_2 {
  background-color: #f3f3f3;
}

table.dataTable.display tbody tr.odd > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd > .sorting_3 {
  background-color: whitesmoke;
}

table.dataTable.display tbody tr.odd.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_1 {
  background-color: #a6b4cd;
}

table.dataTable.display tbody tr.odd.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_2 {
  background-color: #a8b5cf;
}

table.dataTable.display tbody tr.odd.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.odd.selected > .sorting_3 {
  background-color: #a9b7d1;
}

table.dataTable.display tbody tr.even > .sorting_1, table.dataTable.order-column.stripe tbody tr.even > .sorting_1 {
  background-color: #fafafa;
}

table.dataTable.display tbody tr.even > .sorting_2, table.dataTable.order-column.stripe tbody tr.even > .sorting_2 {
  background-color: #fcfcfc;
}

table.dataTable.display tbody tr.even > .sorting_3, table.dataTable.order-column.stripe tbody tr.even > .sorting_3 {
  background-color: #fefefe;
}

table.dataTable.display tbody tr.even.selected > .sorting_1, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_1 {
  background-color: #acbad5;
}

table.dataTable.display tbody tr.even.selected > .sorting_2, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_2 {
  background-color: #aebcd6;
}

table.dataTable.display tbody tr.even.selected > .sorting_3, table.dataTable.order-column.stripe tbody tr.even.selected > .sorting_3 {
  background-color: #afbdd8;
}

table.dataTable.display tbody tr:hover > .sorting_1, table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #eaeaea;
}

table.dataTable.display tbody tr:hover > .sorting_2, table.dataTable.order-column.hover tbody tr:hover > .sorting_2 {
  background-color: #ececec;
}

table.dataTable.display tbody tr:hover > .sorting_3, table.dataTable.order-column.hover tbody tr:hover > .sorting_3 {
  background-color: #efefef;
}

table.dataTable.display tbody tr:hover.selected > .sorting_1, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_1 {
  background-color: #a2aec7;
}

table.dataTable.display tbody tr:hover.selected > .sorting_2, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_2 {
  background-color: #a3b0c9;
}

table.dataTable.display tbody tr:hover.selected > .sorting_3, table.dataTable.order-column.hover tbody tr:hover.selected > .sorting_3 {
  background-color: #a5b2cb;
}

table.dataTable.no-footer {
  border-bottom: 1px solid #111;
}

table.dataTable.nowrap th, table.dataTable.nowrap td {
  white-space: nowrap;
}

table.dataTable.compact thead th,
table.dataTable.compact thead td {
  padding: 4px 17px 4px 4px;
}

table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td {
  padding: 4px;
}

table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
  padding: 4px;
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
  text-align: left;
}

table.dataTable th.dt-center,
table.dataTable td.dt-center,
table.dataTable td.dataTables_empty {
  text-align: center;
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
  text-align: right;
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
  text-align: justify;
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
  white-space: nowrap;
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
  text-align: left;
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
  text-align: center;
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
  text-align: right;
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
  text-align: justify;
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
  white-space: nowrap;
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
  text-align: left;
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
  text-align: center;
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
  text-align: right;
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
  text-align: justify;
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
  white-space: nowrap;
}

table.dataTable,
table.dataTable th,
table.dataTable td {
  box-sizing: content-box;
}

/*
 * Control feature layout
 */
.dataTables_wrapper {
  position: relative;
  clear: both;
  *zoom: 1;
  zoom: 1;
}

.dataTables_wrapper .dataTables_length {
  float: left;
}

.dataTables_wrapper .dataTables_filter {
  float: right;
  text-align: right;
}

.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
}

.dataTables_wrapper .dataTables_info {
  clear: both;
  float: left;
  padding-top: 0.755em;
}

.dataTables_wrapper .dataTables_paginate {
  float: right;
  text-align: right;
  padding-top: 0.25em;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0.5em 1em;
  margin-left: 2px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  color: #333 !important;
  border: 1px solid transparent;
  border-radius: 2px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #333 !important;
  border: 1px solid #979797;
  background-color: white;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #dcdcdc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, white 0%, #dcdcdc 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #dcdcdc 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  cursor: default;
  color: #666 !important;
  border: 1px solid transparent;
  background: transparent;
  box-shadow: none;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 1px solid #111;
  background-color: #585858;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #585858 0%, #111 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #585858 0%, #111 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #585858 0%, #111 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #585858 0%, #111111 100%);
  /* W3C */
}

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: #2b2b2b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Chrome10+,Safari5.1+ */
  background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* FF3.6+ */
  background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* IE10+ */
  background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
  /* Opera 11.10+ */
  background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
  /* W3C */
  box-shadow: inset 0 0 3px #111;
}

.dataTables_wrapper .dataTables_paginate .ellipsis {
  padding: 0 1em;
}

.dataTables_wrapper .dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 40px;
  margin-left: -50%;
  margin-top: -25px;
  padding-top: 20px;
  text-align: center;
  font-size: 1.2em;
  background-color: white;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(25%, rgba(255, 255, 255, 0.9)), color-stop(75%, rgba(255, 255, 255, 0.9)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -moz-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 25%, rgba(255, 255, 255, 0.9) 75%, rgba(255, 255, 255, 0) 100%);
}

.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #333;
}

.dataTables_wrapper .dataTables_scroll {
  clear: both;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
  *margin-top: -1px;
  -webkit-overflow-scrolling: touch;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td {
  vertical-align: middle;
}

.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > thead > tr > td > div.dataTables_sizing, .dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > th > div.dataTables_sizing,
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody > table > tbody > tr > td > div.dataTables_sizing {
  height: 0;
  overflow: hidden;
  margin: 0 !important;
  padding: 0 !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #111;
}

.dataTables_wrapper.no-footer div.dataTables_scrollHead table.dataTable,
.dataTables_wrapper.no-footer div.dataTables_scrollBody > table {
  border-bottom: none;
}

.dataTables_wrapper:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0;
}

@media screen and (max-width: 767px) {
  .dataTables_wrapper .dataTables_info,
  .dataTables_wrapper .dataTables_paginate {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_paginate {
    margin-top: 0.5em;
  }
}
@media screen and (max-width: 640px) {
  .dataTables_wrapper .dataTables_length,
  .dataTables_wrapper .dataTables_filter {
    float: none;
    text-align: center;
  }

  .dataTables_wrapper .dataTables_filter {
    margin-top: 0.5em;
  }
}
/*!
 * jsonformatter
 * 
 * Version: 0.6.0 - 2016-04-29T03:24:40.680Z
 * License: Apache-2.0
 */
.json-formatter-row {
  font-family: monospace;
}

.json-formatter-row,
.json-formatter-row a,
.json-formatter-row a:hover {
  color: black;
  text-decoration: none;
}

.json-formatter-row .json-formatter-row {
  margin-left: 1em;
}

.json-formatter-row .children.empty {
  opacity: 0.5;
  margin-left: 1em;
}

.json-formatter-row .children.empty.object:after {
  content: "No properties";
}

.json-formatter-row .children.empty.array:after {
  content: "[]";
}

.json-formatter-row .string {
  color: green;
  white-space: pre;
  word-wrap: break-word;
}

.json-formatter-row .number {
  color: blue;
}

.json-formatter-row .boolean {
  color: red;
}

.json-formatter-row .null {
  color: #855A00;
}

.json-formatter-row .undefined {
  color: #ca0b69;
}

.json-formatter-row .function {
  color: #FF20ED;
}

.json-formatter-row .date {
  background-color: rgba(0, 0, 0, 0.05);
}

.json-formatter-row .url {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}

.json-formatter-row .bracket {
  color: blue;
}

.json-formatter-row .key {
  color: #00008B;
  cursor: pointer;
}

.json-formatter-row .constructor-name {
  cursor: pointer;
}

.json-formatter-row .toggler {
  font-size: 0.8em;
  line-height: 1.2em;
  vertical-align: middle;
  opacity: 0.6;
  cursor: pointer;
}

.json-formatter-row .toggler:after {
  display: inline-block;
  transition: transform 100ms ease-in;
  content: "►";
}

.json-formatter-row .toggler.open:after {
  transform: rotate(90deg);
}

.json-formatter-row > a > .thumbnail-text {
  opacity: 0;
  transition: opacity 0.15s ease-in;
  font-style: italic;
}

.json-formatter-row:hover > a > .thumbnail-text {
  opacity: 0.6;
}

.json-formatter-dark.json-formatter-row {
  font-family: monospace;
}

.json-formatter-dark.json-formatter-row,
.json-formatter-dark.json-formatter-row a,
.json-formatter-dark.json-formatter-row a:hover {
  color: white;
  text-decoration: none;
}

.json-formatter-dark.json-formatter-row .json-formatter-row {
  margin-left: 1em;
}

.json-formatter-dark.json-formatter-row .children.empty {
  opacity: 0.5;
  margin-left: 1em;
}

.json-formatter-dark.json-formatter-row .children.empty.object:after {
  content: "No properties";
}

.json-formatter-dark.json-formatter-row .children.empty.array:after {
  content: "[]";
}

.json-formatter-dark.json-formatter-row .string {
  color: #31F031;
  white-space: pre;
  word-wrap: break-word;
}

.json-formatter-dark.json-formatter-row .number {
  color: #66C2FF;
}

.json-formatter-dark.json-formatter-row .boolean {
  color: #EC4242;
}

.json-formatter-dark.json-formatter-row .null {
  color: #EEC97D;
}

.json-formatter-dark.json-formatter-row .undefined {
  color: #ef8fbe;
}

.json-formatter-dark.json-formatter-row .function {
  color: #FD48CB;
}

.json-formatter-dark.json-formatter-row .date {
  background-color: rgba(255, 255, 255, 0.05);
}

.json-formatter-dark.json-formatter-row .url {
  text-decoration: underline;
  color: #027BFF;
  cursor: pointer;
}

.json-formatter-dark.json-formatter-row .bracket {
  color: #9494FF;
}

.json-formatter-dark.json-formatter-row .key {
  color: #23A0DB;
  cursor: pointer;
}

.json-formatter-dark.json-formatter-row .constructor-name {
  cursor: pointer;
}

.json-formatter-dark.json-formatter-row .toggler {
  font-size: 0.8em;
  line-height: 1.2em;
  vertical-align: middle;
  opacity: 0.6;
  cursor: pointer;
}

.json-formatter-dark.json-formatter-row .toggler:after {
  display: inline-block;
  transition: transform 100ms ease-in;
  content: "►";
}

.json-formatter-dark.json-formatter-row .toggler.open:after {
  transform: rotate(90deg);
}

.json-formatter-dark.json-formatter-row > a > .thumbnail-text {
  opacity: 0;
  transition: opacity 0.15s ease-in;
  font-style: italic;
}

.json-formatter-dark.json-formatter-row:hover > a > .thumbnail-text {
  opacity: 0.6;
}

.form-control.ng-invalid {
  background-image: linear-gradient(#d9534f, #d9534f), linear-gradient(#d2d2d2, #d2d2d2) !important;
}

.form-group {
  margin-top: 10px;
}

.button-menu .btn {
  padding: 8px 0;
}

.material-icons {
  vertical-align: middle;
}

.case-step-dropdown li a {
  font-size: 16px;
  padding: 13px 16px;
}

.no-animate {
  -webkit-transition: none !important;
  transition: none !important;
}

.btn-raised:focus {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12) !important;
}

.list-group.basic-list i {
  font-size: 8px;
}
.list-group .list-group-item.timeline-item {
  overflow: visible;
  padding: 0;
  margin: 10px 0;
}
@media (min-width: 1200px) {
  .list-group .list-group-item.timeline-item .card-detail-text {
    text-align: right;
  }
}
.list-group .list-group-item.timeline-item .row {
  padding: 2px 0;
}
.list-group .list-group-item.timeline-item:first-child {
  margin-top: 0;
}
.list-group .list-group-item.timeline-item:last-child {
  margin-bottom: 0;
}

.panel-header-label {
  color: #777 !important;
}

.control-label {
  color: #777 !important;
}

.form-group .checkbox label, .form-group .radio label, .form-group label {
  color: #777 !important;
}

.dropdown .dropdown-menu li > a {
  cursor: pointer;
}

.sign-up-wizard-pills {
  border-radius: 4px;
  overflow: hidden;
}
.sign-up-wizard-pills li {
  width: calc(100% / 6);
  margin: 0 !important;
}
.sign-up-wizard-pills li a {
  border-radius: 0;
  text-align: center;
  color: #00b8ed;
}
.sign-up-wizard-pills li.active a {
  background-color: #00b8ed;
}
.sign-up-wizard-pills li.completed a {
  background-color: #5cb85c;
  color: white;
}

.deadline-input {
  text-align: center;
  font-weight: bold;
  border: 1px solid #eee;
  padding: 4px;
  border-radius: 4px;
}

input[type=number]::-webkit-inner-spin-button {
  opacity: 1;
}

.sign-up-groups tbody tr td {
  border-top: none;
  padding: 0 8px;
}

p.agent-panel {
  font-size: 18px;
}

.form-control[readonly] {
  background-image: none !important;
}

.form-control-table {
  color: black;
  font-weight: bold;
  border: 0;
  background: transparent;
  height: 27px;
}

.label-yellow {
  background-color: #eec902;
}

.btn-fab {
  padding: 0 !important;
  text-align: center;
}

.btn-fab .fa {
  font-size: 18px;
}

.file-drop-area {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 170px;
  text-align: center;
  padding: 50px 10px;
  margin-left: 10px;
}
.file-drop-area.file-valid {
  border: 5px dashed #a5d6a7;
}
.file-drop-area.file-invalid {
  border: 5px dashed #ef9a9a;
}

.platform-updates-widget .update-item {
  overflow: visible;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.platform-updates-widget .update-item .update-avatar {
  margin-right: 10px;
}
.platform-updates-widget .update-item .update-avatar img {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  vertical-align: middle;
}
.platform-updates-widget .update-item .update-message {
  display: inline-block;
  max-width: calc(100% - 210px);
  overflow: hidden;
  white-space: nowrap;
  vertical-align: middle;
  padding-left: 10px;
  font-family: monospace;
}

.ace_editor {
  height: 200px;
}

.text-will-remove {
  color: #d9534f !important;
  text-decoration: line-through !important;
}

.is-suspended {
  color: #d9534f !important;
}

.form-control.ng-invalid:not(:focus) {
  color: #d9534f !important;
}

.angular-google-map-container {
  height: 400px;
}

#dashboard-map-coordenador-operacional .angular-google-map-container {
  height: 660px;
}

#dashboard-map-gestor-nacional .angular-google-map-container {
  height: 550px;
}

.alert .alert-link {
  text-decoration: underline;
}

.chart-container {
  position: relative;
}
.chart-container highchart {
  display: block;
  width: 100%;
  max-width: 100%;
}

hr {
  position: relative;
  margin: 0 !important;
  padding: 0 !important;
  margin-bottom: 20px !important;
  padding-top: 20px !important;
  left: -15px;
  width: calc(100% + 30px);
  height: 0;
  background: none;
  border-top: none !important;
  border-bottom: 1px solid #ddd !important;
}

.form-control[readonly] {
  cursor: not-allowed;
}

.ng-toast.ng-toast--top {
  top: 64px;
}

a.column-sorter {
  color: black;
  cursor: pointer;
  user-select: none;
}

.simple-filter h5 {
  margin: 0;
}
.simple-filter .form-group {
  margin: 0;
  padding: 0 5px;
}
.simple-filter th {
  padding: 0 0 10px 0 !important;
}
.simple-filter th .form-group {
  margin: 0;
  padding: 0;
}
.simple-filter th .form-control {
  font-size: 12px !important;
  padding: 0 5px;
  margin: 0 5px;
}
.simple-filter th .form-control::placeholder {
  font-size: 12px !important;
}

.card-detail-text {
  font-size: 14px;
  color: #999;
}

.btn.dashboard-btn {
  width: 100%;
}
.btn.dashboard-btn .btn-icon {
  font-size: 38px;
  text-align: center;
  margin: 40px 0;
}
.btn.dashboard-btn .btn-label {
  text-align: center;
}

.metrics-country .panel-footer {
  font-size: 12px;
}
.metrics-country a[ui-sref] {
  color: #666;
}
.metrics-country a[ui-sref]:hover {
  color: black;
}

.popover {
  background: white !important;
  color: black !important;
}
.popover.popover-paginator {
  padding: 0;
}
.popover.popover-paginator h3.popover-title {
  background-color: #0c5e8e;
  color: white;
}
.popover.popover-paginator input.form-control {
  width: 70px;
}
.popover.popover-paginator button.btn-success {
  padding: 6px 10px;
}

.btn-text {
  border: 0;
  margin: 0;
  padding: 0;
  background: none;
}

.pl-0 {
  padding-left: 0px !important;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.alert-color {
  color: #F0AD4E !important;
}

/*# sourceMappingURL=app.css.map */
