<div class="modal-template" id="md-confirm" xmlns="http://www.w3.org/1999/html">
  <div class="modal-body">
    <b>{{message}}</b>
    <button class="btn btn-success" type="button" ng-click="agree()">
      OK
    </button>
    <p>
      Neste questionário, <b>contamos com a sua contribuição</b> para falar
      sobre o <b>processo de implementação</b> da Busca Ativa Escolar no seu
      município. A pesquisa é realizada por uma empresa especializada e as
      respostas serão agregadas para a análise, ou seja, não serão analisadas de
      forma individualizada. Sua participação é muito importante para ajudar a
      avaliar a Busca Ativa Escolar e aprimorá-la cada vez mais a fim de
      garantir os direitos de crianças e adolescentes! Vamos lá? Acesse e
      participe: <a>https://bit.ly/3l0JwZD</a>.
    </p>
    <p>
      Abraços,<br />
      Equipe da Gestão Nacional da Busca Ativa Escolar
    </p>
  </div>
</div>
