<div class="modal-template" id="md-prompt">
    <div class="modal-header">
        <h3 class="modal-title">
            Tem certeza que deseja transferir o caso em andamento?
        </h3>
    </div>

    <div class="modal-body">
        <div class="row">
            <div class="form-group col-md-12">
                <p>
                    Para transferir o caso você deve escolher o estado, município e
                    escrever uma justificativa. Uma solicitação será feita para o(a)
                    coordenador(a) operacional do município escolhido.
                </p>
                <p class="text-danger">Essa operação não pode ser desfeita!</p>
                <br/>

                <div class="row">
                    <div class="col-md-3">
                        <label>UF</label>
                        <ui-select ng-model="query.uf" on-select="refresh()">
                            <ui-select-match allow-clear="true" placeholder="Todos"
                            >{{$select.selected.code}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="uf.code as uf in getUFs() | orderObjectBy:'code' | filter: $select.search track by uf.id"
                            >
                                <div ng-bind-html="uf.code | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>

                    <div class="col-md-9">
                        <label>Município</label>
                        <ui-select ng-model="query.tenant_id" on-select="refresh()">
                            <ui-select-match allow-clear="true" placeholder="Todos"
                            >{{$select.selected.name}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="tenant.id as tenant in getTenants() | orderObjectBy:'name' | filter: $select.search track by tenant.id"
                            >
                                <div
                                        ng-bind-html="tenant.name | highlight: $select.search"
                                ></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <p>Justificativa:</p>
        <textarea
                class="form-control"
                placeholder="Digite aqui a justificativa da transferência..."
                ng-model="reason"
        ></textarea>
    </div>
    <div class="modal-footer">
        <button
                class="btn btn-primary"
                type="button"
                ng-show="reason"
                ng-click="ok()"
        >
            Solicitar transferência
        </button>
        <button class="btn btn-default" type="button" ng-click="cancel()">
            Cancelar
        </button>
    </div>
</div>
