<div class="modal-template" id="md-confirm" xmlns="http://www.w3.org/1999/html">
	<div class="modal-header">
		<h2 class="modal-title">{{message}}</h2>
	</div>
	<div class="modal-body" style="text-align: justify;
      text-justify: inter-word;">

		<p class="text-right">
			<button class="btn btn-success" type="button" ng-click="agree()">OK</button>
		</p>

		<p>Prezados(as) usuários(as),</p>

		<p>
			A plataforma passará por manunteção e atualização e por isso ficará bloqueada entre os dias 28 de dezembro e 2 de janeiro. Após essa data, seu uso volta ao normal.
		</p>

		<p>
			Atenciosamente,
		</p>

		<p>
			Equipe de Gestão Nacional da Busca Ativa Escolar
		</p>


	</div>
</div>