<div class="modal-template" id="md-confirm" xmlns="http://www.w3.org/1999/html">
	<div class="modal-body" style="text-align: justify; text-justify: inter-word;">

		<p style="text-align: center;">
			<img src="https://buscaativaescolar.org.br/storage/files/shares/2021/alerta_manutencao/Daco_4557899.png" style="width: 95.3125px; height: 84.8684px;">
		</p>

		<div><h2 style="text-align: center;">Prezados(as) Usuários(as),</h2></div>

		<p style="text-align: center; font-size: 20px;">
			A plataforma da Busca Ativa Escolar está em manutenção e se encontra fora do ar!
			Estamos trabalhando na atualização de todos os softwares e melhorias na plataforma! <br/>Os(as) usuários(as) podem acessar a plataforma normalmente a partir de segunda-feira, 6, às 12h!
		</p>

	</div>
</div>