<div class="modal-template" id="md-confirm" xmlns="http://www.w3.org/1999/html">
  <div class="modal-header">
    <!--<h2 class="modal-title">{{message}}</h2>-->
    <h2 class="modal-title">Atenção:</h2>
  </div>
  <div class="modal-body">
    <!--<p class="text-right">
			<button class="btn btn-success" type="button" ng-click="agree()">OK</button>
		</p>

		<p>Prezados(as),</p>

		<p>Em 2021 começa um novo ciclo nas gestões municipais. Por isso, a Busca Ativa Escolar deverá ser repactuada como uma estratégia prioritária para continuidade nos próximos quatro anos das novas administrações municipais.</p>

		<p>Assim, em 31 de dezembro de 2020 a plataforma foi fechada, mas já está reaberta para o processo de readesão municipal.  Confira o passo a passo do processo neste guia. <a href="https://biblioteca.buscaativaescolar.org.br/storage/files/shares/2021/readesao/guia_readesao_bae_v1.pdf" target="_blank">Guia de readesão municipal</a></p>

		</p>Todo o histórico dos dados de usuários, alertas e casos ficaram salvaguardados e assim que a readesão for feita, a equipe, dentro das suas funções e permissões usuais, pode acessar as informações novamente e dar continuidade ao trabalho.</p>

		<p>Ressaltamos que o processo de readesão é necessário apenas para os municípios, e para estados o acesso continua funcionando normalmente.</p>

		<p>A readesão será um momento importante também para a revisão das ações e planejamento da Busca Ativa Escolar nos próximos anos. Afinal, o direito à educação de crianças e adolescentes deve permanecer como um compromisso de todos os municípios.</p>

		<p>
			Abraços,<br/>
			Equipe da Gestão Nacional da Busca Ativa Escolar</p>-->
    <p class="text-right">
      <button class="btn btn-success" type="button" ng-click="agree()">
        OK
      </button>
    </p>
    <h4>
      <strong
        >Informamos que a plataforma da Busca Ativa Escolar está passando por
        manutenção, e poderá ficar fora do ar entre às 14h do dia 25/06 às 10h
        do dia 28/06! Após esse período a plataforma pode ser usada normamente!
      </strong>
    </h4>
    <p>
      Abraços,<br />
      Equipe da Gestão Nacional da Busca Ativa Escolar
    </p>
  </div>
</div>
