<div class="col-md-12">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>FREQUÊNCIAS - {{classes.school.name}}</h3>
            <span>Registro da periodicidade {{getNamePeriodicidade().toLowerCase()}} </span>
        </div>

        <div class="panel-body">

            <div class="row" style="margin-bottom: 20px; margin-top: 20px;">
                <div class="col-lg-9">
                    <p>Utilize o formulário abaixo para registrar a frequência das turmas. O prazo de registro depende da periodicidade salva na configuração da escola.</p>
                </div>

                <div class="col-lg-3 text-right">
                    <a class="btn btn-info btn-raised" href="/turmas/{{school_id}}"> <i class="fa fa-cog" aria-hidden="true"></i> Configurar turmas</a>
                </div>
            </div>

            <style>
                .table .data_class {
                    display: block;
                    margin-top: 20px;
                }
                .input_frequency{
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    border-radius: 20px;
                    border: 1px solid #666666;
                    width: 50px;
                    height: 30px;
                    padding-left: 10px;
                    text-align: center;
                }
                .input_frequency:focus {
                    outline: none;
                    border: 1px solid #2d9fd9;
                    color: #2d9fd9;
                    font-weight: bold;
                }
                .dhx_cal_light{
                    z-index: 99998;
                }
                .dhtmlx_modal_box{
                    z-index: 99999;
                }
            </style>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Turmas</th>
                        <th>Período</th>
                        <th>Alunos na turma</th>
                        <th>Alunos presentes</th>
                        <th>Percentual médio de frequência</th>
                        <th>Período anterior</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="(i, turma) in classes.turmas" ng-if="turma.frequencies.length > 0">
                        <td>
                            <span class="data_class">{{turma.name}}</span>
                        </td>
                        <td>
                            <span class="data_class">{{turma.shift}}</span>
                        </td>
                        <td>
                            <span class="data_class">{{turma.qty_enrollment}}</span>
                        </td>
                        </td>
                        <td>
                            <input
                                    id="frequency_{{turma.frequencies[turma.frequencies.length-1].id}}"
                                    type="number"
                                    name="frequency"
                                    class="form-control"
                                    placeholder="informe a frequência"
                                    ng-blur="onModifyFrequency(turma.frequencies[turma.frequencies.length-1], turma)"
                                    value="{{turma.frequencies[turma.frequencies.length-1].qty_presence}}">
                        </td>
                        <td>
                            <span class="data_class">
                                {{calculatePercentualFrequencies(turma.frequencies, turma.qty_enrollment)}}
                            </span>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-default btn-raised" ng-click="addPeriodFrequency(turma)"><i class="fa fa-plus" aria-hidden="true"></i></button>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div class="graph_classes">
                <div id="chart_classes"></div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-right" style="margin-top: 30px;">
                    <button class="btn btn-raised btn-success" ng-click="finish()">Concluído</button>
                </div>
            </div>

        </div>
    </div>
</div>