<div class="col-md-12">
    <div class="panel panel-default">

        <div class="panel-heading">
            <h3>Cadastro de turmas</h3>
            <h4><i class="material-icons">school </i> {{school}}</h4>
        </div>

        <div class="panel-body">
            <table class="table">
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" ng-model="classe.name" placeholder="Nome da turma"
                               ng-required="true"></td>
                    <td>
                        <select class="form-control" name="singleSelect" ng-model="classe.shift">
                            <option value="">Selecione o período</option>
                            <option value="Matutino">Matutino</option>
                            <option value="Vespertino">Vespertino</option>
                            <option value="option-2">Noturno</option>
                        </select>
                    </td>
                    <td><input type="text" class="form-control" numbers-only ng-model="classe.qty_enrollment"
                               placeholder="Quantidade de alunos"></td>
                    <td>
                        <button ng-click="addClasse()" class="btn btn-default btn-sm btn-raised pull-right"
                                ng-disabled="!classe.name || !classe.shift || !classe.qty_enrollment"><i
                                class="fa fa-plus"> Adicionar</i></button>
                    </td>
                </tr>
                </tbody>
            </table>

            <br/>

            <table datatable class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
                <thead>
                <tr>
                    <th>Turmas</th>
                    <th>Período</th>
                    <th>Alunos</th>
                    <th class="text-center">Opções</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(i, classe) in classes.turmas">

                    <td><input ng-show="show === i" type="text" class="form-control" ng-model="classe.name"
                               placeholder="Nome da turma"><span ng-show="show !== i">{{classe.name}}</span></td>


                    <td>
                        <select ng-show="show === i" class="form-control" name="singleSelect" ng-model="classe.shift">
                            <option value="">Selecione o período</option>
                            <option value="Matutino">Matutino</option>
                            <option value="Vespertino">Vespertino</option>
                            <option value="option-2">Noturno</option>
                        </select><span ng-show="show !== i">{{classe.shift}}</span>
                    </td>

                    <td><input ng-show="show === i" type="text" class="form-control" ng-model="classe.qty_enrollment"
                               numbers-only
                               placeholder="Quantidade de alunos"><span
                            ng-show="show !== i">{{classe.qty_enrollment}}</span></td>

                    <td width="20%" class="text-center">
                        <div class="btn-group">

                            <button class="btn btn-default btn-sm btn-raised" ng-click="edit(i)" ng-show="show !== i"
                                    uib-tooltip="Editar turma"><i
                                    class="fa fa-edit"></i></button>

                            <button class="btn btn-default btn-sm btn-raised pull-right" ng-click="updateClasse(classe)"
                                    ng-show="show === i" ng-disabled="!classe.name || !classe.shift || !classe.qty_enrollment"
                                    uib-tooltip="Atualizar turma"><i
                                    class="fa fa-save"></i></button>

                        </div>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>