<div ng-include="'/views/dashboards/painel_metas.html'"></div>

<div class="row">

    <div class="col-md-6 d-flex align-items-stretch">
        <cases-map></cases-map>
    </div>

    <div class="col-md-6 d-flex align-items-stretch">
        <metrics-overview></metrics-overview>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3><i class="material-icons">timeline</i> Evolução da Busca Ativa Escolar</h3>
    </div>
    <div class="col-md-12">
        <last-month-timeline></last-month-timeline>
    </div>
    <div class="col-md-12">
        <h3><i class="material-icons">info_outline</i> Motivos dos casos</h3>
    </div>
    <div class="col-md-12">
        <causes-chart></causes-chart>
    </div>
</div>

</div>