<div class="dashboard dashboard-coordenador_estadual">

	<div class="row">
		<div class="col-md-3"></div>

		<div class="col-md-5">
			<label>Município</label>
			<ui-select ng-model="query_evolution_graph.tenant_id" on-select="onSelectCity()">
				<ui-select-match allow-clear="true" placeholder="Todos">{{$select.selected.name}}</ui-select-match>
				<ui-select-choices
						repeat="tenant.id as tenant in getTenants() | orderObjectBy:'name' | filter: $select.search track by tenant.id">
					<div ng-bind-html="tenant.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>
		</div>

	</div>

	<div
			fusioncharts
			width="100%"
			height="600"
			type="timeseries"
			datasource-dt="dataSource"
	></div>

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">timeline</i> Números gerais da estratégia no estado</h3>
			<metrics-state></metrics-state>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<h3><i class="material-icons">playlist_add_check</i> Casos recebidos</h3>
			<my-assignments></my-assignments>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">info_outline</i> Motivos dos casos</h3>
			<causes-chart></causes-chart>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<h3><i class="material-icons">timeline</i> Evolução da Busca Ativa Escolar (30 dias)</h3>
			<last-month-timeline></last-month-timeline>
		</div>

	</div>

</div>