<div ng-include="'/views/dashboards/painel_metas.html'"></div>

<div class="row">

    <div class="col-md-6">
        <h3><i class="material-icons">map</i> Mapa de casos <button ng-click="handleMaps()" type="button" class="btn btn-raised btn-xs">{{showMessageMap}}</button></h3>
        <div id="dashboard-map-coordenador-operacional">
            <cases-map></cases-map>
        </div>
    </div>

    <div class="col-md-6">
        <metrics-overview></metrics-overview>
    </div>

    <div class="col-md-12">
        <h3><i class="material-icons">update</i> Últimas atualizações no sistema</h3>
        <recent-activity></recent-activity>
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h3><i class="material-icons">timeline</i> Evolução da Busca Ativa Escolar</h3>
        <last-month-timeline></last-month-timeline>

    </div>
    <div class="col-md-12">
        <h3><i class="material-icons">info_outline</i> Motivos dos casos</h3>
        <causes-chart></causes-chart>
    </div>
</div>

</div>