<div class="dashboard dashboard-coordenador_estadual">

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">timeline</i> Números gerais do programa no estado</h3>
			<metrics-state></metrics-state>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<h3><i class="material-icons">playlist_add_check</i> Casos recebidos</h3>
			<my-assignments></my-assignments>
		</div>

	</div>

	<div class="row">
		<div class="col-md-12">
			<h3><i class="material-icons">info_outline</i> Motivos dos casos</h3>
			<causes-chart></causes-chart>
		</div>
	</div>

	<div class="row">

		<div class="col-md-12">
			<h3><i class="material-icons">timeline</i> Evolução da Busca Ativa Escolar (30 dias)</h3>
			<last-month-timeline></last-month-timeline>
		</div>

	</div>

</div>