<div class="dashboard dashboard-super-administrador">

    <div class="row">
        <div class="col-md-12">
            <h3><i class="material-icons">timeline</i> Números gerais da estratégia no Brasil</h3>
            <metrics-country></metrics-country>
        </div>
    </div>
    <div ng-include="'/views/dashboards/grafico_evolucao_rematriculas.html'"></div>
    <div class="row">
        <div class="col-md-12">
            <h3><i class="material-icons">info_outline</i> Motivos dos casos</h3>
            <causes-chart></causes-chart>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12">
            <h3><i class="material-icons">timeline</i> Evolução da Busca Ativa Escolar (30 dias)</h3>
            <last-month-timeline></last-month-timeline>
        </div>

    </div>
    
<!--    <div class="row">-->
<!--        <div class="col-md-12">-->
<!--            <h3><i class="material-icons">map</i> Mapa brasileiro de casos em andamento-->
<!--                <small>(os casos aparecem no mapa a partir do endereço preenchido na etapa de Pesquisa)</small>-->
<!--            </h3>-->
<!--            <div id="dashboard-map-gestor-nacional">-->
<!--                <searchable-cases-map></searchable-cases-map>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

</div>