<div ng-if="otherData">

    <br><br>
    <div class="dashboard dashboard-coordenador-operacional" id="regua">
        <div class="panel panel-default animated fadeInUp">
            <div class="panel-heading">
                <h4><i class="material-icons">beenhere</i>Status do município: <b ng-bind="renderTenantName()"></b>
                    <button type="button" class="btn btn-primary btn-sm pull-right" data-html2canvas-ignore
                            ng-click="chartWithContentDownload()">
                        <span class="glyphicon glyphicon-print"></span> Baixar Painel
                    </button>
                </h4>

            </div>
            <div class="panel-body">
                <div class="col-md-12">
                    <div class="wizard row ng-cloak text-center" ng-cloak ng-if="ready">
                        <a ng-repeat="item in steps" ng-class="{ 'current': item.info != '' }">
                            <div class="badge animated fadeInLeft">
                                <div class="border"></div>
                                <div class="number">{{$index + 1}}</div>
                            </div>
                            <span class="animated fadeIn">
                    {{ item.name }}<br>
                    <small>{{item.info | dtFormat }}</small>
                    </span>

                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-default animated fadeInUp" ng-show="showInfo == 0">
            <div class="panel-body">
                <h3>Adesão</h3>
                O primeiro passo já foi dado! A adesão do seu município à Busca Ativa Escolar foi realizada. No
                entanto,
                esta etapa é só o começo. O seu município precisa, agora, implementar a estratégia seguindo o passo
                a
                passo necessário para que seja organizada uma equipe de trabalho e para que execute as ações
                previstas.
                Vamos lá?!<br>

                O próximo passo é de fundamental relevância, pois dará ao município a oportunidade de definir a
                melhor
                forma de operacionalizar a estratégia, de acordo com a sua realidade. Neste sentido, a aba da
                plataforma
                <b>Configurações</b> é muito importante, pois é nela que o município vai preencher os dados
                relativos a: (i)
                <b>Customização</b> – a partir dos motivos da exclusão escolar, definição sobre quais secretarias e
                demais
                órgãos vão liderar cada caso, marcando em <i>visualiza e notifica</i>; (ii) <b>Prazos</b> –
                definição sobre o tempo
                necessário para a execução de cada etapa. Vale a pena atentar para o fato de que, mesmo sem ter sido
                preenchidas as etapas de <i>Customização e Prazos</i>, já é possível emitir alertas via plataforma.
                No entanto,
                ressaltamos a importância de preenchê-las na aba Configurações. Desta forma, todos os alertas
                emitidos e
                aprovados terão o seu acompanhamento mais condizente com a realidade local, uma vez que as
                instituições
                pertinentes e os prazos necessários estarão sendo postos em prática.
            </div>
        </div>

        <div class="panel panel-default animated fadeInUp" ng-show="showInfo == 1">
            <div class="panel-body">
                <h3>Configuração</h3>
                O seu município está devidamente configurado na plataforma da Busca Ativa Escolar!
                Isto significa que já é possível emitir alertas e dar seguimento aos casos. Mas, o que é um alerta?
                É a
                identificação de uma criança ou um(a) adolescente fora da escola. O alerta é a porta de entrada de
                um
                caso na plataforma e o início efetivo da Busca Ativa Escolar. Ele é emitido pelo(a) agente
                comunitário(a) durante sua atuação territorial, ou, automaticamente, quando o município utiliza os
                dados
                da planilha do EducanCenso (INEP/MEC) ou de planilha própria (dados que o próprio município já
                possua).
            </div>
        </div>

        <div class="panel panel-default animated fadeInUp" ng-show="showInfo == 2">
            <div class="panel-body">
                <h3>1º Aletra</h3>
                Seu município já emitiu o primeiro alerta! Isto significa que pelo menos uma criança ou um(a)
                adolescente que está fora da escola já foi localizado(a)!
                A partir da emissão dos primeiros alertas, já é possível identificar os motivos pelos quais os
                meninos e
                as meninas do seu município não estão na escola. Agora, cabe ao(à) supervisor(a) institucional
                aprovar
                ou rejeitar os alertas. Os alertas aprovados, posteriormente, serão transformados em casos e poderão
                ser
                acompanhados pelos(as) profissionais designados(as) na etapa da configuração. Os alertas rejeitados
                não
                são acompanhados e ficam arquivados apenas para fins de gerenciamento dos dados.
            </div>
        </div>

        <div class="panel panel-default animated fadeInUp" ng-show="showInfo == 3">
            <div class="panel-body">
                <h3>1º Caso</h3>
                Seu município já tem o primeiro alerta aprovado e o primeiro caso pronto para ser acompanhado!

                Nesta fase, para cada um dos casos, o município precisa cumprir as seguintes etapas:

                a) Pesquisa e análise técnica (visita domiciliar para compreender mais a fundo as causas da exclusão
                escolar);

                b) Gestão do caso (encaminhamentos para os serviços públicos da rede de proteção, de acordo com a
                necessidade de cada caso);

                c) (Re)Matrícula e observações (verificação da permanência de cada criança ou adolescente na escola,
                durante o período de um ano).

                É importante lembrar de que cada caso seguirá o fluxo pré-determinado pelo município durante a etapa
                de
                configuração da plataforma. Se o município realizou a configuração a partir da sua realidade, o
                seguimento do fluxo dos casos vai ocorrer de forma mais eficaz e exitosa, favorecendo o
                fortalecimento
                do sistema de garantia de direitos de crianças e adolescentes.
            </div>
        </div>

        <div class="panel panel-default animated fadeInUp" ng-show="showInfo == 4">
            <div class="panel-body">
                <h3>1ª (Re)Matrícula</h3>
                Seu município chegou à etapa de (re)matrículas na execução da Busca Ativa Escolar.

                É importante salientar que somente após serem seguidas as etapas de pesquisa, análise técnica e
                gestão do caso é que as crianças e os(as) adolescentes poderão ser devidamente (re)matriculados(as).
                Vale a pena frisar que a (re)matrícula é muito mais qualificada quando são compreendidos o contexto
                de vida e as necessidades de cada menina e cada menino que estava fora da escola.

                <br>Se o seu município já está realizando (re)matrículas, parabéns! Agora é hora de garantir que as
                crianças e os(as) adolescentes permaneçam na escola e aprendam!
            </div>
        </div>

        <!--            <div class="panel panel-default animated fadeInUp" ng-show="showInfo === 0">-->
        <!--                <div class="panel-body">-->
        <!--                    <h3 class="text-center">Existe alguma problema com o painel de metas do Selo UNICEF, por favor,-->
        <!--                        entre em-->
        <!--                        contato com o suporte!</h3>-->
        <!--                </div>-->
        <!--            </div>-->


        <div class="row">

            <div class="col-md-12">
                <h3 align="center">Visão geral da estratégia <br>
                    <small>{{identity.getCurrentUser().tenant.name}}</small>
                </h3> <br/>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default animated fadeInUp">
                    <div class="panel-heading"><h4><i class="fa fa-bell"></i> Alertas</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <h1 class="panel-body" ng-bind="otherData.alert_box.alerts_created || 0"></h1>
                                <div class="panel-footer">Total</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <h1 class="panel-body" ng-bind="otherData.alert_box.alerts_accepted || 0"></h1>
                                <div class="panel-footer">Aprovados</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <h1 class="panel-body" ng-bind="otherData.alert_box.alerts_pending || 0"></h1>
                                <div class="panel-footer">Pendentes</div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="panel panel-default">
                                <h1 class="panel-body" ng-bind="otherData.alert_box.alerts_rejected || 0"></h1>
                                <div class="panel-footer">Rejeitados</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-default animated fadeInUp">
                    <div class="panel-heading"><h4><i class="fa fa-list"></i> Casos por etapa em andamento</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h5><b>No prazo</b></h5></div>
                                <ul>
                                    <li>Pesquisa ( {{ otherData.cases_box.steps_on_time.pesquisa || 0}} )</li>
                                    <li>Análise Técnica ( {{ otherData.cases_box.steps_on_time.analise_tecnica || 0}}
                                        )
                                    </li>
                                    <li>Gestão do Caso ( {{ otherData.cases_box.steps_on_time.gestao_do_caso || 0}} )
                                    </li>
                                    <li>(Re)Matrículas ( {{ otherData.cases_box.steps_on_time.rematricula || 0}} )</li>
                                    <li>Observação ( {{ otherData.cases_box.steps_on_time.observacao || 0}} )</li>
                                </ul>
                                <div class="panel-footer">Total: {{ otherData.cases_box.cases_on_time || 0}}</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="panel panel-default">
                                <div class="panel-heading"><h5><b>Em atraso</b></h5></div>
                                <ul>
                                    <li>Pesquisa ( {{ otherData.cases_box.steps_late.pesquisa || 0}} )</li>
                                    <li>Análise Técnica ( {{ otherData.cases_box.steps_late.analise_tecnica || 0}} )
                                    </li>
                                    <li>Gestão do Caso ( {{ otherData.cases_box.steps_late.gestao_do_caso || 0}} )</li>
                                    <li>(Re)Matrículas ( {{ otherData.cases_box.steps_late.rematricula || 0}} )</li>
                                    <li>Observação ( {{ otherData.cases_box.steps_late.observacao || 0}} )</li>
                                </ul>
                                <div class="panel-footer">Total: {{ otherData.cases_box.cases_late || 0}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12" ng-if="otherData.goal_box.goal > 0">
                <div class="panel panel-default animated fadeInUp">
                    <div class="panel-heading"><h4><i class="fa fa-file-text-o"></i> (Re)Matrículas</h4>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-9">
                            <div class="panel panel-default" id="ba_donut">
                                <!--                            <div class="panel-heading panel-heading-selo">Meu status no Selo UNICEF</div>-->

                                <donuts-chart></donuts-chart>
                            </div>
                        </div>
                        <div class="col-md-3">

                            <div class="panel panel-warning">
                                <div class="panel-body">
                                    <div class="panel-body font-panel-big-number text-center"
                                         ng-bind="otherData.goal_box.goal || 0 "></div>
                                </div>
                                <div class="panel-footer panel-footer-gool text-center"><b>MINHA META</b></div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-body">

                                    <div class="panel-body font-panel-big-number text-center"
                                        >1372</div>
                                </div>
                                <!--                            <div class="panel-footer panel-footer-rematricula text-center" >Total de (Re)Matrículas</div>-->
                                <div class="panel-footer text-center"
                                     ng-class="{'panel-footer-ciano': percentualAtingido > 99, 'panel-footer-success': percentualAtingido >= 50 && percentualAtingido < 99, 'panel-footer-warning': percentualAtingido > 19 && percentualAtingido <=49, 'panel-footer-danger': percentualAtingido <= 19}">
                                    Total de (Re)Matrículas
                                </div>

                            </div>
                        </div>
                        <div class="col-md-12 pl-0 pr-0">
                            <div class="col-md-3">
                                <div class="panel" ng-class="{'panel-danger': percentualAtingido <= 19}">
                                    <div class="panel-heading">Alto Risco</div>
                                    <div class="panel-body">
                                        <small>
                                            O município realizou menos de 20% (vinte por cento) de (re)matrículas, de
                                            acordo
                                            com a meta estabelecida para o Selo UNICEF. Apenas com o atingimento da meta
                                            o
                                            município poderá ser certificado com o Selo, uma vez que a Busca Ativa
                                            Escolar é
                                            resultado sistêmico obrigatório.
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="panel"
                                     ng-class="{'panel-warning': percentualAtingido > 19 && percentualAtingido <=49}">
                                    <div class="panel-heading">Médio Risco</b></div>
                                    <div class="panel-body">
                                        <small>
                                            O município realizou entre 20% (vinte por cento) e 49% (quarenta e nove por
                                            cento)
                                            de (re)matrículas, de acordo com a meta estabelecida para o Selo UNICEF.
                                            Apenas
                                            com
                                            o atingimento da meta o município poderá ser certificado com o Selo, uma vez
                                            que
                                            a
                                            Busca Ativa Escolar é resultado sistêmico obrigatório.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="panel" ng-class="{'panel-success': percentualAtingido >= 50 && percentualAtingido < 99}">
                                    <div class="panel-heading">Baixo Risco</div>
                                    <div class="panel-body">
                                        <small>
                                            O município realizou 50% (cinquenta por cento) ou mais de (re)matrículas, de
                                            acordo
                                            com a meta estabelecida para o Selo UNICEF. Apenas com o atingimento da meta
                                            o
                                            município poderá ser certificado com o Selo, uma vez que a Busca Ativa
                                            Escolar é
                                            resultado sistêmico obrigatório.
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div ng-if=" percentualAtingido >= 100" class="col-md-3">
                                <div class="panel" ng-class="{'panel-ciano': percentualAtingido >= 100}">
                                    <div class="panel-heading">Parabéns!</div>
                                    <div class="panel-body">
                                        <small>
                                            <p> O seu município já atingiu a meta de (re)matrículas da Busca Ativa Escolar! Este resultado é fruto do trabalho realizado pela equipe municipal que demonstra a dedicação de profissionais ao enfrentamento da exclusão escolar. Mas, o trabalho não pode parar! Esperamos que o seu município faça da Busca Ativa Escolar um processo contínuo para assegurar o direito à educação para cada menina e menino.</p>
                                        </small>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="regua_print"></div>
</div>