<div class="row">
  <div class="col-md-4">
    <div ng-include="'/views/logo.html'"></div>
  </div>
  <div class="col-md-8 text-right">
    <h2 style="margin-top: 50px;">
      <i class="fa fa-question-circle"></i> Esqueci minha senha
    </h2>
  </div>

  <form name="passwordReset" class="col-md-12" ng-submit="resetPassword()">
    <div class="col-md-6 center-block" style="float: none;">
      <div class="panel panel-default">
        <div class="panel-heading">Trocar senha</div>
        <div class="panel-body">
          <div class="form-group">
            <label for="fld-email" class="control-label"
              ><i class="fa fa-envelope"></i> E-mail:</label
            >
            <input
              id="fld-email"
              readonly
              class="form-control"
              type="email"
              name="email"
              ng-model="email"
            />
          </div>
          <div class="form-group">
            <label for="fld-email" class="control-label"
              ><i class="fa fa-key"></i> Nova senha:</label
            >
            <input
              id="fld-password"
              required
              class="form-control"
              type="password"
              name="password"
							ng-model="newPassword"
							my-directive
              onfocus="add(this)"
              onblur="remove(this)"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*?]).{8,16}"
						/>
						<span class="input-group-btn" uib-tooltip="Exibir a senha">
              <button
                type="button"
                class="btn btn-fab btn-fab-mini"
                ng-click="showPassowrd()"
                style="margin-top: 20px;"
              >
                <i class="fa fa-eye"></i>
              </button>
            </span>
          </div>
          <div id="message">
            <p>A senha deve conter pelo menos:</p>
            <p id="letter" class="invalid">Uma letra <b>minúscula</b></p>
            <p id="capital" class="invalid">Uma letra <b>maiúscula</b></p>
            <p id="number" class="invalid">Um <b>número</b></p>
            <!-- prettier-ignore -->
            <p id="symbol" class="invalid">Um <b>caracter especial</b> (!@#$%&*?)
            </p>
            <!-- prettier-ignore -->
            <p id="length" class="invalid">Deve ter entre <b>8 e 16 caracteres</b>
              </p>
          </div>
          </div>
          <div class="form-group">
            <label for="fld-email" class="control-label"
              ><i class="fa fa-key"></i> Repita a nova senha:</label
            >
            <input
              id="fld-password_confirm"
              required
              class="form-control"
              type="password"
              name="password_confirm"
							ng-model="newPasswordConfirm"
							my-directive
              onfocus="add(this)"
              onblur="remove(this)"
              pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[!@#$%&*?]).{8,16}"
						/>
						<span class="input-group-btn" uib-tooltip="Exibir a senha">
              <button
                type="button"
                class="btn btn-fab btn-fab-mini"
                ng-click="showPassowrd()"
                style="margin-top: 20px;"
              >
                <i class="fa fa-eye"></i>
              </button>
            </span>
          </div>
          <div id="message">
            <p>A senha deve conter pelo menos:</p>
            <p id="letter" class="invalid">Uma letra <b>minúscula</b></p>
            <p id="capital" class="invalid">Uma letra <b>maiúscula</b></p>
            <p id="number" class="invalid">Um <b>número</b></p>
            <!-- prettier-ignore -->
            <p id="symbol" class="invalid">Um <b>caracter especial</b> (!@#$%&*?)
            </p>
            <!-- prettier-ignore -->
            <p id="length" class="invalid">Deve ter entre <b>8 e 16 caracteres</b>
              </p>
          </div>
          </div>
        </div>
        <div class="panel-footer clearfix">
          <button
            ng-show="!isLoading"
            type="submit"
            class="btn btn-primary btn-raised pull-right"
          >
            Alterar senha <i class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </form>
</div>

<script>
  function add(x) {
    document.getElementById('message').style.display = 'block';
  }
  function remove(x) {
    document.getElementById('message').style.display = 'none';
  }
</script>



<style>
  #message {
    font-size: 12px;
    display: none;
    color: #000;
    position: relative;
    padding: 0px;
    margin: 0px;
  }

  #message p {
    padding: 0px 0px 0px 30px;
    font-size: 12px;
    margin: 0px;
  }

  #message_date {
    font-size: 12px;
    display: none;
    color: #000;
    position: relative;
    padding: 0px;
    margin: 0px;
  }

  #message_date p {
    padding: 0px;
    font-size: 12px;
    margin: 0px;
  }

  .valid {
    color: green;
  }

  .valid:before {
    position: relative;
    left: -10px;
    content: '✔';
  }


  .invalid {
    color: red;
  }

  .invalid:before {
    position: relative;
    left: -10px;
    content: '✖';
  }
</style>

