<div class="row">
	<div class="col-md-4">
		<div ng-include="'/views/logo.html'"></div>
</div>
	<div class="col-md-8 text-right">
		<h2 style="margin-top: 50px;"><i class="fa fa-cog"></i> Aceitar o Termo</h2>
	</div>
</div>

<form class="panel panel-default" >
  <div class="panel-heading">
    <h3>
       <i class="fa fa-file-text-o"></i> ADESÃO À ESTRATÉGIA BUSCA ATIVA ESCOLAR
    </h3>
  </div>
  <div class="panel-body">
    <div style="text-align: justify;
    text-justify: inter-word;">
      <p>A Busca Ativa Escolar é uma estratégia composta por uma metodologia social e uma plataforma tecnológica gratuitas que visam contribuir com os municípios e os estados para o enfrentamento da exclusão escolar. Ela foi desenvolvida pelo Fundo das Nações Unidas para a Infância (UNICEF), em parceria com a União Nacional dos Dirigentes Municipais de Educação (Undime) e o apoio do Colegiado Nacional de Gestores Municipais de Assistência Social (Congemas) e do Conselho Nacional de Secretarias Municipais de Saúde (Conasems).</p>
      <p>A intenção é apoiar os governos na identificação, registro, controle e acompanhamento de crianças e adolescentes que estão fora da escola ou em risco de evasão. A Busca Ativa Escolar possibilita aos municípios e estados identificar as principais causas da exclusão escolar e os territórios mais vulneráveis, colaborando para o planejamento de políticas públicas específicas visando o enfrentamento da situação, bem como garantir a (re)matrícula dos meninos e meninas, seja nas escolas municipais, seja nas escolas estaduais.</p>
      <p>A Busca Ativa Escolar reúne representantes de diferentes áreas – Educação, Saúde, Assistência Social, Planejamento – dentro de uma mesma estratégia. Cada profissional ou grupo tem um papel específico, que vai desde a identificação de uma criança ou adolescente fora da escola até a tomada das providências necessárias para o seu encaminhamento aos diversos serviços públicos que compõem a rede de proteção e sua (re)matrícula e a sua permanência na escola.</p>
      <p>Na presente data, o Governo do Estado ou o Governo do Município faz adesão à Estratégia, reafirmando seu compromisso com o direito de acesso, de permanência e de aprendizagem de cada criança e adolescente no município ou no estado.</p>
    </div>
    <div style="margin: 10px 0;">
      <p>Leia e aceite o termo de adesão.</p>

      <div
        class="panel panel-default"
        style="max-height: 300px; overflow-y: scroll"
      >
        <div class="panel-body" style="text-align: justify;">
          <div>
            <p
              style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:150%;"
            >
              <strong
                ><span 
                  >Termo de Compromisso de</span
                ></strong
              >
            </p>
            <p
              style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:150%;"
            >
              <strong
                ><span 
                  >&nbsp;</span
                ></strong
              ><strong
                ><span 
                  >Privacidade e Prote&ccedil;&atilde;o de Dados Pessoais</span
                ></strong
              >
            </p>
            <p style="margin-top:0pt; margin-bottom:0pt;">
              <span>&nbsp;</span>
            </p>
            <p
              style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:150%;"
            >
              <span
                >O presente Termo de Compromisso de Privacidade e
                Prote&ccedil;&atilde;o de Dados Pessoais (&ldquo;</span
              ><u><span>Termo</span></u
              ><span
                >&rdquo;) da Plataforma Busca Ativa Escolar (&ldquo;</span
              ><u><span>Plataforma</span></u
              ><span
                >&rdquo;) &eacute; firmado entre estado ou munic&iacute;pio que
                utiliza a Plataforma (&ldquo;Estado / Munic&iacute;pio&rdquo;),
                aqui representada por seus funcion&aacute;rios, dirigentes,
                pessoas referenciadas e/ou representantes legais (&ldquo;</span
              ><u><span>Usu&aacute;rio</span></u
              ><span>&rdquo;), e&nbsp;</span
              ><strong
                ><span
                  >UNITED NATIONS CHILDREN&apos;S FUND - UNICEF</span
                ></strong
              ><span
                >, COM SEDE SEPN 510, BLOCO A, 2o ANDAR, ASA NORTE, 201, CONJ.
                171, BRAS&Iacute;LIA - DF, CEP 70750-521, INSCRITA NO CNPJ/ME
                SOB O N&ordm; 03.744.126/0001-69</span
              ><strong
                ><span>&nbsp;&nbsp;</span></strong
              ><span>(&ldquo;</span
              ><u><span>UNICEF</span></u
              ><span>&rdquo;) e&nbsp;</span
              ><strong
                ><span
                  >UNI&Atilde;O NACIONAL DOS DIRIGENTES MUNICIPAIS DE
                  EDUCA&Ccedil;&Atilde;O - UNDIME,&nbsp;</span
                ></strong
              ><span
                >com sede em Bras&iacute;lia, Distrito Federal, no SCS, Quadra
                06, Bloco A, Edif&iacute;cio Carioca, salas 611 a 615, Asa Sul,
                CEP 70325-900, inscrita no CNPJ/MF sob o n&ordm;
                03.604.410/0001-30</span
              ><span>&nbsp;&nbsp;</span
              ><span>(&ldquo;</span
              ><u><span>UNDIME</span></u
              ><span
                >&rdquo;), respons&aacute;veis por gerir a Plataforma, bem como
                &eacute; composto pelas condi&ccedil;&otilde;es abaixo para
                regular quest&otilde;es de privacidade e prote&ccedil;&atilde;o
                de dados pessoais imputados na Plataforma:&nbsp;</span
              >
            </p>
            <ol class="awlist1" style="margin:0pt; padding-left:0pt;" type="1">
              <li
                style="margin-top:18pt; margin-left:28.35pt; margin-bottom:18pt; text-indent:-28.35pt; text-align:justify; line-height:150%; font-weight:bold;"
              >
                <span
                  style="width:12.6pt; font:7pt; display:inline-block;"
                  >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
                ><span style="font-weight:normal;"
                    ><span style="margin-left: 3%;">Para os fins do presente Termo,</span>
                    &ldquo;</span
                  ><u><span style="font-weight:normal;">Dados Pessoais</span></u
                  ><span style="font-weight:normal;"
                    >&rdquo; s&atilde;o todos e quaisquer dados relacionados
                    &agrave; pessoa natural identificada ou identific&aacute;vel
                    e as Partes comprometem-se a observar, em todas as etapas de
                    tratamento de Dados Pessoais que sejam disponibilizados pela
                    Contratante na Plataforma (&ldquo;</span
                  ><u
                    ><span style="font-weight:normal;"
                      >Dados Pessoais Compartilhados</span
                    ></u
                  ><span style="font-weight:normal;"
                    >&rdquo;), todas as leis, normas e
                    regulamenta&ccedil;&otilde;es vigentes e aplic&aacute;veis
                    &agrave; situa&ccedil;&atilde;o (doravante conjuntamente
                    designadas &ldquo;</span
                  ><u
                    ><span style="font-weight:normal;"
                      >Legisla&ccedil;&atilde;o Aplic&aacute;vel</span
                    ></u
                  ><span style="font-weight:normal;">&rdquo;).</span></a
                >
              </li>
              <li
                style="margin-top:18pt; margin-left:28.35pt; margin-bottom:18pt; text-indent:-28.35pt; text-align:justify; line-height:150%; font-weight:bold;"
              >
                <span
                  style="width:11.73pt; font:7pt; display:inline-block;"
                  >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                ><span style="font-weight:normal;"
                  > <span style="margin-left:3%;">S&atilde;o obriga&ccedil;&otilde;es do
                  UNICEF e da UNDIME &ndash; atrav&eacute;s da Plataforma-,
                  al&eacute;m daquelas decorrentes da Legisla&ccedil;&atilde;o
                  Aplic&aacute;vel ou de outras disposi&ccedil;&otilde;es deste
                  Termo:</span></span
                >
              </li>
            </ol>
            <ol style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:42.22pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:4.13pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >tratar os Dados Pessoais Compartilhados de acordo com as
                  informa&ccedil;&otilde;es, orienta&ccedil;&otilde;es e
                  instru&ccedil;&otilde;es do &ldquo;Estado /
                  Munic&iacute;pio&rdquo;;</span
                >
              </li>
            </ol>
            <ol start="2" style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:43.1pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:3.25pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >adotar medidas e rotinas de seguran&ccedil;a que observem os
                  padr&otilde;es estabelecidos na Legisla&ccedil;&atilde;o
                  Aplic&aacute;vel e/ou aqueles comumente verificados em seu
                  segmento, com a finalidade de proteger e preservar os Dados
                  Pessoais Compartilhados.</span
                >
                <ol
                  class="awlist2"
                  start="3"
                  style="margin-right:0pt; margin-left:0pt; padding-left:0pt;"
                  type="1"
                >
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                    ><span style="font-weight:normal;"
                      ><span style="margin-left:3%;">S&atilde;o obriga&ccedil;&otilde;es
                      do &ldquo;Estado / Munic&iacute;pio&rdquo; &ndash; aqui
                      assumidas por seus Usu&aacute;rios-, al&eacute;m daquelas
                      decorrentes da Legisla&ccedil;&atilde;o Aplic&aacute;vel
                      ou de outras disposi&ccedil;&otilde;es do Contrato:</span></span
                    >
                  </li>
                </ol>
              </li>
            </ol>
            <ol style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:42.22pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:4.13pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >fornecer ao UNICEF e UNDIME todas as
                  informa&ccedil;&otilde;es e instru&ccedil;&otilde;es por ela
                  solicitadas ou necess&aacute;rias ao tratamento dos Dados
                  Pessoais Compartilhados, no prazo solicitado pelo UNICEF,
                  responsabilizando-se pelo conte&uacute;do das respectivas
                  informa&ccedil;&otilde;es e instru&ccedil;&otilde;es;</span
                >
              </li>
              <li
                style="margin-top:12pt; margin-left:43.1pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:3.25pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >comunicar ao UNICEF e UNDIME quando aplic&aacute;vel da
                  necessidade de exclus&atilde;o, retifica&ccedil;&atilde;o,
                  edi&ccedil;&atilde;o etc. dos Dados Pessoais Compartilhados na
                  Plataforma.</span
                ><span style="font-weight:normal;">&nbsp;&nbsp;</span>
              </li>
            </ol>
            <ol start="3" style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:42.1pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:4.25pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >responsabilizar-se integralmente pela observ&acirc;ncia da
                  Legisla&ccedil;&atilde;o Aplic&aacute;vel quando da coleta dos
                  Dados Pessoais Compartilhados e respectivo compartilhamento
                  com a Plataforma, garantindo ao UNICEF e UNDIME que foram
                  respeitados os princ&iacute;pios legais aplic&aacute;veis e
                  que h&aacute; base legal compat&iacute;vel com o tratamento
                  que ser&aacute; dado, nos termos deste Contrato, aos Dados
                  Pessoais Compartilhados.</span
                >
                <ol
                  class="awlist3"
                  start="4"
                  style="margin-right:0pt; margin-left:0pt; padding-left:0pt;"
                  type="1"
                >
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
                    ><span style="font-weight:normal;"
                      ><span style="margin-left:3%;"> As disposi&ccedil;&otilde;es do
                      referido Termo ter&atilde;o efeito retroativo,
                      alcan&ccedil;ando atos praticados pelo Usu&aacute;rio
                      &ndash; ou pela entidade que representa - na Plataforma
                      antes da data do aceite do presente Termo;</span></span
                    >
                  </li>
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                    ><span style="font-weight:normal;"
                      ><span style="margin-left:3%;">Sem preju&iacute;zo da eventual
                      aplica&ccedil;&atilde;o das demais penalidades previstas
                      neste Termo, em caso de descumprimento total ou parcial de
                      quaisquer obriga&ccedil;&otilde;es previstas nestas
                      cl&aacute;usulas ou viola&ccedil;&atilde;o da
                      Legisla&ccedil;&atilde;o Aplic&aacute;vel, a Parte
                      inadimplente e/ou infratora se responsabilizar&aacute;
                      integralmente por quaisquer preju&iacute;zos que a Parte
                      prejudicada vier a sofrer em raz&atilde;o do referido
                      inadimplemento e/ou da mencionada viola&ccedil;&atilde;o,
                      incluindo, mas n&atilde;o se limitando a,
                      indeniza&ccedil;&otilde;es em favor dos titulares dos
                      Dados Pessoais Compartilhados, multa(s) arbitrada(s) pela
                      autoridade e/ou qualquer outro &oacute;rg&atilde;o
                      competente, custas processuais, valores provenientes de
                      condena&ccedil;&otilde;es judiciais e danos
                      reputacionais.</span></span
                    >
                  </li>
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                    ><span style="font-weight:normal;"
                      ><span style="margin-left:3%;">As Partes declaram que cumprem a
                      Legisla&ccedil;&atilde;o Aplic&aacute;vel no tocante aos
                      Dados Pessoais Compartilhados, incluindo, mas n&atilde;o
                      se limitando a, &agrave;s disposi&ccedil;&otilde;es
                      previstas na Lei Geral de Prote&ccedil;&atilde;o de Dados
                      Pessoais (Lei no. 13.709/2018), bem como que o tratamento
                      de Dados Pessoais Compartilhados que realizam n&atilde;o
                      viola, restringe ou impacta negativamente os direitos
                      assegurados aos titulares de Dados Pessoais
                      Compartilhados.</span></span
                    >
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-12">
        <label
          class="control-label"
          for="fld-agree_tos-yes"
          style="margin-right: 10px;"
          >Li e concordo com os termos de adesão acima:</label
        >
        <div class="radio-inline">
          <label
            ><input
              id="fld-agree_tos-yes"
              ng-model="$parent.agreeTOS"
              required
              ng-value="1"
              name="agree_tos"
              value="1"
              type="radio"
            />
            Sim</label
          >
        </div>
        <div class="radio-inline">
          <label
            ><input
              id="fld-agree_tos-no"
              ng-model="$parent.agreeTOS"
              ng-value="0"
              name="agree_tos"
              value="0"
              type="radio"
            />
            Não</label
          >
        </div>

        <div ng-show="$parent.agreeTOS == '0'">
          Para prosseguir, é preciso concordar com o termo de adesão. Em caso de
          dúvidas, entre em
          <a
            target="_blank"
            href="https://www.buscaativaescolar.org.br/#contact"
            >contato</a
          >.
        </div>
      </div>
    </div>
  </div>

  <div class="panel-footer clearfix">
    <button
    ng-click="prevStep()"
    type="button"
    class="btn btn-primary pull-left"
  >
    <i class="fa fa-arrow-left"></i> Anterior
  </button>
    <div ng-click="provisionState()" ng-show="$parent.agreeTOS">
      <button type="submit" class="btn btn-primary btn-raised pull-right">
        Finalizar
      </button>
    </div>
  </div>
</form>


