<form class="panel panel-default" ng-submit="$parent.hasCheckedAvailability && $parent.isStateAvailable ? nextStep() : null">
	<div class="panel-heading">
		<h3><strong>{{step}}.</strong> <i class="fa fa-building"></i> Indique a UF</h3>
	</div>

	<div class="panel-body">
		<div>
			<p>
				Selecione a UF que deseja cadastrar. Alguns municípios já possuem acesso ao programa e aparecerão destacados em cinza. Caso a UF não conste na lista, entre em contato com nossa equipe.
			</p>
		</div>

		<div class="clearfix">
			<select class="form-control" id="fld-uf" ng-model="$parent.form.uf" ng-change="onUFSelect($parent.form.uf)" ng-options="n.code as n.name for n in static.getUFs() | orderObjectBy:'name'"></select>
		</div>

		<div ng-show="$parent.hasCheckedAvailability && !$parent.isStateAvailable">
			<div class="alert alert-warning">
				<strong>UF indisponível!</strong> A UF indicada já é participante do programa Busca Ativa Escolar, ou já possui um processo de adesão em andamento.
			</div>
		</div>

	</div>
	<div class="panel-footer clearfix">
		<button ng-show="$parent.hasCheckedAvailability && $parent.isStateAvailable" type="submit" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
	</div>
</form>