<form class="panel panel-default" ng-submit="finish(3)">
	<div class="panel-heading">
		<h3><strong>{{step}}.</strong> <i class="fa fa-building"></i> Termo de Adesão</h3>
	</div>
	<div class="panel-body">
		<div style="margin: 10px 0;">
      <p>Leia e aceite o termo de adesão.</p>

      <div
        class="panel panel-default"
        style="max-height: 300px; overflow-y: scroll"
      >
        <div class="panel-body" style="text-align: justify;">
          <div>
            <p
              style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:150%; font-size:12pt;"
            >
              <strong
                ><span style="font-family:Garamond; font-variant:small-caps;"
                  >Termo de Compromisso de</span
                ></strong
              >
            </p>
            <p
              style="margin-top:0pt; margin-bottom:0pt; text-align:center; line-height:150%; font-size:12pt;"
            >
              <strong
                ><span style="font-family:Garamond; font-variant:small-caps;"
                  >&nbsp;</span
                ></strong
              ><strong
                ><span style="font-family:Garamond; font-variant:small-caps;"
                  >Privacidade e Prote&ccedil;&atilde;o de Dados Pessoais</span
                ></strong
              >
            </p>
            <p style="margin-top:0pt; margin-bottom:0pt; font-size:12pt;">
              <span style="font-family:Garamond;">&nbsp;</span>
            </p>
            <p
              style="margin-top:0pt; margin-bottom:0pt; text-align:justify; line-height:150%; font-size:12pt;"
            >
              <span style="font-family:Garamond;"
                >O presente Termo de Compromisso de Privacidade e
                Prote&ccedil;&atilde;o de Dados Pessoais (&ldquo;</span
              ><u><span style="font-family:Garamond;">Termo</span></u
              ><span style="font-family:Garamond;"
                >&rdquo;) da Plataforma Busca Ativa Escolar (&ldquo;</span
              ><u><span style="font-family:Garamond;">Plataforma</span></u
              ><span style="font-family:Garamond;"
                >&rdquo;) &eacute; firmado entre estado ou munic&iacute;pio que
                utiliza a Plataforma (&ldquo;Estado / Munic&iacute;pio&rdquo;),
                aqui representada por seus funcion&aacute;rios, dirigentes,
                pessoas referenciadas e/ou representantes legais (&ldquo;</span
              ><u><span style="font-family:Garamond;">Usu&aacute;rio</span></u
              ><span style="font-family:Garamond;">&rdquo;), e&nbsp;</span
              ><strong
                ><span style="font-family:Garamond;"
                  >UNITED NATIONS CHILDREN&apos;S FUND - UNICEF</span
                ></strong
              ><span style="font-family:Garamond;"
                >, COM SEDE SEPN 510, BLOCO A, 2o ANDAR, ASA NORTE, 201, CONJ.
                171, BRAS&Iacute;LIA - DF, CEP 70750-521, INSCRITA NO CNPJ/ME
                SOB O N&ordm; 03.744.126/0001-69</span
              ><strong
                ><span style="font-family:Garamond;">&nbsp;&nbsp;</span></strong
              ><span style="font-family:Garamond;">(&ldquo;</span
              ><u><span style="font-family:Garamond;">UNICEF</span></u
              ><span style="font-family:Garamond;">&rdquo;) e&nbsp;</span
              ><strong
                ><span style="font-family:Garamond;"
                  >UNI&Atilde;O NACIONAL DOS DIRIGENTES MUNICIPAIS DE
                  EDUCA&Ccedil;&Atilde;O - UNDIME,&nbsp;</span
                ></strong
              ><span style="font-family:Garamond;"
                >com sede em Bras&iacute;lia, Distrito Federal, no SCS, Quadra
                06, Bloco A, Edif&iacute;cio Carioca, salas 611 a 615, Asa Sul,
                CEP 70325-900, inscrita no CNPJ/MF sob o n&ordm;
                03.604.410/0001-30</span
              ><span style="font-family:Garamond;">&nbsp;&nbsp;</span
              ><span style="font-family:Garamond;">(&ldquo;</span
              ><u><span style="font-family:Garamond;">UNDIME</span></u
              ><span style="font-family:Garamond;"
                >&rdquo;), respons&aacute;veis por gerir a Plataforma, bem como
                &eacute; composto pelas condi&ccedil;&otilde;es abaixo para
                regular quest&otilde;es de privacidade e prote&ccedil;&atilde;o
                de dados pessoais imputados na Plataforma:&nbsp;</span
              >
            </p>
            <ol class="awlist1" style="margin:0pt; padding-left:0pt;" type="1">
              <li
                style="margin-top:18pt; margin-left:28.35pt; margin-bottom:18pt; text-indent:-28.35pt; text-align:justify; line-height:150%; font-family:Garamond; font-size:12pt; font-weight:bold;"
              >
                <span
                  style="width:12.6pt; font:7pt 'Times New Roman'; display:inline-block;"
                  >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
                ><span style="font-weight:normal;"
                    >&nbsp; &nbsp; &nbsp;Para os fins do presente Termo,
                    &ldquo;</span
                  ><u><span style="font-weight:normal;">Dados Pessoais</span></u
                  ><span style="font-weight:normal;"
                    >&rdquo; s&atilde;o todos e quaisquer dados relacionados
                    &agrave; pessoa natural identificada ou identific&aacute;vel
                    e as Partes comprometem-se a observar, em todas as etapas de
                    tratamento de Dados Pessoais que sejam disponibilizados pela
                    Contratante na Plataforma (&ldquo;</span
                  ><u
                    ><span style="font-weight:normal;"
                      >Dados Pessoais Compartilhados</span
                    ></u
                  ><span style="font-weight:normal;"
                    >&rdquo;), todas as leis, normas e
                    regulamenta&ccedil;&otilde;es vigentes e aplic&aacute;veis
                    &agrave; situa&ccedil;&atilde;o (doravante conjuntamente
                    designadas &ldquo;</span
                  ><u
                    ><span style="font-weight:normal;"
                      >Legisla&ccedil;&atilde;o Aplic&aacute;vel</span
                    ></u
                  ><span style="font-weight:normal;">&rdquo;).</span></a
                >
              </li>
              <li
                style="margin-top:18pt; margin-left:28.35pt; margin-bottom:18pt; text-indent:-28.35pt; text-align:justify; line-height:150%; font-family:Garamond; font-size:12pt; font-weight:bold;"
              >
                <span
                  style="width:11.73pt; font:7pt 'Times New Roman'; display:inline-block;"
                  >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                ><span style="font-weight:normal;"
                  >&nbsp; &nbsp; &nbsp; S&atilde;o obriga&ccedil;&otilde;es do
                  UNICEF e da UNDIME &ndash; atrav&eacute;s da Plataforma-,
                  al&eacute;m daquelas decorrentes da Legisla&ccedil;&atilde;o
                  Aplic&aacute;vel ou de outras disposi&ccedil;&otilde;es deste
                  Termo:</span
                >
              </li>
            </ol>
            <ol style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:42.22pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:4.13pt; font-family:Garamond; font-size:12pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >tratar os Dados Pessoais Compartilhados de acordo com as
                  informa&ccedil;&otilde;es, orienta&ccedil;&otilde;es e
                  instru&ccedil;&otilde;es do &ldquo;Estado /
                  Munic&iacute;pio&rdquo;;</span
                >
              </li>
            </ol>
            <ol start="2" style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:43.1pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:3.25pt; font-family:Garamond; font-size:12pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >adotar medidas e rotinas de seguran&ccedil;a que observem os
                  padr&otilde;es estabelecidos na Legisla&ccedil;&atilde;o
                  Aplic&aacute;vel e/ou aqueles comumente verificados em seu
                  segmento, com a finalidade de proteger e preservar os Dados
                  Pessoais Compartilhados.</span
                >
                <ol
                  class="awlist2"
                  start="3"
                  style="margin-right:0pt; margin-left:0pt; padding-left:0pt;"
                  type="1"
                >
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt 'Times New Roman'; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                    ><span style="font-weight:normal;"
                      >&nbsp; &nbsp; &nbsp; S&atilde;o obriga&ccedil;&otilde;es
                      do &ldquo;Estado / Munic&iacute;pio&rdquo; &ndash; aqui
                      assumidas por seus Usu&aacute;rios-, al&eacute;m daquelas
                      decorrentes da Legisla&ccedil;&atilde;o Aplic&aacute;vel
                      ou de outras disposi&ccedil;&otilde;es do Contrato:</span
                    >
                  </li>
                </ol>
              </li>
            </ol>
            <ol style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:42.22pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:4.13pt; font-family:Garamond; font-size:12pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >fornecer ao UNICEF e UNDIME todas as
                  informa&ccedil;&otilde;es e instru&ccedil;&otilde;es por ela
                  solicitadas ou necess&aacute;rias ao tratamento dos Dados
                  Pessoais Compartilhados, no prazo solicitado pelo UNICEF,
                  responsabilizando-se pelo conte&uacute;do das respectivas
                  informa&ccedil;&otilde;es e instru&ccedil;&otilde;es;</span
                >
              </li>
              <li
                style="margin-top:12pt; margin-left:43.1pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:3.25pt; font-family:Garamond; font-size:12pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >comunicar ao UNICEF e UNDIME quando aplic&aacute;vel da
                  necessidade de exclus&atilde;o, retifica&ccedil;&atilde;o,
                  edi&ccedil;&atilde;o etc. dos Dados Pessoais Compartilhados na
                  Plataforma.</span
                ><span style="font-weight:normal;">&nbsp;&nbsp;</span>
              </li>
            </ol>
            <ol start="3" style="margin:0pt; padding-left:0pt;" type="a">
              <li
                style="margin-top:12pt; margin-left:42.1pt; margin-bottom:18pt; text-align:justify; line-height:150%; padding-left:4.25pt; font-family:Garamond; font-size:12pt; font-weight:bold;"
              >
                <span style="font-weight:normal;"
                  >responsabilizar-se integralmente pela observ&acirc;ncia da
                  Legisla&ccedil;&atilde;o Aplic&aacute;vel quando da coleta dos
                  Dados Pessoais Compartilhados e respectivo compartilhamento
                  com a Plataforma, garantindo ao UNICEF e UNDIME que foram
                  respeitados os princ&iacute;pios legais aplic&aacute;veis e
                  que h&aacute; base legal compat&iacute;vel com o tratamento
                  que ser&aacute; dado, nos termos deste Contrato, aos Dados
                  Pessoais Compartilhados.</span
                >
                <ol
                  class="awlist3"
                  start="4"
                  style="margin-right:0pt; margin-left:0pt; padding-left:0pt;"
                  type="1"
                >
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt 'Times New Roman'; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</span
                    ><span style="font-weight:normal;"
                      >&nbsp; &nbsp; &nbsp; As disposi&ccedil;&otilde;es do
                      referido Termo ter&atilde;o efeito retroativo,
                      alcan&ccedil;ando atos praticados pelo Usu&aacute;rio
                      &ndash; ou pela entidade que representa - na Plataforma
                      antes da data do aceite do presente Termo;</span
                    >
                  </li>
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt 'Times New Roman'; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                    ><span style="font-weight:normal;"
                      >&nbsp; &nbsp; &nbsp;Sem preju&iacute;zo da eventual
                      aplica&ccedil;&atilde;o das demais penalidades previstas
                      neste Termo, em caso de descumprimento total ou parcial de
                      quaisquer obriga&ccedil;&otilde;es previstas nestas
                      cl&aacute;usulas ou viola&ccedil;&atilde;o da
                      Legisla&ccedil;&atilde;o Aplic&aacute;vel, a Parte
                      inadimplente e/ou infratora se responsabilizar&aacute;
                      integralmente por quaisquer preju&iacute;zos que a Parte
                      prejudicada vier a sofrer em raz&atilde;o do referido
                      inadimplemento e/ou da mencionada viola&ccedil;&atilde;o,
                      incluindo, mas n&atilde;o se limitando a,
                      indeniza&ccedil;&otilde;es em favor dos titulares dos
                      Dados Pessoais Compartilhados, multa(s) arbitrada(s) pela
                      autoridade e/ou qualquer outro &oacute;rg&atilde;o
                      competente, custas processuais, valores provenientes de
                      condena&ccedil;&otilde;es judiciais e danos
                      reputacionais.</span
                    >
                  </li>
                  <li
                    style="margin-top:18pt; margin-left:-18pt; margin-bottom:18pt; text-indent:-28.35pt;"
                  >
                    <span
                      style="width:11.73pt; font:7pt 'Times New Roman'; display:inline-block;"
                      >&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span
                    ><span style="font-weight:normal;"
                      >&nbsp; &nbsp; &nbsp;As Partes declaram que cumprem a
                      Legisla&ccedil;&atilde;o Aplic&aacute;vel no tocante aos
                      Dados Pessoais Compartilhados, incluindo, mas n&atilde;o
                      se limitando a, &agrave;s disposi&ccedil;&otilde;es
                      previstas na Lei Geral de Prote&ccedil;&atilde;o de Dados
                      Pessoais (Lei no. 13.709/2018), bem como que o tratamento
                      de Dados Pessoais Compartilhados que realizam n&atilde;o
                      viola, restringe ou impacta negativamente os direitos
                      assegurados aos titulares de Dados Pessoais
                      Compartilhados.</span
                    >
                  </li>
                </ol>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

		<div class="row">
			<div class="form-group col-md-12">
				<label class="control-label" for="fld-agree_tos-yes" style="margin-right: 10px;">Li e concordo com os termos de adesão acima:</label>
				<div class="radio-inline">
					<label><input id="fld-agree_tos-yes" ng-model="$parent.agreeTOS" required ng-value="1" name="agree_tos" value="1" type="radio"> Sim</label>
				</div>
				<div class="radio-inline">
					<label><input id="fld-agree_tos-no" ng-model="$parent.agreeTOS" ng-value="0" name="agree_tos" value="0" type="radio"> Não</label>
				</div>

				<div ng-show="$parent.agreeTOS == '0'">
						Para prosseguir, é preciso concordar com o termo de adesão. Em caso de dúvidas, entre em <a target="_blank" href="https://www.buscaativaescolar.org.br/#contact">contato</a>.
				</div>

			</div>
		</div>
	</div>

	<div class="panel-footer clearfix">
		<button ng-click="prevStep()" type="button" class="btn btn-primary pull-left"><i class="fa fa-arrow-left"></i> Anterior</button>
		<div ng-show="$parent.agreeTOS">
			<button type="submit" class="btn btn-primary btn-raised pull-right">Próximo <i class="fa fa-arrow-right"></i></button>
		</div>
	</div>
</form>