<div class="panel panel-default" ng-show="showAll">
    <div class="panel-heading"><i class="material-icons">person</i> Dados da criança ou adolescente</div>
    <div class="panel-body">
        <div class="form-group col-md-6">
            <label class="control-label" for="fld-name">Nome da criança ou adolescente</label>
            <div>{{fields.name && fields.name || 'Não informado'}}
            </div>
        </div>

        <div class="form-group col-md-3">
            <label class="control-label" for="fld-dob">Data de nascimento</label>
            <div>{{(fields.dob != null) && (fields.dob | date: 'dd/MM/yyyy') || 'Não informado'}}
            </div>
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="fld-gender">Sexo</label>
            <div id="fld-gender" ng-repeat="item in static.getGenders()">
				<span ng-if="fields.gender === item.slug">
					{{item.label}}
				</span>
            </div>
            <div ng-if="fields.gender === null">
                Não informado
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group col-md-7">
            <label class="control-label" for="fld-alert-address">Endereço*</label>
            <div id="fld-alert-address">{{fields.place_address && fields.place_address || 'Não informado'}}</div>
        </div>
        <div class="form-group col-md-5">
            <label class="control-label" for="fld-alert-neighborhood">Bairro*</label>
            <div id="fld-alert-neighborhood">{{fields.place_neighborhood && fields.place_neighborhood || 'Não
                informado'}}
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="fld-alert-cep">CEP</label>
            <div id="fld-alert-cep">{{fields.place_cep && (fields.place_cep | cep) || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-4 clearfix">
            <label class="control-label" for="fld-alert-city">Município*</label>
            <div>
                {{fields.place_city_name && fields.place_city_name || 'Não informado'}}
            </div>

            <div ng-show="alertaCitiesLoading">
                <i class="fa fa-refresh rotate-icon"></i> Buscando cidades...
            </div>
            <div ng-show="alertaNoCitiesFound">
                <i class="fa fa-remove"></i> Nenhuma cidade encontrada
            </div>
        </div>
        <div class="form-group col-md-4">
            <label class="control-label" for="fld-alert-uf">UF</label>
            <div> {{fields.place_uf && fields.place_uf || 'Não informado'}}
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="showAll">
    <div class="panel-heading"><i class="fa fa-graduation-cap"></i> Educação</div>
    <div class="panel-body">
        <div class="form-group col-md-12">
            <label class="control-label" for="fld-has_been_in_school-yes">Já frequentou a escola alguma vez?</label>
            <div ng-if="fields.has_been_in_school == 1"> Sim</div>
            <div ng-if="fields.has_been_in_school == 0">Não</div>
            <div ng-if="fields.has_been_in_school == undefined">Não informado</div>
        </div>

        <div class="form-group col-md-12" ng-show="fields.reason_not_enrolled">
            <label class="control-label" for="fld-reason_not_enrolled">Qual a justificativa de não ter
                frequentado?</label>
            <div>{{fields.reason_not_enrolled && fields.reason_not_enrolled || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-6" ng-show="fields.has_been_in_school">
            <label class="control-label" for="fld-school_last_grade">Qual o último ano que frequentou?</label>
            <div ng-repeat="item in static.getSchoolGrades()" ng-if="item.slug === fields.school_last_grade">
                {{item.label}}
            </div>
            <div ng-if="typeof(fields.school_last_grade) == null">
                <div> Não informado</div>
            </div>
        </div>

        <div class="form-group col-md-6" ng-show="fields.has_been_in_school">
            <label class="control-label" for="fld-school_last_year">Em qual ano foi cursado o último ano
                escolar?</label>
            <div>{{fields.school_last_year && fields.school_last_year || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-12" ng-show="fields.has_been_in_school">
            <label class="control-label" for="fld-school_last_status-completed">Qual o status do último ano
                escolar?</label>
            <div ng-if="fields.school_last_status === 1 && typeof(fields.school_last_status) == null">
                <div> Completo</div>
            </div>
            <div ng-if="fields.school_last_status === 0 && typeof(fields.school_last_status) == null">
                <div> incompleto</div>
            </div>
            <div ng-if="typeof(fields.school_last_status) == null">
                <div> Não informado</div>
            </div>
        </div>

        <div class="form-group col-md-12" ng-show="fields.has_been_in_school">
            <label class="control-label" for="fld-school_last_age">Com qual idade foi cursado o último ano
                escolar?</label>
            <div>{{fields.school_last_age && fields.school_last_age || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-12 clearfix" ng-show="fields.has_been_in_school">
            <label class="control-label" for="fld-school_last">Qual a última escola cursada?</label>
            <div>
                {{fields.school_last_name && fields.school_last_name || 'Não informado'}}
            </div>

            <div ng-show="pesquisaSchoolsLoading">
                <i class="fa fa-refresh rotate-icon"></i> Buscando escolas...
            </div>
            <div ng-show="pesquisaNoSchoolsFound">
                <i class="fa fa-remove"></i> Nenhuma escola encontrada
            </div>

        </div>

        <div class="form-group col-md-12" ng-show="fields.has_been_in_school">
            <label class="control-label" for="fld-school_last_address">Endereço da última escola cursada</label>
            <div>{{fields.school_last_address && fields.school_last_address || 'Não informado'}}</div>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="showAll || isStepOpen('Pesquisa')">
    <div class="panel-heading"><i class="fa fa-users"></i> Sobre os pais ou responsáveis</div>
    <div class="panel-body">
        <div class="form-group col-md-12">
            <label class="control-label" for="fld-parents_has_mother">Quais são os familiares presentes?</label>
            <div class="col-md-12 pl-0" ng-if="fields.parents_has_father">
                <div class="col-md-12 pl-0">
                    <label> Pai</label>
                </div>

                <div ng-show="fields.aux.contatos.father.name">
                    <div class="col-md-6">
                        <label>
                            <small>Nome:</small>
                        </label> {{fields.aux.contatos.father.name}}
                    </div>
                    <div class="col-md-6">
                        <label>
                            <small>Telefone:</small>
                        </label> {{fields.aux.contatos.father.phone | phone}}
                    </div>
                </div>
            </div>

            <div class="col-md-12 pl-0" ng-if="fields.parents_has_mother">
                <div class="col-md-12 pl-0">
                    <label> Mãe</label>
                </div>
                <div ng-show="fields.aux.contatos.mother.name">
                    <div class="col-md-6">
                        <label>
                            <small>Nome:</small>
                        </label> {{fields.aux.contatos.mother.name}}
                    </div>
                    <div class="col-md-6">
                        <label>
                            <small>Telefone:</small>
                        </label> {{fields.aux.contatos.mother.phone | phone}}
                    </div>
                </div>
            </div>

            <div class="col-md-12 pl-0" ng-if="fields.parents_has_brother">
                <div class="col-md-12 pl-0">
                    <label> Irmãos</label>
                </div>
                <div ng-show="fields.aux.contatos.siblings">
                    <div ng-repeat="item in fields.aux.contatos.siblings">
                        <div class="col-md-6">
                            <label>
                                <small>Nome:</small>
                            </label> {{item.name}}
                        </div>
                        <div class="col-md-6">
                            <label>
                                <small>Telefone:</small>
                            </label> {{item.phone | phone}}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

            <div class="col-md-12 pl-0" ng-if="fields.parents_has_grandparents">
                <div class="col-md-12 pl-0">
                    <label> Avós</label>
                </div>
                <div ng-show="fields.aux.contatos.grandparents">
                    <div ng-repeat="item in fields.aux.contatos.grandparents">

                        <div class="col-md-6">
                            <label>
                                <small>Nome:</small>
                            </label> {{item.name}}
                        </div>
                        <div class="col-md-6">
                            <label>
                                <small>Telefone:</small>
                            </label> {{item.phone | phone}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12 pl-0" ng-if="fields.parents_has_others">
                <div class="col-md-12 pl-0">
                    <label> Outros familiares</label>
                </div>
                <div ng-show="fields.aux.contatos.others">
                    <div ng-repeat="item in fields.aux.contatos.others">
                        <div class="col-md-6">
                            <label>
                                <small>Nome:</small>
                            </label> {{item.name}}
                        </div>
                        <div class="col-md-6">
                            <label>
                                <small>Telefone:</small>
                            </label> {{item.phone | phone}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-parents_who_is_guardian-father">Quem é o responsável?</label>
            <div ng-if="fields.parents_who_is_guardian != undefined">
                <label ng-if="fields.parents_who_is_guardian == 'father'"> Pai</label>

                <label ng-if="fields.parents_who_is_guardian == 'mother'"> Mãe</label>

                <label ng-if="fields.parents_who_is_guardian == 'siblings'"> Irmãos</label>

                <label ng-if="fields.parents_who_is_guardian == 'other'"> Outros familiares</label>
            </div>
            <div ng-if="fields.parents_who_is_guardian == undefined">Não informado</div>

        </div>

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-mother_name">Nome completo da mãe</label>
            <div class="" id="fld-mother_name">{{fields.mother_name && fields.mother_name || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-guardian_name">Nome completo do responsável</label>
            <div class="">{{fields.guardian_name && fields.guardian_name || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-guardian_rg">RG do responsável</label>
            <div class="" id="fld-guardian_rg">{{fields.guardian_rg && fields.guardian_rg || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-guardian_cpf">CPF do responsável</label>
            <div class="" id="fld-guardian_cpf">{{fields.guardian_cpf && (fields.guardian_cpf | cpf) || 'Não
                Informado'}}
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-guardian_dob">Data de nascimento do responsável</label>
            <!--<input type="text" ui-date-mask class="form-control" id="fld-guardian_dob"-->
            <!--ng-model="fields.guardian_dob" placeholder="dd/mm/yyyy">-->
            <div class="" id="fld-guardian_dob">{{typeof(fields.guardian_dob) != null && (fields.guardian_dob | date:
                'dd/MM/yyyy') || 'Não Informado'}}
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-guardian_phone">Contato do responsável</label>
            <div class="" id="fld-guardian_phone">{{fields.guardian_phone && (fields.guardian_phone) || 'Não
                Informado'}}
            </div>
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="fld-guardian_race">Raça ou etnia do responsável</label>
            <div ng-repeat="item in static.getRaces()" ng-if="item.slug === fields.guardian_race">
                {{item.label}}
            </div>
            <div ng-if="fields.guardian_race == undefined">
                Não informado
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-guardian_schooling">Escolaridade do responsável</label>
            <div ng-repeat="item in static.getSchoolingLevels()" ng-if="item.slug === fields.guardian_schooling">
                {{item.label}}
            </div>
            <div ng-if="fields.guardian_schooling == undefined">
                Não informado
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-guardian_job">Ocupação do responsável</label>
            <div>{{fields.guardian_job && fields.guardian_job || 'Não informado'}}</div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-parents_income">Renda familiar per capita</label>
            <div ng-repeat="item in static.getIncomeRanges()" ng-if="item.slug === fields.parents_income">
                {{item.label && item.label || 'Não informado'}}
            </div>
            <div ng-if="fields.parents_income == undefined">
                Não informado
            </div>
        </div>

        <div ng-show="editable && canEditCurrentStep()">
            <hr/>

            <a class="btn btn-raised btn-info" ng-show="canEditCurrentStep()" ng-click="save()">Salvar</a>
            <a class="btn btn-info" ng-click="saveAndProceed()" ng-show="canCompleteStep() && hasNextStep()">Salvar e
                iniciar Análise Técnica</a>
        </div>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading"><i class="fa fa-exclamation-circle"></i> Sobre o caso</div>
    <div class="panel-body">
        <div class="form-group col-md-12">
            <label class="control-label">Motivos de estar fora da escola</label>
            <div class="radio" ng-repeat="cause in static.getVisibleCaseCauses()"
                 ng-if="isCheckboxChecked('case_cause_ids', cause.id)">
                <label>
                    {{cause.label}}
                </label>
            </div>
            <div ng-include="'/views/children/view/alert_motive.html'"></div>
            <div ng-if="child.reopen_cases">
                <label class="control-label" title="Casos que foram fechados">Caso(s) relacionado(s)</label>
                <div class="radio" ng-repeat="item in child.reopen_cases">
                    <a ng-href="children/view/{{item.id}}/consolidated" title="{{item.id}}">
                        {{item.name}} - Criado em: {{item.created_at | date}}
                    </a>
                    <p ng-show="item.reason"> <b>Justificativa:</b> {{item.reason}}</p>
                </div>
            </div>
        </div>

        <div class="form-group col-md-12" ng-show="isHandicapped()">
            <label class="control-label" for="fld-handicapped_at_sus-yes">A criança ou adolescente é atendida pelo SUS
                (Sistema Único de Saúde)?</label>
            <div class="radio">
                <label><input id="fld-handicapped_at_sus-yes" ng-disabled="!canEditCurrentStep()"
                              ng-model="fields.handicapped_at_sus" name="handicapped_at_sus" ng-value="1" value="yes"
                              type="radio"> Sim</label>
            </div>
            <div class="radio">
                <label><input id="fld-handicapped_at_sus-no" ng-disabled="!canEditCurrentStep()"
                              ng-model="fields.handicapped_at_sus" name="handicapped_at_sus" ng-value="0" value="no"
                              type="radio"> Não</label>
            </div>
        </div>

        <div class="form-group col-md-12" ng-show="isHandicapped()">
            <label class="control-label" for="fld-handicapped_reason_not_enrolled">Por qual motivo a matrícula não foi
                realizada?</label>
            <select type="text" class="form-control" id="fld-handicapped_reason_not_enrolled"
                    ng-disabled="!canEditCurrentStep()" ng-model="fields.handicapped_reason_not_enrolled"
                    ng-options="n.slug as n.label for n in static.getHandicappedRejectReasons()"></select>
        </div>
    </div>
</div>

<div class="panel panel-default" ng-show="isStepOpen('AnaliseTecnica')">
    <div class="panel-heading"><i class="fa fa-info-circle"></i> Análise Técnica</div>
    <div class="panel-body">
        <div class="form-group col-md-12">
            <label class="control-label">Motivos identificados</label>
            <div class="radio" ng-repeat="id in getCaseCauseIDs()">
                <label>
                    <i class="fa fa-check"></i> {{static.getCaseCauses()[id].label}}
                    <strong ng-if="static.getCaseCauses()[id].alert_cause_id == getAlertCauseId()" class="badge">Motivo
                        indicado no alerta</strong>
                </label>
            </div>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label">Grau de risco</label>
            <p>
            <div class="label label-danger">{{child.risk_level | lang:'child.risk_level'}}</div>
            </p>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-analysis_details">Detalhamento da análise*</label>
            <textarea style="height: 100px" class="form-control" id="fld-analysis_details"
                      ng-model="fields.analysis_details"></textarea>
        </div>


        <div ng-show="editable && canEditCurrentStep()">
            <hr/>
            <a class="btn btn-raised btn-info" ng-show="canEditCurrentStep()" ng-click="save()">Salvar</a>
            <a class="btn btn-info" ng-click="saveAndProceed()" ng-show="canCompleteStep() && hasNextStep()">Salvar e
                enviar para o supervisor institucional</a>
        </div>

    </div>
</div>

<div class="panel panel-default" ng-show="isStepOpen('GestaoDoCaso') && identity.can('cases.assign')">
    <div class="panel-heading"><i class="fa fa-info-circle"></i> Relatório de gestão do caso</div>
    <div class="panel-body">

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-actions_description">Descreva as atividades realizadas*</label>
            <textarea style="height: 200px" class="form-control" id="fld-actions_description"
                      ng-model="fields.actions_description"></textarea>
        </div>


        <div ng-show="editable && canEditCurrentStep()">
            <hr/>

            <a class="btn btn-raised btn-info" ng-show="canEditCurrentStep()" ng-click="save()">Salvar</a>
            <a class="btn btn-info" ng-click="saveAndProceed()" ng-show="canCompleteStep() && hasNextStep()">Salvar e
                concluir etapa</a>
        </div>

    </div>
</div>

<div class="panel panel-default" ng-show="(showAll && isPastStep('Rematricula')) || isStepOpen('Rematricula')">
    <div class="panel-heading"><i class="fa fa-building"></i> Dados da escola de (re)matrícula</div>
    <div class="panel-body">

        <div class="clearfix">
            <div class="form-group col-md-6">
                <label class="control-label" for="fld-enroll-reinsertion_date">Data da (re)matrícula
                    (dd/mm/aaaa)*</label>

                <div class="clearfix">
                    <input type="text" ui-date-mask class="form-control" id="fld-enroll-reinsertion_date"
                           ng-model="fields.reinsertion_date"
                           style="float: left; width: 70%;" placeholder="dd/mm/yyyy">
                    <button type="button" class="btn btn-sm btn-raised btn-default" ng-hide="!canEditCurrentStep()"
                            ng-click="fillWithCurrentDate('reinsertion_date')" style="float: left; width: 25%">Hoje
                    </button>
                </div>
            </div>

            <div class="form-group col-md-2">
                <label class="control-label" for="fld-enroll-school_uf">UF*</label>
                <select class="form-control" id="fld-enroll-school_uf" ng-disabled="!canEditCurrentStep()"
                        ng-model="fields.school_uf"
                        ng-options="uf.code as uf.code for uf in static.getUFs() | orderObjectBy:'code'"></select>
            </div>
            <div class="form-group col-md-4 clearfix">
                <label class="control-label" for="fld-enroll-school_city">Município*</label>
                <input type="text" id="fld-enroll-school_city"
                       class="form-control"
                       ng-model="fields.school_city"


                       uib-typeahead="city for city in fetchCities($viewValue)"
                       typeahead-editable="false"
                       typeahead-no-results="schoolNoCitiesFound"
                       typeahead-loading="schoolCitiesLoading"
                       typeahead-focus-first="true"
                       typeahead-template-url="city_item.html"
                       typeahead-wait-ms="400"
                       typeahead-min-length="3"
                       typeahead-input-formatter="renderSelectedCity($model)"

                >
                <div ng-show="schoolCitiesLoading">
                    <i class="fa fa-refresh rotate-icon"></i> Buscando cidades...
                </div>
                <div ng-show="schoolNoCitiesFound">
                    <i class="fa fa-remove"></i> Nenhuma cidade encontrada
                </div>
            </div>
        </div>

        <div class="form-group col-md-12 clearfix">
            <label class="control-label" for="fld-enroll-school">Nome da escola*</label>
            <!--input type="text" class="form-control" id="fld-enroll-school_name"  ng-model="fields.school_name"-->

            <input type="text" id="fld-enroll-school"
                   class="form-control"
                   ng-model="fields.school"

                   uib-typeahead="school for school in fetchSchools($viewValue, fields.school_uf, fields.school_city)"
                   typeahead-editable="false"
                   typeahead-no-results="rematriculaNoSchoolsFound"
                   typeahead-loading="rematriculaSchoolsLoading"
                   typeahead-focus-first="true"
                   typeahead-template-url="school_item.html"
                   typeahead-wait-ms="400"
                   typeahead-min-length="3"
                   typeahead-input-formatter="renderSelectedSchool($model)"
            >

            <div ng-show="rematriculaSchoolsLoading">
                <i class="fa fa-refresh rotate-icon"></i> Buscando escolas...
            </div>
            <div ng-show="rematriculaNoSchoolsFound">
                <i class="fa fa-remove"></i> Nenhuma escola encontrada
            </div>

        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-enroll-school_address">Endereço*</label>
            <input type="text" class="form-control" id="fld-enroll-school_address"
                   ng-model="fields.school_address">
        </div>

        <div class="form-group col-md-3">
            <label class="control-label" for="fld-enroll-school_cep">CEP</label>
            <input type="tel" ui-br-cep-mask class="form-control" id="fld-enroll-school_cep"
                   ng-model="fields.school_cep" placeholder="00000-000">
        </div>

        <div class="form-group col-md-3">
            <label class="control-label" for="fld-enroll-school_neighborhood">Bairro*</label>
            <input type="text" class="form-control" id="fld-enroll-school_neighborhood"
                   ng-model="fields.school_neighborhood">
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-enroll-school_contact_name">Nome do contato da gestão da
                escola*</label>
            <input type="text" class="form-control" id="fld-enroll-school_contact_name"
                   ng-model="fields.school_contact_name">
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="fld-enroll-school_contact_email">E-mail</label>
            <input type="email" class="form-control" id="fld-enroll-school_contact_email"
                   ng-model="fields.school_contact_email">
        </div>
        <div class="form-group col-md-3">
            <label class="control-label" for="fld-enroll-school_contact_position">Cargo</label>
            <input type="text" class="form-control" id="fld-enroll-school_contact_position"
                   ng-model="fields.school_contact_position">
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="fld-enroll-school_phone">Telefone da escola*</label>
            <input type="tel" ui-br-phone-number ng-minlength="12" class="form-control" id="fld-enroll-school_phone"
                   ng-model="fields.school_phone" placeholder="(00) 00000-0000">
        </div>
        <div class="form-group col-md-6">
            <label class="control-label" for="fld-enroll-school_email">E-mail da escola</label>
            <input type="email" class="form-control" id="fld-enroll-school_email"
                   ng-model="fields.school_email">
        </div>
        <div class="form-group col-md-12">
            <label class="control-label" for="fld-reinsertion_grade">Escolha abaixo em que etapa de ensino e série que a
                criança ou adolescente foi (re)matriculada*</label>
            <select id="fld-reinsertion_grade" class="form-control" ng-disabled="!canEditCurrentStep()"
                    ng-model="fields.reinsertion_grade"
                    ng-options="n.slug as n.label for n in static.getSchoolGrades()"></select>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-observations">Observações sobre a (re)matrícula</label>
            <textarea style="height: 100px" class="form-control" id="fld-observations"
                      ng-model="fields.observations"></textarea>
        </div>

        <hr/>

        <div ng-show="editable && canEditCurrentStep()">
            <hr/>

            <a class="btn btn-raised btn-info" ng-show="canEditCurrentStep()" ng-click="save()">Salvar</a>
            <a class="btn btn-info" ng-click="saveAndProceed()" ng-show="canCompleteStep() && hasNextStep()">Salvar e
                concluir etapa</a>
        </div>

    </div>
</div>

<div class="panel panel-default" ng-show="isStepOpen('Observacao')">
    <div class="panel-heading"><i class="fa fa-info-circle"></i> Relatório do período de observação</div>
    <div class="panel-body">

        <div class="form-group col-md-6">
            <label for="fld-obs-reinsertion_date" class="control-label">Data da (re)matrícula</label>
            <div class="clearfix">
                <input type="text" ui-date-mask class="form-control" id="fld-obs-reinsertion_date"
                       ng-model="fields.reinsertion_date"
                       style="float: left; width: 70%;" placeholder="dd/mm/yyyy">
                <button type="button" class="btn btn-sm btn-raised btn-default" ng-hide="!canEditCurrentStep()"
                        ng-click="fillWithCurrentDate('reinsertion_date')" style="float: left; width: 25%">Hoje
                </button>
                <small>Data original: {{fields.reinsertion_date_original | amDateFormat:'DD/MM/YYYY'}}</small>
            </div>
        </div>

        <div class="form-group col-md-6">
            <label class="control-label" for="fld-obs-report_date">Data de registro do relatório (dd/mm/aaaa)*</label>
            <div class="clearfix">
                <input type="text" ui-date-mask class="form-control" id="fld-obs-report_date"
                       ng-model="fields.report_date"
                       style="float: left; width: 70%;" placeholder="dd/mm/yyyy">
                <button type="button" class="btn btn-sm btn-raised btn-default" ng-hide="!canEditCurrentStep()"
                        ng-click="fillWithCurrentDate('report_date')" style="float: left; width: 25%">Hoje
                </button>
            </div>
        </div>

        <div class="form-group col-md-12"
             ng-show="!areDatesEqual(fields.reinsertion_date, fields.reinsertion_date_original)">
            <label class="control-label" for="fld-obs-reinsertion_date_change_reason">Descreva o motivo da mudança na
                data de rematrícula*</label>
            <textarea style="height: 60px" class="form-control" id="fld-obs-reinsertion_date_change_reason"
                      ng-model="fields.reinsertion_date_change_reason"></textarea>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-obs-is_child_still_in_school-yes">A criança ou adolescente continua na
                escola?*</label>
            <div class="radio">
                <label><input id="fld-obs-is_child_still_in_school-yes" ng-disabled="!canEditCurrentStep()"
                              ng-model="fields.is_child_still_in_school" ng-value="1"
                              name="obs-is_child_still_in_school" value="yes" type="radio" checked> Sim</label>
            </div>
            <div class="radio">
                <label><input id="fld-obs-is_child_still_in_school-no" ng-disabled="!canEditCurrentStep()"
                              ng-model="fields.is_child_still_in_school" ng-value="0"
                              name="obs-is_child_still_in_school" value="no" type="radio"> Não</label>
            </div>
        </div>

        <div class="form-group col-md-12" ng-show="!fields.is_child_still_in_school">
            <label class="control-label" for="fld-obs-evasion_reason">Descreva o motivo da nova evasão*</label>
            <textarea style="height: 100px" class="form-control" id="fld-obs-evasion_reason"
                      ng-model="fields.evasion_reason"></textarea>
        </div>

        <div class="form-group col-md-12">
            <label class="control-label" for="fld-obs-observations">Observações gerais</label>
            <textarea style="height: 100px" class="form-control" id="fld-obs-observations"
                      ng-model="fields.observations"></textarea>
        </div>

        <div class="form-group col-md-12" ng-show="canEditCurrentStep() && !canUpdateStepObservation(child)">
            <div class="alert alert-warning">
                <strong>Atenção</strong><br/>
                A {{step.name}} só poderá ser cadastrada após o prazo definido nas configurações do município.
            </div>
        </div>

        <div ng-show="editable && canEditCurrentStep()">
            <hr/>
            <a class="btn btn-raised btn-info" ng-show="canEditCurrentStep() && canUpdateStepObservation(child)"
               ng-click="save()">Salvar</a>
            <a class="btn btn-info" ng-click="saveAndProceed()"
               ng-show="canCompleteStep() && canUpdateStepObservation(child)">Salvar e concluir etapa</a>
        </div>

    </div>
</div>
<div class="panel panel-default" ng-show="showAll && fields.observation">
    <div class="panel-heading">Observações</div>
    <div class="panel-body">
        <div class="form-group col-md-12">
            <p ng-bind="fields.observation"></p>
        </div>
    </div>
</div>
