<div>
  <div class="panel panel-default">
    <div class="panel-heading clearfix">
      <div class="row">
        <div class="col-md-6">
          <h3>
            <i class="fa fa-university"></i> Municípios |
            {{tenants.meta.pagination.total}}
          </h3>
        </div>
        <div class="col-md-6">
          <a
            ng-if="identity.can('tenants.export')"
            ng-click="export()"
            class="btn btn-raised btn-primary pull-right"
            ><i class="fa fa-download"></i> Exportar</a
          >
          <a
            ng-if="identity.can('tenants.manage')"
            ui-sref="pending_tenant_signups"
            class="btn btn-raised btn-primary pull-right"
            ><i class="fa fa-question-circle"></i> Adesões municipais</a
          >
        </div>
      </div>
    </div>
    <div class="panel-body">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              <column-sorter on-change="refresh" model="query.sort" field="'uf'"
                >UF</column-sorter
              >
            </th>
            <th>
              <column-sorter
                on-change="refresh"
                model="query.sort"
                field="'name'"
                >Nome</column-sorter
              >
            </th>
            <th>
              <column-sorter
                on-change="refresh"
                model="query.sort"
                field="'registered_at'"
                >Adesão</column-sorter
              >
            </th>
            <th ng-if="identity.can('tenants.activity')">
              <column-sorter
                on-change="refresh"
                model="query.sort"
                field="'last_activity_at'"
                >Atividade</column-sorter
              >
            </th>
            <th>Gestor(a) político(a)</th>
            <th>Coordenador(a) operacional</th>
            <th ng-if="identity.can('tenants.manage')">Opções</th>
          </tr>

          <tr class="simple-filter">
            <!--<th><input type="text" class="form-control" ng-model="query.filter.uf" ng-change="refresh()" placeholder="Filtrar por estado..." /></th>-->
            <th>
              <select
                class="form-control"
                ng-model="query.filter.uf"
                ng-change="refresh()"
              >
                <option value="">Todos</option>
                <option ng-repeat="uf in ufs">{{uf.sigla}}</option>
              </select>
            </th>
            <th>
              <input
                type="text"
                class="form-control"
                ng-model="query.filter.name"
                ng-change="refresh()"
                placeholder="Filtrar por nome..."
              />
            </th>
            <th>
              <select
                class="form-control"
                ng-model="query.filter.created_at"
                ng-change="refresh()"
              >
                <option value="">Todos</option>
                <option value="7">Últimos 7 dias</option>
                <option value="30">Últimos 30 dias</option>
                <option value="60">Últimos 60 dias</option>
                <option value="90">Últimos 90 dias</option>
              </select>
            </th>
            <th ng-if="identity.can('tenants.activity')">
              <select
                class="form-control"
                ng-model="query.filter.last_activity_at"
                ng-change="refresh()"
              >
                <option value="">Todos</option>
                <option value="7">Últimos 7 dias</option>
                <option value="30">Últimos 30 dias</option>
                <option value="60">Últimos 60 dias</option>
                <option value="90">Últimos 90 dias</option>
              </select>
            </th>
            <th>
              <input
                type="text"
                class="form-control"
                ng-model="query.filter.political_admin"
                ng-change="refresh()"
                placeholder="Filtrar por nome..."
              />
            </th>
            <th>
              <input
                type="text"
                class="form-control"
                ng-model="query.filter.operational_admin"
                ng-change="refresh()"
                placeholder="Filtrar por nome..."
              />
            </th>
            <th ng-if="identity.can('tenants.manage')">
              <label
                class="container_check_city_canceled"
                ng-click="showCanceledCities()"
                >Desativados
                <input type="checkbox" ng-model="query.show_suspended" />
                <span class="checkmark"></span>
              </label>
            </th>
          </tr>
        </thead>

        <tbody>
          <tr
            ng-repeat="(i, tenant) in tenants.data"
            ng-class="tenant.deleted_at ? 'danger' : '' "
          >
            <td>
              <strong ng-class="" ng-bind="tenant.uf"></strong>
            </td>

            <td>
              <strong ng-bind="tenant.name"></strong>
            </td>

            <td>
              <span
                class="label label-success"
                uib-tooltip-html="tenant.registered_at | dateFormat"
                >{{tenant.registered_at | amCalendar}}</span
              >
            </td>

            <td ng-if="identity.can('tenants.activity')">
              <div ng-if="!tenant.deleted_at">
                <span ng-show="tenant.activity_status === 'active'">
                  <span
                    class="label label-success"
                    uib-tooltip-html="tenant.last_active_at | amTimeAgo"
                    >Ativo</span
                  >
                </span>
                <span ng-show="tenant.activity_status === 'inactive_30d'">
                  <span
                    class="label label-yellow"
                    uib-tooltip-html="tenant.last_active_at | amTimeAgo"
                    >Inativo (30+ dias)</span
                  >
                </span>
                <span ng-show="tenant.activity_status === 'inactive_60d'">
                  <span
                    class="label label-warning"
                    uib-tooltip-html="tenant.last_active_at | amTimeAgo"
                    >Inativo (60+ dias)</span
                  >
                </span>
                <span ng-show="tenant.activity_status === 'inactive_90d'">
                  <span
                    class="label label-warning"
                    uib-tooltip-html="tenant.last_active_at | amTimeAgo"
                    >Inativo (90+ dias)</span
                  >
                </span>
                <span ng-show="tenant.activity_status === 'inactive_120d'">
                  <span
                    class="label label-danger"
                    uib-tooltip-html="tenant.last_active_at | amTimeAgo"
                    >Inativo (120+ dias)</span
                  >
                </span>
                <span ng-show="tenant.activity_status === 'inactive_never'">
                  <span
                    class="label label-info"
                    uib-tooltip-html="tenant.last_active_at | amTimeAgo"
                    >Inativo (nunca utilizado)</span
                  >
                </span>
              </div>

              <div ng-if="tenant.deleted_at">
                <span>
                  <span
                    class="label label-danger"
                    uib-tooltip-html="tenant.last_active_at | amTimeAgo"
                    >Desativado</span
                  >
                </span>
              </div>
            </td>

            <td>
              <div ng-if="!tenant.deleted_at">
                <div
                  ng-show="tenant.political_admin && !tenant.political_admin.deleted_at"
                >
                  <small
                    ><strong>Gestor(a) político(a) da adesão:</strong></small
                  ><br />
                  <span ng-show="tenant.political_admin"
                    ><strong>{{tenant.political_admin.name}}</strong></span
                  >
                  <br />
                  <small ng-if="identity.can('tenants.contact_info')"
                    ><i class="fa fa-envelope"></i>
                    {{tenant.political_admin.email}}</small
                  >
                  <br />
                  <small
                    ng-if="identity.can('tenants.contact_info')"
                    ng-show="tenant.political_admin.contact_phone"
                    ><i class="fa fa-phone"></i>
                    {{tenant.political_admin.contact_phone}}</small
                  >
                </div>

                <div
                  class="label label-warning"
                  ng-show="!tenant.political_admin"
                >
                  Gestor da adesão não cadastrado
                </div>
                <small>-----------------------------------------------</small>

                <br /><br />

                <div ng-show="tenant.users">
                  <div ng-repeat="(j, user) in tenant.users">
                    <div
                      ng-show="user && user.type=='gestor_politico' && !user.deleted_at && user.name != tenant.political_admin.name"
                    >
                      <span><strong>{{user.name}}</strong></span> <br />
                      <small
                        ng-if="identity.can('tenants.contact_info')"
                        ng-show="user.email"
                        ><i class="fa fa-envelope"></i> {{user.email}}</small
                      >
                      <br />
                      <small
                        ng-if="identity.can('tenants.contact_info')"
                        ng-show="user.work_phone"
                        ><i class="fa fa-phone"></i> {{user.work_phone}}</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </td>

            <td>
              <div ng-if="!tenant.deleted_at">
                <div
                  ng-show="tenant.operational_admin && !tenant.operational_admin.deleted_at"
                >
                  <small
                    ><strong>Coordenador operacional da adesão:</strong></small
                  ><br />
                  <span ng-show="tenant.operational_admin"
                    ><strong>{{tenant.operational_admin.name}}</strong></span
                  ><br />
                  <small ng-if="identity.can('tenants.contact_info')"
                    ><i class="fa fa-envelope"></i>
                    {{tenant.operational_admin.email}}</small
                  ><br />
                  <small
                    ng-if="identity.can('tenants.contact_info')"
                    ng-show="tenant.operational_admin.contact_phone"
                    ><i class="fa fa-phone"></i>
                    {{tenant.operational_admin.contact_phone}}</small
                  >
                </div>

                <div
                  class="label label-warning"
                  ng-show="!tenant.operational_admin"
                >
                  Coordenador da adesão não cadastrado
                </div>

                <small>-----------------------------------------------</small>

                <br />

                <div ng-show="tenant.users">
                  <div ng-repeat="(j, user) in tenant.users">
                    <div
                      ng-show="user && user.type=='coordenador_operacional' && !user.deleted_at && user.name != tenant.operational_admin.name"
                    >
                      <span><strong>{{user.name}}</strong></span> <br />
                      <small
                        ng-if="identity.can('tenants.contact_info')"
                        ng-show="user.email"
                        ><i class="fa fa-envelope"></i> {{user.email}}</small
                      >
                      <br />
                      <small
                        ng-if="identity.can('tenants.contact_info')"
                        ng-show="user.work_phone"
                        ><i class="fa fa-phone"></i> {{user.work_phone}}</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </td>

            <td ng-if="identity.can('tenants.manage')">
              <a
                class="btn btn-sm btn-raised btn-danger"
                ng-click="disableTenant(tenant)"
                ng-if="!tenant.deleted_at"
                uib-tooltip="Ao desativar um município, todos os acessos à ele serão cancelados,
						e ele passará a figurar novamente na lista de municípios disponíveis para adesão.
						Os contadores e métricas não serão removidos."
              >
                <i class="fa fa-ban"></i> Desativar
              </a>
            </td>
          </tr>
        </tbody>
      </table>

      <app-paginator
        collection="tenants"
        query="query"
        on-refresh="refresh"
      ></app-paginator>
    </div>
  </div>
</div>
