<div>
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading clearfix">
				<h3 class="pull-left"><i class="fa fa-university"></i> Adesões municipais</h3>
				<div class="pull-right">
					<div><a class="btn btn-sm btn-raised btn-default" ng-click="refresh()"><i class="fa fa-refresh"></i> Atualizar</a></div>
					<div ng-if="identity.can('tenants.export_signups')"><a class="btn btn-sm btn-raised btn-success" ng-click="export()"><i class="fa fa-download"></i> Exportar</a></div>
				</div>
			</div>
			<div class="panel-body">
				<div class="simple-filter clearfix">
					<h5><i class="fa fa-filter"></i> Filtrar</h5>

					<div>
						<div class="form-group col-md-3">
							<input type="text" class="form-control" ng-model="query.filter.city_name" ng-change="refresh()" placeholder="Nome..." />
						</div>
						<div class="form-group col-md-3">
							<input type="text" class="form-control" ng-model="query.filter.city_uf" ng-change="refresh()" placeholder="UF..." />
						</div>
						<div class="form-group col-md-3">
							<select class="form-control" ng-model="query.filter.created_at" ng-change="refresh()">
								<option value="">Todos</option>
								<option value="7">Últimos 7 dias</option>
								<option value="30">Últimos 30 dias</option>
								<option value="60">Últimos 60 dias</option>
								<option value="90">Últimos 90 dias</option>
							</select>
						</div>
						<div class="form-group col-md-3">
							<select class="form-control" ng-model="query.filter.status" ng-change="refresh()">
								<option value="all">Todos</option>
								<option value="pending_approval">Aguardando aprovação</option>
								<option value="pending_setup">Aguardando configuração</option>
								<option value="rejected">Rejeitados</option>
							</select>
						</div>
					</div>
				</div>
				<div class="alert alert-success" ng-hide="signups.data && signups.data.length > 0">Nenhuma adesão pendente de aprovação!</div>

				<table class="table" ng-show="signups.data && signups.data.length > 0">
					<thead>
						<tr>
							<th><column-sorter on-change="refresh" model="query.sort" field="'cities.name:city_id'">Município</column-sorter></th>
							<th><column-sorter on-change="refresh" model="query.sort" field="'cities.uf:city_id'">UF</column-sorter></th>
							<th><column-sorter on-change="refresh" model="query.sort" field="'created_at'">Data</column-sorter></th>
							<th><column-sorter on-change="refresh" model="query.sort" field="'status'">Status</column-sorter></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="(i, signup) in signups.data" ng-click="preview(signup)" style="cursor: pointer;">
							<td><span ng-bind="signup.city.name"></span></td>
							<td><span ng-bind="signup.city.uf"></span></td>
							<td><span ng-bind="signup.created_at | amTimeAgo" uib-tooltip-html="signup.created_at | amCalendar"></span></td>
							<td>
								<span ng-show="signup.is_approved && signup.is_provisioned" class="label label-success">Ativo</span>
								<span ng-show="signup.is_approved && !signup.is_provisioned" class="label label-success">Aguardando Configuração</span>
								<span ng-show="!signup.is_approved && !signup.deleted_at" class="label label-warning">Aguardando Aprovação</span>
								<span ng-show="signup.deleted_at" class="label label-danger">Rejeitados</span>
							</td>
						</tr>
					</tbody>
				</table>

				<app-paginator collection="signups" query="query" on-refresh="refresh"></app-paginator>

			</div>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default" ng-show="signup && signup.id">
			<div class="panel-heading">
				<h3><i class="fa fa-signup"></i> {{signup.city.name}} / {{signup.city.uf}}</h3>
			</div>
			<div class="panel-body">

				<div class="alert alert-primary">Adesão registrada <strong uib-tooltip-html="signup.created_at" ng-bind="signup.created_at | amTimeAgo"></strong> <span ng-show="signup.data.admin.name">por <strong ng-bind="signup.data.admin.name"></strong></span></div>

				<div class="form-group col-md-12">
					<label class="control-label">Cód. Adesão</label>
					<p>{{signup.id}}</p>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"><i class="material-icons">person</i> Gestor Político</div>
					<div class="panel-body">

						<div class="form-group col-md-12">
							<label class="control-label">Nome*</label>
							<p>{{signup.data.admin.name}}</p>
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Data de nascimento*</label>
							<p>{{signup.data.admin.dob | amDateFormat:'DD/MM/YYYY'}}</p>
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">CPF*</label>
							<p>{{signup.data.admin.cpf}}</p>
						</div>

						<div class="form-group col-md-12">
							<label for="fld-signup-admin-email" class="control-label">E-mail*</label>
							<div class="row">
								<div class="col-md-10">
									<input class="form-control" id="fld-signup-admin-email" type="text" ng-model="signup.data.admin.email" />
								</div>
								<div class="col-md-2">
									<button type="button" class="btn btn-sm btn-raised btn-primary" uib-tooltip="Alterar e-mail do gestor" ng-click="updateRegistrationEmail('admin', signup)"><i class="fa fa-save"></i></button>
								</div>
							</div>
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Telefone fixo*</label>
							<p>{{signup.data.admin.phone}}</p>
						</div>
						<div class="form-group col-md-6">
							<label class="control-label">Telefone celular</label>
							<p>{{signup.data.admin.mobile}}</p>
						</div>

						<hr />

						<div class="form-group col-md-12">
							<label class="control-label">Órgão*</label>
							<p>{{signup.data.admin.institution}}</p>
						</div>

						<div class="form-group col-md-12">
							<label class="control-label">Cargo*</label>
							<p>{{signup.data.admin.position}}</p>
						</div>

					</div>
				</div>

				<div class="panel panel-default">
					<div class="panel-heading"><i class="material-icons">person</i> Dados do prefeito</div>
					<div class="panel-body">

						<div class="form-group col-md-12">
							<label class="control-label">Nome*</label>
							<p>{{signup.data.mayor.name}}</p>
						</div>

						<div class="form-group col-md-6">
							<label class="control-label">Data de nascimento*</label>
							<p>{{signup.data.mayor.dob | amDateFormat:'DD/MM/YYYY'}}</p>
						</div>

						<div class="form-group col-md-6">
							<label class="control-label">CPF*</label>
							<p>{{signup.data.mayor.cpf}}</p>
						</div>

						<!--<div class="form-group col-md-12">-->
							<!--<label for="fld-signup-mayor-email" class="control-label">E-mail institucional*</label>-->
							<!--<div class="row">-->
								<!--<div class="col-md-10">-->
									<!--<input class="form-control" id="fld-signup-mayor-email" type="text" ng-model="signup.data.mayor.email" />-->
								<!--</div>-->
								<!--<div class="col-md-2">-->
									<!--<button type="button" class="btn btn-sm btn-raised btn-primary" uib-tooltip="Alterar e-mail do prefeito" ng-click="updateRegistrationEmail('mayor', signup)"><i class="fa fa-save"></i></button>-->
								<!--</div>-->
							<!--</div>-->
						<!--</div>-->

						<div class="form-group col-md-6">
							<label class="control-label">Telefone fixo institucional*</label>
							<p>{{signup.data.mayor.phone}}</p>
						</div>

						<div class="form-group col-md-6">
							<label class="control-label">Telefone celular institucional</label>
							<p>{{signup.data.mayor.mobile}}</p>
						</div>

					</div>
				</div>
			</div>

			<div class="panel-footer clearfix">
				<a ng-show="!signup.is_approved" class="btn btn-raised btn-success" ng-click="approve(signup)"><i class="fa fa-check"></i> Aprovar</a>
				<a ng-show="!signup.is_approved" class="btn btn-raised btn-danger" ng-click="reject(signup)"><i class="fa fa-ban"></i> Rejeitar</a>
				<div ng-show="signup.is_approved">
					<div class="alert alert-success"><strong>Adesão aprovada!</strong> Aguardando a configuração inicial pelo Gestor Político do município.</div>
					<div><a class="btn btn-raised btn-primary" ng-click="resendNotification(signup)"><i class="fa fa-envelope"></i> Reenviar e-mail de notificação</a></div>
					<div class="form-group">
						<label class="control-label">URL para configuração inicial:</label>
						<input class="form-control" value="{{signup.provision_url}}" />
					</div>
					<div><a class="btn btn-raised btn-danger" ng-click="reject(signup)"><i class="fa fa-trash"></i> Cancelar adesão</a></div>
				</div>
			</div>
		</div>
	</div>
</div>