<div class="col-md-12" style="left: -40px;width: 110%">

	<form name="childSearch" ng-submit="refresh()" class="panel panel-default form-inline">
		<div class="panel-heading">
			<h3><a href="#" class="children_filter"><i class="material-icons">filter_list</i></a> Filtrar</h3>
		</div>

		<div class="body_filter">
			<div class="panel-body">

				<div class="row">

					<div class="col-md-2">
						<input type="text" class="form-control" id="filter-name" ng-model="query.name" placeholder="Nome da criança...">
					</div>
					<div class="col-md-2">
						<select class="form-control" id="filter-name" style="max-width:200px;" ng-model="query.cause_name" >
							<option value="" disabled selected>Escolha um motivo...</option>
							<option value="adolescente_em_conflito_com_a_lei">Adolescente em conflito com a lei </option>
			<option value="crianca_com_deficiencia_fisica">Criança ou adolescente com deficiência física </option>
			<option value="crianca_com_deficiencia_intelectual">Criança ou adolescente com deficiência intelectual </option>
			<option value="crianca_com_deficiencia_mental">Criança ou adolescente com deficiência mental</option>
			<option value="crianca_com_deficiencia_sensorial">Criança ou adolescente com deficiência sensorial</option>
			<option value="crianca_com_deficiencia_impeditiva">Criança ou adolescente com deficiência(s) que impeça(m) ou dificulte(m) a frequência à escola</option>
			<option value="crianca_com_doencas">Criança ou adolescente com doenças (que impedem e/ou dificultem a frequência à escola)</option>
			<option value="crianca_em_abrigo">Criança ou adolescente em abrigos</option>
			<option value="crianca_na_rua">Criança ou adolescente em situação de rua </option>
			<option value="crianca_vitima_abuso">Criança ou adolescente que sofrem ou sofreram abuso / violência sexual </option>
			<option value="crianca_adolescente_estrangeiro">Crianças ou adolescentes migrantes estrangeiros</option>
			<option value="evasao_desinteresse">Evasão porque sente a escola desinteressante </option>
			<option value="evasao_desinteresse_escola">Evasão porque sente a escola desinteressante (Desinteresse pela escola) </option>
			<option value="evasao_desinteresse_estudo">Evasão porque sente a escola desinteressante (Desinteresse pelos estudos) </option>
			<option value="falta_documentacao">Falta de documentação da criança ou adolescente </option>
			<option value="falta_infraestrutura_escola">Falta de infraestrutura escolar (Escola) </option>
			<option value="falta_infraestrutura_vagas">Falta de infraestrutura escolar (Vagas) </option>
			<option value="falta_transporte">Falta de transporte escolar </option>
			<option value="falta_transporte_escolar">Falta de transporte escolar (Transporte escolar público) </option>
			<option value="falta_transporte_publico">Falta de transporte escolar (Transporte público - ônibus, metrô, trem, balsa, barco etc.) </option>
			<option value="falta_transporte_particular">Falta de transporte escolar (Transporte particular - veículo próprio) </option>
			<option value="gravidez_adolescencia">Gravidez na adolescência </option>
			<option value="preconceito_racial">Preconceito ou discriminação racial </option>
			<option value="trabalho_infantil">Trabalho infantil </option>
			<option value="uso_substancias">Uso, abuso ou dependência de substâncias psicoativas </option>
			<option value="violencia_familiar">Violência familiar </option>
			<option value="violencia_escolar_genero">Violência na escola (Discriminação de gênero) </option>
			<option value="violencia_escolar_raca">Violência na escola (Discriminação racial) </option>
			<option value="violencia_escolar_religiao">Violência na escola (Discriminação religiosa) </option>
			<option value="violencia_escolar_sexualidade">Violência na escola (discriminação por orientação sexual) </option>
			<option value="violencia_escolar_bullying">Violência na escola (bullying) </option>
			<option value="violencia_escolar_conf_estudantes">Violência na escola (conflitos com outros estudantes) </option>
			<option value="violencia_escolar_conf_colaboradores">Violência na escola (conflitos da criança e/ou adolescente com funcionários, docentes ou gestores da escola) </option>
			<option value="mudanca_endereco">Mudança de domicílio, viagem ou deslocamentos frequentes </option>
			<option value="violencia_territorio">Violência no território </option>
			<option value="educacenso_inep">Evasão reportada pelo Educacenso/INEP</option>
			<option value="xls_import">Evasão e/ou infrequência reportada pela escola ou município</option>
						  </select>
					</div>
					
					<div class="col-md-2">
						<input type="text" class="form-control" id="filter-stage" ng-model="query.step_name" placeholder="Etapa do caso...">
					</div>
					<div class="col-md-2">
						<input type="text" class="form-control" id="filter-assigned-user" ng-model="query.assigned_user_name" placeholder="Nome do usuário...">
					</div>
					<div class="col-md-2">
						<span uib-tooltip="Bairro, CEP, UF, Cidade, Rua">
						<input type="text" class="form-control" id="filter-full-address" ng-model="query.location_full" placeholder="Bairro, CEP, UF, Cidade, Rua ...">
						</span>
					</div>
					<div class="col-md-2">
						<select name="parent" id="select_parent" style="max-width:185px;" ng-model="query.group_id" class="form-control">
						
							<option ng-repeat="group in groups"
									value="{{group.value}}">
									
							  {{group.displayName}}
							</option>
							</select>
					</div>

					<div class="col-md-2"></div>
				</div>

				<div class="row">

					<div class="col-md-2">
						<label class="control-label" for="filter-status-in_progress"><strong>Por status do caso</strong></label><br/><br/>
						<div class="checkbox"><label for="filter-status-in_progress"><input type="checkbox" id="filter-status-in_progress"  checklist-model="query.case_status" checklist-value="'in_progress'" name="filter-case_status_in_progress"> Em andamento</label></div><br/>
						<div class="checkbox"><label for="filter-status-cancelled"><input type="checkbox" id="filter-status-cancelled"  checklist-model="query.case_status" checklist-value="'cancelled'" name="filter-case_status_cancelled"> Cancelado</label></div><br/>
						<div class="checkbox"><label for="filter-status-completed"><input type="checkbox" id="filter-status-completed"  checklist-model="query.case_status" checklist-value="'completed'" name="filter-case_status_completed"> Concluído</label></div><br/>
						<div class="checkbox"><label for="filter-status-interrupted"><input type="checkbox" id="filter-status-interrupted"  checklist-model="query.case_status" checklist-value="'interrupted'" name="filter-case_status_interrupted"> Interrompido</label></div>
						<div class="checkbox"><label for="filter-status-transferred"><input type="checkbox" id="filter-status-transferred"  checklist-model="query.case_status" checklist-value="'transferred'" name="filter-case_status_transferred"> Transferido</label></div>
					</div>
					<div class="col-md-2">
						<label class="control-label" for="filter-risk-level-low"><strong>Por grau de risco</strong></label><br/><br/>
						<div class="checkbox"><label for="filter-risk-level-low"><input type="checkbox" id="filter-risk-level-low" checklist-model="query.risk_level" checklist-value="'low'" name="filter-risk_level_low"> Baixo</label></div><br/>
						<div class="checkbox"><label for="filter-risk-level-medium"><input type="checkbox" id="filter-risk-level-medium" checklist-model="query.risk_level" checklist-value="'medium'" name="filter-risk_level_medium"> Médio</label></div><br/>
						<div class="checkbox"><label for="filter-risk-level-high"><input type="checkbox" id="filter-risk-level-high" checklist-model="query.risk_level" checklist-value="'high'" name="filter-risk_level_high"> Alto</label></div>
					</div>
					<div class="col-md-2">
						<label class="control-label" for="filter-age-from"><strong>Por idade</strong></label><br/>
						<span> de </span>
						<input type="number" style="width: 40px; text-align: center" min="0" max="5000" class="form-control" id="filter-age-from" ng-model="query.age.from">
						<span> a </span>
						<input type="number" style="width: 40px; text-align: center" min="0" max="10000" class="form-control" id="filter-age-to" ng-model="query.age.to">
						<span> anos </span>
						<div class="checkbox"><label for="filter-age-null"><input type="checkbox" ng-model="query.age_null" name="filter-age_null" id="filter-age-null"> Casos sem informação</label></div>
					</div>
					<div class="col-md-2">
						<label class="control-label" for="filter-gender-male"><strong>Por sexo</strong></label><br/><br/>
						<div class="checkbox"><label for="filter-gender-male"><input type="checkbox" checklist-model="query.gender" checklist-value="'male'" name="filter-gender_male" id="filter-gender-male"> <i class="fa fa-mars"></i> Masc.</label></div><br/>
						<div class="checkbox"><label for="filter-gender-female"><input type="checkbox" checklist-model="query.gender" checklist-value="'female'" name="filter-gender_female" id="filter-gender-female"> <i class="fa fa-venus"></i> Fem.</label></div><br/>
						<div class="checkbox"><label for="filter-gender-null"><input type="checkbox" ng-model="query.gender_null" name="filter-gender_null" id="filter-gender-null"> <i class="fa fa-block"></i> Sem info.</label></div>
					</div>
					<div class="col-md-2">
						<label class="control-label" for="filter-place_kind-rural"><strong>Por zona</strong></label><br/><br/>
						<div class="checkbox"><label for="filter-place_kind-rural"><input type="checkbox" checklist-model="query.place_kind" checklist-value="'rural'" name="filter-place_kind_rural" id="filter-place_kind-rural"> Rural</label></div><br/>
						<div class="checkbox"><label for="filter-place_kind-urban"><input type="checkbox" checklist-model="query.place_kind" checklist-value="'urban'" name="filter-place_kind_urban" id="filter-place_kind-urban"> Urbana</label></div><br/>
						<div class="checkbox"><label for="filter-place_kind-null"><input type="checkbox" ng-model="query.place_kind_null" name="filter-place_kind_null" id="filter-place_kind-null"> Sem informação</label></div>
					</div>
				</div>
			</div>
			<div class="panel-footer">
				<div class="text-right">

					<span class="btn btn-success" ng-show="lastOrder.date && identity.can('cases.export.all')">
						Última solicitação feita em {{ lastOrder.date * 1000 | date:'dd/MM/yyyy | HH:mm:ss' }}
					</span>
					<a ng-show="reports.data.length > 0 && identity.can('cases.export.all')" ng-click="exportXLSReport(reports.data[0].file)" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Exportar último relatório - {{reports.data[0].last_modification * 1000 | date:'dd/MM/yyyy HH:mm:ss'}}</a>
					<button ng-show="identity.can('cases.export.all')" type="button" ng-click="createXLSReport()" class="btn btn-default"><i class="fa fa-undo"></i> Gerar novo relatório</button>

					<button type="button" ng-click="resetQuery()" class="btn btn-default"><i class="fa fa-undo"></i> Limpar filtros</button>
					<button type="submit" class="btn btn-raised btn-info"><i class="fa fa-search"></i> Filtrar</button>
				</div>
			</div>
		</div>
	</form>

</div>

<div class="col-md-12" style="left: -40px;width: 110%">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3><i class="material-icons">list</i> Casos | {{search.stats.total_results}}</h3>
		</div>
		<div class="panel-body" ng-if="search.results">

			<div ng-show="identity.can('cases.export.uf')" class="text-right">
				<a ng-show="search.stats.total_results > 0" ng-click="exportXLS()" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Exportar XLS</a>
			</div>

			<br/>

			<table datatable class="row-border hover" dt-options="dtOptions" dt-column-defs="dtColumnDefs">
				<thead>
					<tr>
						<th>Nome <br /><small>da criança ou adolescente</small></th>
						<th>Responsáveis <br /> pela criança</th>
						<th>Município</th>						
						<th>Risco <br /> <small> </small></th>
						<th>Nascimento <br /> <small> </small></th>
						<th>Etapa <br /> <small> </small></th>
						<th>Responsável <br /> <small>pela etapa</small></th>
						<th>Bairro</th>
						<th>Grupo</th>
						<th>Status <br /> <small>do caso</small></th>
						<th class="text-center"><br />&nbsp;</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="(i, child) in search.results">
						<td width="34%" style="vertical-align: middle;">
							<strong style="font-size: 15px;">
								<i class="fa {{child.gender | lang:'child.gender_icon'}}" ng-show="child.gender"></i><span uib-tooltip="Data de abertura: {{child.created_at | date:'dd/MM/yyyy'}}">
								{{child.name}}</span>
							</strong>
						</td>
						
						<td>
							<span uib-tooltip="Pais ou responsáveis">
								{{Decorators.Child.parents(child)}}
							</span>
						</td>
					
						<td width="10%" style="vertical-align: middle;">
							{{child.place_city_name}}/{{child.place_uf}}
						</td>						
						<td width="10%" style="vertical-align: middle;">
							<div class="label label-danger" uib-tooltip="Alto Risco" ng-if="child.risk_level === 'high'">A</div>
							<div class="label label-warning" uib-tooltip="Médio Risco" ng-if="child.risk_level === 'medium'">M</div>
							<div class="label label-default" uib-tooltip="Baixo Risco" ng-if="child.risk_level === 'low'">B</div>
						</td>
						<td width="10%" style="vertical-align: middle;">
							<span ng-show="child.dob" ng-bind="child.dob | amDateFormat:'DD/MM/YYYY'" uib-tooltip-html="child.dob | dateFormat"></span>
							<span ng-show="!child.dob"><span uib-tooltip="Informação não disponível" class="label label-default">n/d</span></span>
						</td>
						<td width="10%" style="vertical-align: middle;">
							<strong>{{child.step_name}}</strong>
						</td>

						<td width="28%" style="vertical-align: middle;">
							<span ng-show="child.assigned_user_name"><i class="fa fa-user"></i> {{child.assigned_user_name}} <br /></span>
							<small ng-show="child.assigned_group_name" class="pull-right">{{child.assigned_group_name}} <i class="fa fa-group"></i></small>
							<span ng-show="!child.assigned_user_name"><span class="label label-warning" uib-tooltip="Nenhum usuário atribuído">---</span></span>
						</td>

						<td>
							{{child.place_neighborhood}}
						</td>
						<td>
							{{child.group_name}}
						</td>
						<td width="8%" style="vertical-align: middle;" class="text-center">
							<span class="label label-danger" ng-show="child.case_status == 'interrupted'">Interrompido</span>
							<span class="label label-default" ng-show="child.case_status == 'cancelled'">
								Cancelado
								<span ng-show="child.cancel_reason == 'duplicate'">| Motivo: Caso duplicado</span>
								<span ng-show="child.cancel_reason == 'death'">| Motivo: Óbito</span>
								<span ng-show="child.cancel_reason == 'not_found'">| Motivo: Criança não foi encontrada</span>
								<span ng-show="child.cancel_reason == 'wrongful_insertion'">| Motivo: Caso inserido por engano</span>
								<span ng-show="child.cancel_reason == 'rejected_alert'">| Motivo: Alerta rejeitado</span>
								<span ng-show="child.cancel_reason == 'city_transfer'">| Motivo: Mudança de município/ estado</span>
							</span>
							<span class="label label-success" ng-show="child.case_status == 'completed'">Concluído</span>
							<span ng-if="child.case_status === 'in_progress'">
								<span class="label label-danger" ng-if="child.is_late">Em atraso!</span>
								<span class="label label-info" ng-if="!child.is_late && child.child_status === 'out_of_school'">Em andamento</span>
								<span class="label label-info" ng-if="!child.is_late && child.child_status === 'in_observation'">Em observação</span>
								<span class="label label-success" ng-if="!child.is_late && child.child_status === 'in_school'">Concluído</span>

							</span>
							<span class="label label-danger" ng-show="child.case_status == 'transferred'">Transferido</span>
						</td>
						<td width="6%" class="text-center" style="vertical-align: middle;">
							<div class="btn-group">
								<a ui-sref="child_viewer({child_id: child.id})" class="btn btn-default btn-sm btn-raised" style="padding: 8px 10px" uib-tooltip="Incluir informações"><i class="fa fa-edit"></i></a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>

		</div>
	</div>
</div>
<script>

$(function() {
    $('#select_parent').bind("change", function() {
        var space_offset =7;
        var matches = $('#select_parent option:selected').text().search(/\S/);
		var number = matches == 23 ? 24 : matches == 26 ? 50 : matches == 29 ? 75 : 0; 
        $(this).css('text-indent', -(number));
    });
});
</script>

<style>
select {
    font-family: monospace;
}
</style>