<div>
    <div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading clearfix">
                <h3 class="pull-left"><i class="fa fa-bell"></i> Alertas pendentes</h3>
            </div>

            <div class="panel-body">

                <div class="body_filter">

                    <div class="row">
                        <div class="col-md-3">
                            <input type="search" class="form-control" ng-model="query.name" placeholder="Nome..." />
                        </div>
                        <div class="col-md-3">
                            <input type="search" class="form-control" ng-model="query.submitter_name" placeholder="Agente..." />
                        </div>
                        <div class="col-md-3">
                            <input type="search" class="form-control" ng-model="query.neighborhood" placeholder="Bairro..." />
                        </div>
                        <div class="col-md-3">
                            <input type="search" class="form-control" ng-model="query.city_name" placeholder="Município..." />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3">
                            <select name="cars" class="form-control" ng-model="query.alert_cause_id">
                                <option value=""  selected >Motivo do Alerta...</option>
                                <option ng-repeat="case in causes_filter"
                                        value="{{case.value}}">
                                    {{case.displayName}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <input type="text" class="form-control" id="fld-group" ng-model="selectedGroup.name" disabled placeholder="Grupo Selecionado">
                            <input type="text" ng-model="query.group_id" class="form-control" hidden>
                        </div>
                        <div class="col-md-3">
                            <button type="button" class="btn btn-raised btn-default" style="margin: 0!important; width: 100%;" ng-click="changeGroup()">Selecionar grupo</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label"><strong>Status do alerta</strong></label>
                            <br><br>
                            <div class="checkbox">
                                <label for="filter-show_rejected">
                                    <input id="filter-show_rejected" type="checkbox" ng-model="query.show_suspended"> Rejeitado
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label class="control-label"><strong>Limite de exibição</strong></label>
                            <br><br>
                            <ul class="nav nav-pills adm-max-results-filter">
                                <li ng-class="{active: query.max==16}"><a ng-click="setMaxResults(16)">16</a></li>
                                <li ng-class="{active: query.max==32}"><a ng-click="setMaxResults(32)">32</a></li>
                                <li ng-class="{active: query.max==64}"><a ng-click="setMaxResults(64)">64</a></li>
                                <li ng-class="{active: query.max==128}"><a ng-click="setMaxResults(128)">128</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-right">
                                <a class="btn btn-raised btn-info" ng-click="reloadAlerts()"><i class="fa fa-search"></i> Filtrar</a>
                            </p>
                        </div>
                    </div>

                </div>

                <hr>

                <p class="text-right">
                    Página {{children.meta.pagination.current_page}} de {{children.meta.pagination.total_pages}}. | Exibindo {{children.meta.pagination.count}} alertas por página | Total de <strong>{{children.meta.pagination.total}} </strong>alertas.
                </p>

                <table class="table table-hover">
                    <thead style="white-space:nowrap;">
                        <tr>
                            <th>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" ng-model="check_all_alerts" ng-change="onCheckSelectAllAlerts()">
                                    </label>
                                </div>
                            </th>
                            <th>
                                <column-sorter on-change="refresh" model="query.sort" field="'name'">Nome</column-sorter>
                            </th>
                            <th>
                                <column-sorter on-change="refresh" model="query.sort" field="'agent'">Agente</column-sorter>
                            </th>
                            <th>
                                <column-sorter on-change="refresh" model="query.sort" field="'agent'">Grupo</column-sorter>
                            </th>
                            <th>
                                <column-sorter on-change="refresh" model="query.sort" field="'risk_level'">Prioridade</column-sorter>
                            </th>
                            <th>
                                <column-sorter on-change="refresh" model="query.sort" field="'created_at'">Data</column-sorter>
                            </th>
                            <th>
                                <column-sorter on-change="refresh" model="query.sort" field="'neighborhood'">Bairro</column-sorter>
                            </th>
                            <th>
                                <column-sorter on-change="refresh" model="query.sort" field="'city_name'">Município</column-sorter>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="child in children.data" style="cursor: pointer;" ng-class="child.alert_status == 'rejected' ? 'danger' : '' ">
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" checklist-model="selected.alerts" checklist-value="child">
                                    </label>
                                </div>
                            </td>
                            <td ng-click="preview(child)">
                                <span ng-bind="child.name"></span> <i class="fa fa-warning text-warning" uib-tooltip="Endereço pendente!" ng-show="child.requires_address_update && (!child.alert || !child.alert.place_address || child.alert.place_address.length <= 0)"></i>
                            </td>
                            <td ng-click="preview(child)">
                                <span ng-bind="child.submitter.name" uib-tooltip-html="child.submitter.type | lang:'user.type'"></span><br>
                                <div ng-show="child.submitter.group.name" class=""><i class="fa fa-group"></i> <small ng-bind="child.submitter.group.name" uib-tooltip-html="child.submitter.group.name"></small></div>
                            </td>
                            <td>
                                <span uib-popover="{{branchGroups}}" popover-title="{{child.group_name}}" popover-trigger="'outsideClick'" ng-click="clikcInGroup(child.group_id)">
                                <a href="#">{{child.group_name}}</a>
                                </span>
                            </td>
                            </td>
                            <td ng-click="preview(child)">
                                <div class="label label-danger" uib-tooltip="Alto Risco" ng-if="child.risk_level === 'high'">A</div>
                                <div class="label label-warning" uib-tooltip="Médio Risco" ng-if="child.risk_level === 'medium'">M</div>
                                <div class="label label-default" uib-tooltip="Baixo Risco" ng-if="child.risk_level === 'low'">B</div>
                            </td>
                            <td ng-click="preview(child)"><span ng-bind="child.created_at | dateFormat" uib-tooltip-html="'Data da Criação ' + (child.created_at | amCalendar)"></span></td>
                            <td ng-click="preview(child)">{{child.alert.place_neighborhood}}</td>
                            <td ng-click="preview(child)">{{child.alert.place_city_name}}</td>
                        </tr>
                    </tbody>
                </table>

                <p class="text-right">
                    Página {{children.meta.pagination.current_page}} de {{children.meta.pagination.total_pages}}. | Exibindo {{children.meta.pagination.count}} alertas por página | Total de <strong>{{children.meta.pagination.total}} </strong>alertas.
                </p>

                <hr>

                <app-paginator collection="search" query="query" on-refresh="refresh"></app-paginator>

            </div>

            <div class="panel-footer">
                <p class="text-right">
                    <button type="button" class="btn btn-raised btn-info" ng-click="changeAllGroups()" ng-disabled="selected.alerts.length == 0">Alterar grupos</button>
                </p>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalChild" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"><i class="fa fa-child"></i> {{child.name}}</h4>
                </div>
                <div class="modal-body">
                    <div class="col-md-12 collumn-fixed">
                        <form ng-show="child && child.id" ng-submit="accept(child)">
                            <div class="alert alert-primary">Alerta enviado <strong uib-tooltip-html="child.created_at" ng-bind="child.created_at | amTimeAgo"></strong> <span ng-show="child.submitter">por <strong uib-tooltip-html="child.submitter.type | lang:'user.type'" ng-bind="child.submitter.name"></strong></span></div>
                            <div ng-show="child.alert_status=='rejected'" class="alert alert-danger"><strong>Alerta rejeitado!</strong> Este alerta foi rejeitado e não pode ser mais aprovado.</div>
                            <i class="material-icons">person</i> <strong>Informações da criança ou adolescente</strong><br/>
                            <div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label"><strong>Nome da criança ou adolescente</strong></label>
                                        <p><span ng-bind="child.alert.name"></span></p>
                                    </div>
                                    <div ng-show="child.alert.gender" class="form-group col-md-6">
                                        <label class="control-label"><strong>Gênero</strong></label>
                                        <p><span ng-bind="child.alert.gender | lang:'child.gender'"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="child.alert.gender || child.alert.race || child.alert.dob || child.alert.rg || child.alert.cpf || child.alert.nis">
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label class="control-label"><strong>Raça / Etnia</strong></label>
                                        <p><span ng-bind="child.alert.race | lang:'child.race'"></span></p>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="control-label"><strong>Data de nascimento</strong></label>
                                        <p><span ng-bind="child.alert.dob | amDateFormat:'DD/MM/YYYY'"></span></p>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="control-label"><strong>RG</strong></label>
                                        <p><span ng-bind="child.alert.rg"></span></p>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <label class="control-label"><strong>CPF</strong></label>
                                        <p><span ng-bind="child.alert.cpf | brCpf"></span></p>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label class="control-label"><strong>NIS (Número de Identificação Social)</strong></label>
                                        <p><span ng-bind="child.alert.nis"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <label class="control-label"><strong>Por que a criança ou adolescente está fora da escola?</strong></label>
                                <p><span ng-bind="getAlertCauseName()"></span></p>
                            </div>
                            <br/>
                            <i class="material-icons">person</i> <strong>Dados do responsável</strong>
                            <div ng-show="child.alert.mother_name || child.alert.father_name || child.alert.mother_rg || child.alert.father_rg">
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label class="control-label"><strong>Nome da mãe ou responsável</strong></label>
                                        <p><span ng-bind="child.alert.mother_name"></span></p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label"><strong>Nome do pai ou responsável</strong></label>
                                        <p><span ng-bind="child.alert.father_name"></span></p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label"><strong>RG da mãe ou responsável</strong></label>
                                        <p><span ng-bind="child.alert.mother_rg"></span></p>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label class="control-label"><strong>RG do pai ou responsável</strong></label>
                                        <p><span ng-bind="child.alert.father_rg"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="child.alert.mother_phone || child.alert.father_phone">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label class="control-label"><strong>Telefone da mãe ou responsável</strong></label>
                                        <p><span ng-bind="child.alert.mother_phone | brPhoneNumber"></span></p>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label class="control-label"><strong>Telefone do pai ou responsável</strong></label>
                                        <p><span ng-bind="child.alert.father_phone | brPhoneNumber"></span></p>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <i class="material-icons">map</i> <strong>Dados de localização</strong>
                            <div ng-show="!canAcceptAlert(child)" class="alert alert-warning"><strong>Endereço do alerta pendente!</strong> Antes de prosseguir, dialogue com a escola para entender melhor a situação desse caso.</div>
                            <div ng-show="child.requires_address_update || child.alert.place_address || child.alert.place_cep">
                                <div class="row">
                                    <div class="form-group col-md-6" ng-show="child.requires_address_update || child.alert.place_address">
                                        <label class="control-label"><strong>Endereço</strong></label>
                                        <p>
                                            <input type="text" ng-blur="editAlert(child.alert.place_address, 'place_address', child.id)" class="form-control " required ng-model="child.alert.place_address " placeholder="Indique o endereço do alerta... " />
                                        </p>
                                    </div>
                                    <div class="form-group col-md-6 " ng-show="child.requires_address_update || child.alert.place_neighborhood ">
                                        <label class="control-label "><strong>Bairro</strong></label>
                                        <p><input type="text" ng-blur="editAlert(child.alert.place_neighborhood, 'place_neighborhood', child.id)" class="form-control " required ng-model="child.alert.place_neighborhood " placeholder="Indique o bairro... "
                                        /></p>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="child.alert.place_reference ">
                                <div class="row ">
                                    <div class="form-group col-md-12 ">
                                        <label class="control-label "><strong>Referência geográfica</strong></label>
                                        <p><span ng-bind="child.alert.place_reference "></span></p>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="child.requires_address_update || child.alert.place_neighborhood || child.alert.place_uf || child.alert.place_city_name || child.alert.place_cep ">
                                <div class="row ">
                                    <div class="form-group col-md-4 " ng-show="child.alert.place_cep ">
                                        <label class="control-label "><strong>CEP</strong></label>
                                        <p><span ng-bind="child.alert.place_cep | brCep "></span></p>
                                    </div>
                                    <div class="form-group col-md-4 " ng-show="child.alert.place_uf ">
                                        <label class="control-label "><strong>UF</strong></label>
                                        <p><span ng-bind="child.alert.place_uf "></span></p>
                                    </div>
                                    <div class="form-group col-md-4 " ng-show="child.alert.place_city_name ">
                                        <label class="control-label "><strong>Município</strong></label>
                                        <p><span ng-bind="child.alert.place_city_name "></span></p>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="child.alert.place_phone || child.alert.place_mobile ">
                                <div class="row ">
                                    <div class="form-group col-md-6 " ng-show="child.alert.place_phone ">
                                        <label class="control-label "><strong>Telefone residencial</strong></label>
                                        <p><span ng-bind="child.alert.place_phone | brPhoneNumber "></span></p>
                                    </div>
                                    <div class="form-group col-md-6 " ng-show="child.alert.place_mobile ">
                                        <label class="control-label "><strong>Telefone celular</strong></label>
                                        <p><span ng-bind="child.alert.place_mobile | brPhoneNumber "></span></p>
                                    </div>
                                </div>
                            </div>
                            <br/>
                            <div>
                                <strong>Observação</strong>
                                <p ng-bind="child.alert.observation "></p>
                            </div>
                            <label class="control-label "><strong>Alerta pertence ao grupo: </strong></label>
                            <p><span ng-bind="child.group_name"></span><button class="btn btn-raised btn-default " style="left: 10px; " type="button" ng-click="updateGroup() ">Selecionar grupo</button></p>
                        </form>
                    </div>
                </div>
                <div class="modal-footer ">
                    <button type="button " class="btn no-animate btn-warning " ng-show="!canAcceptAlert(child) && child.alert_status !='rejected' "><i class="fa fa-warning "></i> Endereço do alerta pendente!</button>
                    <button class="btn btn-raised " ng-show="sendingAlert "><i class="fa fa-warning "></i> Aguarde ...</button>
                    <button type="submit " class="btn btn-raised no-animate btn-success " ng-click="accept(child) " ng-show="canAcceptAlert(child) && child.alert_status !='rejected' && !sendingAlert "><i class="fa fa-check "></i> Aceitar alerta</button>
                    <button type="button " class="btn btn-raised btn-danger " ng-click="reject(child) " ng-show="child.alert_status !='rejected' && !sendingAlert "><i class="fa fa-ban "></i> Rejeitar alerta</button>
                    <br/><br/>
                    <button type="button " ng-click="close()" class="btn btn-default " data-dismiss="modal ">Fechar janela</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('#openBtn').click(function() {
            $('#myModal').modal({
                show: true
            })
        });
        $(document).on('show.bs.modal', '.modal', function(event) {
            var zIndex = 1040 + (10 * $('.modal:visible').length);
            $(this).css('z-index', zIndex);
            setTimeout(function() {
                $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
            }, 0);
        });
    });
</script>