<div class="container hidden-print">
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-12">Parceiros estratégicos</div>
			<div class="col-lg-12"> &nbsp;</div>
			<div class="col-lg-3">
				<a href="http://www.congemas.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
					<img src="images/logo_congemas.png" alt="CONGEMAS" title="CONGEMAS" style="margin-right: 10px;" />
				</a>
			</div>
			<div class="col-lg-3">
				<a href="http://www.conasems.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
					<img src="images/logo-conasems.png" alt="Conasems" title="Conasems" style="margin-right: 10px;" />
				</a>
			</div>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="row">
			<div class="col-lg-12">Iniciativa</div>
			<div class="col-lg-12"> &nbsp;</div>
			<div class="col-lg-3">
				<a href="https://undime.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
					<img src="images/logo_undime.png" alt="Undime" title="Undime" />
				</a>
			</div>
			<div class="col-lg-3">
				<a href="http://unicef.org.br/?utm_source=AppWeb_BuscaAtivaEscolar" target="_blank">
					<img src="images/logo_unicef.png" alt="UNICEF" title="UNICEF" style="margin-top: 7px" />
				</a>
			</div>
		</div>
		<div>
			<a ui-sref="credits" class="credits-btn">
				ver licença de uso e créditos
			</a>
		</div>
	</div>
</div>

<debug-stats></debug-stats>