<div class="row metrics-country">
    <div id="ciclo_1" ng-show="selectedOption.id == 1">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <strong>Adesões municipais</strong>
                    </div>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats['tenants'].num_signups || 0"></span>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats['tenants'].num_tenants || 0"></span>
                            <small><a ui-sref="tenant_browser" uib-tooltip="Ver municípios ativos"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats['tenants'].num_pending_setup || 0"></span>
                        </div>
                    </div>
                </h1>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            realizadas
                        </div>
                        <div class="col-md-4">
                            municípios configurados
                        </div>
                        <div class="col-md-4">
                            em configuração
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Adesões estaduais</strong></div>
                <h1 class="panel-body"><span ng-bind="stats['ufs'].num_ufs || 0"></span></h1>
                <div class="panel-footer">realizadas</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" ui-sref="pending_tenant_signups" style="cursor: pointer">
                <div class="panel-heading"><strong>Adesões pendentes</strong></div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-6" style="padding-right: 0px;">
                            <span ng-bind="stats['tenants'].num_pending_signups || 0"></span>
                            <small><a ui-sref="pending_tenant_signups" uib-tooltip="Ver adesões municipais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-6" style="padding-right: 0px;">
                            <span ng-bind="stats['ufs'].num_pending_state_signups || 0"></span>
                            <small><a ui-sref="pending_state_signups" uib-tooltip="Ver adesões estaduais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                    </div>
                </h1>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            municipais
                        </div>
                        <div class="col-md-6">
                            estaduais
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" style="height: 175px;">
                <div class="panel-heading" style="background-color: #5cb85c; color: #ffffff">
                    <strong>Re(matrículas)</strong>
                </div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span style="color: #5cb85c; font-size: 40px;" ng-bind="stats['cases'].enrollment "></span>
                            <small>
                                <i class="fa fa-info-circle" uib-tooltip="em andamento/ dentro da escola + concluídos"
                                   style="color: #5cb85c"></i>
                            </small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Alertas | Total: {{stats['alerts'].total || 0}}</strong>
                </div>

                <h1 class="panel-body" style="min-height: 174px; padding-top: 10%;">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats['alerts'].approved || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats['alerts'].pending  || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats['alerts'].rejected  || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">aprovados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e encaminhados para a etapa de pesquisa."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">pendentes
                                <i uib-tooltip="Alertas recebidos pelo(a) Supervisor(a) Institucional, mas ainda não analisados."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">rejeitados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e rejeitados."
                                   class="fa fa-info-circle"></i></small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Casos | Total: <span ng-bind="stats['cases'].total || 0"></span></strong>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats['cases'].in_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats['cases'].out_of_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats['cases'].in_observation || 0"></span>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">concluídos
                <i uib-tooltip="Casos concluídos: caso finalizado com sucesso após a 4ª observação"
                   class="fa fa-info-circle"></i></span>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>fora da escola
                  <i uib-tooltip="Casos em andamento: de pesquisa até (re)matrícula"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>dentro da escola
                  <i uib-tooltip="Estudantes (re)matriculados: de 1ª à 4ª observação"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats['cases'].cancelled || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats['cases'].transferred || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats['cases'].interrupted || 0"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">cancelados
                <i uib-tooltip="Caso cancelado: em qualquer etapa do processo" class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                transferidos
                <i uib-tooltip="Casos que foram transferidos para outros municípios que fizeram adesão à Busca Ativa Escolar"
                   class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                interrompidos
                <i uib-tooltip="Estudantes que evadiram durante as etapas de observação e cujo o caso original foi interrompido e caso correlato foi criado na etapa de pesquisa"
                   class="fa fa-info-circle"></i></span>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>

    <div id="ciclo_2" ng-show="selectedOption.id == 2">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <strong>Adesões municipais</strong>
                    </div>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_signups || 0"></span>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_tenants || 0"></span>
                            <small><a ui-sref="tenant_browser" uib-tooltip="Ver municípios ativos"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_pending_setup || 0"></span>
                        </div>
                    </div>
                </h1>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            realizadas
                        </div>
                        <div class="col-md-4">
                            municípios configurados
                        </div>
                        <div class="col-md-4">
                            em configuração
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Adesões estaduais</strong></div>
                <h1 class="panel-body">
                    <span ng-bind="stats_ciclo_2.num_ufs || 0"></span>
                </h1>
                <div class="panel-footer">realizadas</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" ui-sref="pending_tenant_signups" style="cursor: pointer">
                <div class="panel-heading"><strong>Adesões pendentes</strong></div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_2.num_pending_signups || 0"></span>
                            <small><a ui-sref="pending_tenant_signups" uib-tooltip="Ver adesões municipais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_2.num_pending_state_signups || 0"></span>
                            <small><a ui-sref="pending_state_signups" uib-tooltip="Ver adesões estaduais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                    </div>
                </h1>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            municipais
                        </div>
                        <div class="col-md-6">
                            estaduais
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" style="height: 175px;">
                <div class="panel-heading" style="background-color: #5cb85c; color: #ffffff">
                    <strong>Re(matrículas)</strong>
                </div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
              <span style="color: #5cb85c; font-size: 40px;"
                    ng-bind="stats_ciclo_2.num_children_in_observation + stats_ciclo_2.num_children_in_school "></span>
                            <small>
                                <i class="fa fa-info-circle" uib-tooltip="em andamento/ dentro da escola + concluídos"
                                   style="color: #5cb85c"></i>
                            </small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Alertas | Total:
                        <span ng-bind="stats_ciclo_2.num_total_alerts || 0"></span>
                    </strong>
                </div>

                <h1 class="panel-body" style="min-height: 174px; padding-top: 10%;">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_pending_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_rejected_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">aprovados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e encaminhados para a etapa de pesquisa."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">pendentes
                                <i uib-tooltip="Alertas recebidos pelo(a) Supervisor(a) Institucional, mas ainda não analisados."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">rejeitados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e rejeitados."
                                   class="fa fa-info-circle"></i></small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Casos | Total: {{ stats_ciclo_2.num_children_in_school +
                    stats_ciclo_2.num_children_out_of_school +
                    stats_ciclo_2.num_children_in_observation +
                    stats_ciclo_2.num_children_cancelled +
                    stats_ciclo_2.num_children_transferred +
                    stats_ciclo_2.num_children_interrupted}}</strong>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_children_in_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_children_out_of_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_2.num_children_in_observation || 0"></span>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">concluídos
                <i uib-tooltip="Casos concluídos: caso finalizado com sucesso após a 4ª observação"
                   class="fa fa-info-circle"></i></span>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>fora da escola
                  <i uib-tooltip="Casos em andamento: de pesquisa até (re)matrícula"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>dentro da escola
                  <i uib-tooltip="Estudantes (re)matriculados: de 1ª à 4ª observação"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_2.num_children_cancelled || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_2.num_children_transferred || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_2.num_children_interrupted || 0"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">cancelados
                <i uib-tooltip="Caso cancelado: em qualquer etapa do processo" class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                transferidos
                <i uib-tooltip="Casos que foram transferidos para outros municípios que fizeram adesão à Busca Ativa Escolar"
                   class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                interrompidos
                <i uib-tooltip="Estudantes que evadiram durante as etapas de observação e cujo o caso original foi interrompido e caso correlato foi criado na etapa de pesquisa"
                   class="fa fa-info-circle"></i></span>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>

    <div id="ciclo_2" ng-show="selectedOption.id == 3">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <strong>Adesões municipais</strong>
                    </div>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_signups || 0"></span>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_tenants || 0"></span>
                            <small><a ui-sref="tenant_browser" uib-tooltip="Ver municípios ativos"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_pending_setup || 0"></span>
                        </div>
                    </div>
                </h1>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            realizadas
                        </div>
                        <div class="col-md-4">
                            municípios configurados
                        </div>
                        <div class="col-md-4">
                            em configuração
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Adesões estaduais</strong></div>
                <h1 class="panel-body">
                    <span ng-bind="stats_ciclo_3.num_ufs || 0"></span>
                </h1>
                <div class="panel-footer">realizadas</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" ui-sref="pending_tenant_signups" style="cursor: pointer">
                <div class="panel-heading"><strong>Adesões pendentes</strong></div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_3.num_pending_signups || 0"></span>
                            <small><a ui-sref="pending_tenant_signups" uib-tooltip="Ver adesões municipais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_3.num_pending_state_signups || 0"></span>
                            <small><a ui-sref="pending_state_signups" uib-tooltip="Ver adesões estaduais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                    </div>
                </h1>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            municipais
                        </div>
                        <div class="col-md-6">
                            estaduais
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" style="height: 175px;">
                <div class="panel-heading" style="background-color: #5cb85c; color: #ffffff">
                    <strong>Re(matrículas)</strong>
                </div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
              <span style="color: #5cb85c; font-size: 40px;"
                    ng-bind="stats_ciclo_3.num_children_in_observation + stats_ciclo_3.num_children_in_school "></span>
                            <small>
                                <i class="fa fa-info-circle" uib-tooltip="em andamento/ dentro da escola + concluídos"
                                   style="color: #5cb85c"></i>
                            </small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Alertas | Total:
                        <span ng-bind="stats_ciclo_3.num_total_alerts || 0"></span>
                    </strong>
                </div>

                <h1 class="panel-body" style="min-height: 174px; padding-top: 10%;">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_pending_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_rejected_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">aprovados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e encaminhados para a etapa de pesquisa."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">pendentes
                                <i uib-tooltip="Alertas recebidos pelo(a) Supervisor(a) Institucional, mas ainda não analisados."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">rejeitados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e rejeitados."
                                   class="fa fa-info-circle"></i></small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Casos | Total: {{ stats_ciclo_3.num_children_in_school +
                    stats_ciclo_3.num_children_out_of_school +
                    stats_ciclo_3.num_children_in_observation +
                    stats_ciclo_3.num_children_cancelled +
                    stats_ciclo_3.num_children_transferred +
                    stats_ciclo_3.num_children_interrupted}}</strong>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_children_in_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_children_out_of_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_3.num_children_in_observation || 0"></span>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">concluídos
                <i uib-tooltip="Casos concluídos: caso finalizado com sucesso após a 4ª observação"
                   class="fa fa-info-circle"></i></span>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>fora da escola
                  <i uib-tooltip="Casos em andamento: de pesquisa até (re)matrícula"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>dentro da escola
                  <i uib-tooltip="Estudantes (re)matriculados: de 1ª à 4ª observação"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_3.num_children_cancelled || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_3.num_children_transferred || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_3.num_children_interrupted || 0"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">cancelados
                <i uib-tooltip="Caso cancelado: em qualquer etapa do processo" class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                transferidos
                <i uib-tooltip="Casos que foram transferidos para outros municípios que fizeram adesão à Busca Ativa Escolar"
                   class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                interrompidos
                <i uib-tooltip="Estudantes que evadiram durante as etapas de observação e cujo o caso original foi interrompido e caso correlato foi criado na etapa de pesquisa"
                   class="fa fa-info-circle"></i></span>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <div id="ciclo_2" ng-show="selectedOption.id == 4">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <strong>Adesões municipais</strong>
                    </div>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_signups || 0"></span>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_tenants || 0"></span>
                            <small><a ui-sref="tenant_browser" uib-tooltip="Ver municípios ativos"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_pending_setup || 0"></span>
                        </div>
                    </div>
                </h1>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            realizadas
                        </div>
                        <div class="col-md-4">
                            municípios configurados
                        </div>
                        <div class="col-md-4">
                            em configuração
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Adesões estaduais</strong></div>
                <h1 class="panel-body">
                    <span ng-bind="stats_ciclo_4.num_ufs || 0"></span>
                </h1>
                <div class="panel-footer">realizadas</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" ui-sref="pending_tenant_signups" style="cursor: pointer">
                <div class="panel-heading"><strong>Adesões pendentes</strong></div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_4.num_pending_signups || 0"></span>
                            <small><a ui-sref="pending_tenant_signups" uib-tooltip="Ver adesões municipais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_4.num_pending_state_signups || 0"></span>
                            <small><a ui-sref="pending_state_signups" uib-tooltip="Ver adesões estaduais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                    </div>
                </h1>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            municipais
                        </div>
                        <div class="col-md-6">
                            estaduais
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" style="height: 175px;">
                <div class="panel-heading" style="background-color: #5cb85c; color: #ffffff">
                    <strong>Re(matrículas)</strong>
                </div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
              <span style="color: #5cb85c; font-size: 40px;"
                    ng-bind="stats_ciclo_4.num_children_in_observation + stats_ciclo_4.num_children_in_school "></span>
                            <small>
                                <i class="fa fa-info-circle" uib-tooltip="em andamento/ dentro da escola + concluídos"
                                   style="color: #5cb85c"></i>
                            </small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Alertas | Total:
                        <span ng-bind="stats_ciclo_4.num_total_alerts || 0"></span>
                    </strong>
                </div>

                <h1 class="panel-body" style="min-height: 174px; padding-top: 10%;">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_pending_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_rejected_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">aprovados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e encaminhados para a etapa de pesquisa."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">pendentes
                                <i uib-tooltip="Alertas recebidos pelo(a) Supervisor(a) Institucional, mas ainda não analisados."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">rejeitados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e rejeitados."
                                   class="fa fa-info-circle"></i></small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Casos | Total: {{ stats_ciclo_4.num_children_in_school +
                    stats_ciclo_4.num_children_out_of_school +
                    stats_ciclo_4.num_children_in_observation +
                    stats_ciclo_4.num_children_cancelled +
                    stats_ciclo_4.num_children_transferred +
                    stats_ciclo_4.num_children_interrupted}}</strong>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_children_in_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_children_out_of_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_4.num_children_in_observation || 0"></span>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">concluídos
                <i uib-tooltip="Casos concluídos: caso finalizado com sucesso após a 4ª observação"
                   class="fa fa-info-circle"></i></span>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>fora da escola
                  <i uib-tooltip="Casos em andamento: de pesquisa até (re)matrícula"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>dentro da escola
                  <i uib-tooltip="Estudantes (re)matriculados: de 1ª à 4ª observação"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_4.num_children_cancelled || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_4.num_children_transferred || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_4.num_children_interrupted || 0"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">cancelados
                <i uib-tooltip="Caso cancelado: em qualquer etapa do processo" class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                transferidos
                <i uib-tooltip="Casos que foram transferidos para outros municípios que fizeram adesão à Busca Ativa Escolar"
                   class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                interrompidos
                <i uib-tooltip="Estudantes que evadiram durante as etapas de observação e cujo o caso original foi interrompido e caso correlato foi criado na etapa de pesquisa"
                   class="fa fa-info-circle"></i></span>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
    <div id="ciclo_2" ng-show="selectedOption.id == 5">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <strong>Adesões municipais</strong>
                    </div>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_signups || 0"></span>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_tenants || 0"></span>
                            <small><a ui-sref="tenant_browser" uib-tooltip="Ver municípios ativos"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_pending_setup || 0"></span>
                        </div>
                    </div>
                </h1>

                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-4">
                            realizadas
                        </div>
                        <div class="col-md-4">
                            municípios configurados
                        </div>
                        <div class="col-md-4">
                            em configuração
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default">
                <div class="panel-heading"><strong>Adesões estaduais</strong></div>
                <h1 class="panel-body">
                    <span ng-bind="stats_ciclo_5.num_ufs || 0"></span>
                </h1>
                <div class="panel-footer">realizadas</div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" ui-sref="pending_tenant_signups" style="cursor: pointer">
                <div class="panel-heading"><strong>Adesões pendentes</strong></div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_5.num_pending_signups || 0"></span>
                            <small><a ui-sref="pending_tenant_signups" uib-tooltip="Ver adesões municipais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                        <div class="col-md-6">
                            <span ng-bind="stats_ciclo_5.num_pending_state_signups || 0"></span>
                            <small><a ui-sref="pending_state_signups" uib-tooltip="Ver adesões estaduais pendentes"><i
                                    class="fa fa-arrow-circle-right"></i></a></small>
                        </div>
                    </div>
                </h1>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-md-6">
                            municipais
                        </div>
                        <div class="col-md-6">
                            estaduais
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">
            <div class="panel panel-default" style="height: 175px;">
                <div class="panel-heading" style="background-color: #5cb85c; color: #ffffff">
                    <strong>Re(matrículas)</strong>
                </div>
                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-12 text-center">
              <span style="color: #5cb85c; font-size: 40px;"
                    ng-bind="stats_ciclo_5.num_children_in_observation + stats_ciclo_5.num_children_in_school "></span>
                            <small>
                                <i class="fa fa-info-circle" uib-tooltip="em andamento/ dentro da escola + concluídos"
                                   style="color: #5cb85c"></i>
                            </small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Alertas | Total:
                        <span ng-bind="stats_ciclo_5.num_total_alerts || 0"></span>
                    </strong>
                </div>

                <h1 class="panel-body" style="min-height: 174px; padding-top: 10%;">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_pending_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_rejected_alerts || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">aprovados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e encaminhados para a etapa de pesquisa."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">pendentes
                                <i uib-tooltip="Alertas recebidos pelo(a) Supervisor(a) Institucional, mas ainda não analisados."
                                   class="fa fa-info-circle"></i></small>
                        </div>

                        <div class="col-md-4">
                            <small style="font-size: 12px">rejeitados
                                <i uib-tooltip="Alertas analisados pelo(a) Supervisor(a) Institucional e rejeitados."
                                   class="fa fa-info-circle"></i></small>
                        </div>
                    </div>
                </h1>
            </div>
        </div>

        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Casos | Total: {{ stats_ciclo_5.num_children_in_school +
                    stats_ciclo_5.num_children_out_of_school +
                    stats_ciclo_5.num_children_in_observation +
                    stats_ciclo_5.num_children_cancelled +
                    stats_ciclo_5.num_children_transferred +
                    stats_ciclo_5.num_children_interrupted}}</strong>
                </div>

                <h1 class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_children_in_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_children_out_of_school || 0"></span>
                        </div>

                        <div class="col-md-4">
                            <span ng-bind="stats_ciclo_5.num_children_in_observation || 0"></span>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">concluídos
                <i uib-tooltip="Casos concluídos: caso finalizado com sucesso após a 4ª observação"
                   class="fa fa-info-circle"></i></span>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>fora da escola
                  <i uib-tooltip="Casos em andamento: de pesquisa até (re)matrícula"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="line-height: 12px;">
                <span style="font-size: 12px">em andamento/ <br/>dentro da escola
                  <i uib-tooltip="Estudantes (re)matriculados: de 1ª à 4ª observação"
                     class="fa fa-info-circle"></i></span>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_5.num_children_cancelled || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_5.num_children_transferred || 0"></span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div style="margin-top: 20px;">
                                <span ng-bind="stats_ciclo_5.num_children_interrupted || 0"></span>
                            </div>
                        </div>

                        <div class="col-md-4">
              <span style="font-size: 12px">cancelados
                <i uib-tooltip="Caso cancelado: em qualquer etapa do processo" class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                transferidos
                <i uib-tooltip="Casos que foram transferidos para outros municípios que fizeram adesão à Busca Ativa Escolar"
                   class="fa fa-info-circle"></i></span>
                        </div>
                        <div class="col-md-4">
              <span style="font-size: 12px">
                interrompidos
                <i uib-tooltip="Estudantes que evadiram durante as etapas de observação e cujo o caso original foi interrompido e caso correlato foi criado na etapa de pesquisa"
                   class="fa fa-info-circle"></i></span>
                        </div>
                    </div>
                </h1>
            </div>
        </div>
    </div>
</div>