<div>
    <table class="table table-hover" ng-if="isReady() && hasNotifications()">
        <thead>
        <tr>
            <th style="text-align: center; vertical-align: middle;">Usuário que criou a Notificação</th>
            <th style="text-align: center; vertical-align: middle;">Data de Abertura</th>
            <th style="text-align: center; vertical-align: middle;">Conteúdo da Notificação</th>
            <th style="text-align: center; vertical-align: middle;">Resolver Notificação?</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(i, notification) in getNotifications()">
            <td style="text-align: center; vertical-align: middle; cursor: pointer;" ng-click="redirectToLink('/children/view/' + notification.link + '/comments')">
                <span ng-bind="notification.user_name" style="color: black;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"></span>
            </td>
            <td style="text-align: center; vertical-align: middle; cursor: pointer;" ng-click="redirectToLink('/children/view/' + notification.link + '/comments')">                
                <div style="height: 100%; width: 100%">
                    <span ng-bind="notification.create_date" style="color: black;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"></span>
                </div>              
            </td>
            <td style="text-align: justify; vertical-align: middle; cursor: pointer;" ng-click="redirectToLink('/children/view/' + notification.link + '/comments')">
                <span ng-bind="notification.notification" style="color: black;" onmouseover="this.style.color='blue'" onmouseout="this.style.color='black'"></span>
            </td>
            <td>
                <a type="button" ng-click="solveNotification(notification.id)"
                   class="btn btn-raised btn-default pull-right" title="Comentar e fechar notificação;">
                    <i class="fa fa-ban"></i> Fechar notificação
                </a>
                <a type="button" ng-click="redirectToLink('/children/view/' + notification.link + '/comments')"
                   class="btn btn-raised btn-default pull-right" title="Comentar e fechar notificação;">
                    Abrir caso
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-info" ng-show="isReady() && !hasNotifications()">
        Você não tem notificações.
    </div>
</div>
