<div>

	<div class="clearfix"  ng-if="isMapReady()">
		<app-city-select on-select="onSearch"></app-city-select>
	</div>
	<div class="text-center"  ng-if="!isMapReady()">
	<span class="glyphicon glyphicon-map-marker" style="font-size: 50px; color: #EA4335"></span>
		<p>Clique no botão VER MAPA para ver a localização dos casos</p>
		<button type="button" class="btn btn-raised btn-info" ng-click="showMaps()"><i class="glyphicon glyphicon glyphicon-eye-open"></i> Ver Mapa</button>
	</div>


	<ui-gmap-google-map events="ctrl.events" center="mapCenter" zoom="mapZoom" draggable="true" style="height: 400px" ng-if="isMapReady()">
		<ui-gmap-markers idKey="'id'" models='coordinates' coords="'self'" type="'cluster'" typeOptions="clustererOptions" click="onMarkerClick"></ui-gmap-markers>
	</ui-gmap-google-map>



	<div class="legend" ng-if="isMapReady()">
		<table class="table">
			<thead>
				<tr>
					<th colspan="4">Legenda</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><img src="/images/single_pin.png" style="margin: -8px;" alt="Único pin vermelho" /></td>
					<td>1 (um) caso em andamento</td>
					<td style="background-color: #ff0000; width: 50px; height: 50px;"></td>
					<td>de 100 a 999 casos em andamento</td>
				</tr>
				<tr>
					<td style="background-color: #008cff; width: 50px; height: 50px;"></td>
					<td>de 1 a 9 casos em andamento</td>
					<td style="background-color: #ff00ed; width: 50px; height: 50px;"></td>
					<td>de 1000 a 9999 casos em andamento</td>

				</tr>
				<tr>
					<td style="background-color: #ffbf00; width: 50px; height: 50px;"></td>
					<td>de 10 a 99 casos em andamento</td>
					<td style="background-color: #9c00ff; width: 50px; height: 50px;"></td>
					<td>acima de 10000 casos em andamento</td>
				</tr>
			</tbody>
		</table>
	</div>

</div>
